﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row footer-container">
 <!--News Letter Widget-->
    <div class="Newsletter hidden-xs" id="FooterContent">
        <center>
            <div class="container ">
                <div id="NewsLetterSignUp">
                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </center>
    </div>
    <div class="footer-information">
        <div class="footer_infoContainer">
            <div class="col-xs-12 col-sm-12 col-md-12 footer-shop mobile-no-padding">
                <!--Contact Us-->
                <div class="col-xs-12  col-sm-3 footer-shop" itemscope itemtype="http://schema.org/WebPage">
                    <div class="widget hidden-xs-down hidden-xs">
                        <div class="header-footer">
                            <h3>@WebStore_Resources.LinkTextContactus</h3>
                        </div>
                        <div class="Footer-Contactus-Section" data-test-selector="divFooterHelpWidget" id="widgetContactSections">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "FooterContactSection", "2244", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up hidden-lg hidden-md hidden-sm">
                        <div role="tab" id="headingOne">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    @WebStore_Resources.LinkTextContactus
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                <div class="footer-help-section-link" data-test-selector="divFooterHelpWidget" id="widgetContactSectionsMobile">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--FAQ's-->
                <div class="col-xs-12  col-sm-3 footer-shop" itemscope itemtype="http://schema.org/WebPage">
                    <div class="widget hidden-xs-down hidden-xs">
                        <div class="header-footer">
                            <h3>@WebStore_Resources.LabelAwctFAQ</h3>
                        </div>
                        <div class="footer-help-section-link" id="widgetFaq">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "FooterFaqSection", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up hidden-lg hidden-md hidden-sm">
                        <div role="tab" id="headingTwo">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold" -test-selector="lblFooterHelpHeading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    @WebStore_Resources.LabelAwctFAQ
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                <div class="footer-help-section-link" data-test-selector="divFooterHelpWidget" id="widgetFaqMobile">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Policies-->
                <div class="col-xs-12  col-sm-3 footer-shop" itemscope itemtype="http://schema.org/WebPage">
                    <div class="widget hidden-xs-down hidden-xs">
                        <div class="header-footer">
                            <h3 data-test-selector="lblFooterInfoHeading">@WebStore_Resources.LabelAwctPolicies</h3>
                        </div>
                        <div data-test-selector="divFooterInfoWidget" id="widgetPolicy">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "FooterPolicySection", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up hidden-lg hidden-md hidden-sm">
                        <div role="tab" id="headingThree">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    @WebStore_Resources.LabelAwctPolicies
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-block" data-test-selector="divFooterInfoWidget" id="widgetPolicyMobile">

                            </div>
                        </div>
                    </div>
                </div>
                <!--We Accept-->
                <div class="col-xs-12  col-sm-3 footer-shop" itemscope itemtype="http://schema.org/WebPage">
                    <div class="widget hidden-xs-down hidden-xs">
                        <div class="header-footer">
                            <h3 data-test-selector="lblFooterInfoHeading">@WebStore_Resources.LinkTextWeAccept</h3>
                        </div>
                        <div data-test-selector="divFooterInfoWidget" id="widgetWeAccept">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "FooterWeAccept", "2265", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up hidden-lg hidden-md hidden-sm">
                        <div role="tab" id="headingFour">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    @WebStore_Resources.LinkTextWeAccept
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="card-block" data-test-selector="divFooterInfoWidget">
                                <div id="weacceptcard" data-test-selector="divPaymentGatewayList">
                                    <br><br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row footer-Share" itemscope itemtype="http://schema.org/WebPage">
    <div class="footer-shareinformation">
        <div class="footer_infoContainer">
            <div class="col-xs-12 col-sm-4 footer-shareicon hidden-xs" data-test-selector="divSocialMediaList">
                <!--Socal Media Widget-->
                <b class="hidden-xs hidden-sm">@WebStore_Resources.LabelShareUs</b>
                <div id="WidgetSocialMedia">
                    <z-widget>@Html.WidgetPartial("LinkPanel", "SocialMedia", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-7 icon">
                <div class="col-lg-12 col-md-12 footer-center-text mobile-no-padding">
                    @Html.RenderMessage("FooterAddressContent")
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 icon1 hidden-sm">
                @Html.RenderMessage("FooterAuthorizedLink")
                <div class="hidden-sm hidden-lg hidden-md pull-left margin-top" id="WidgetSocialMediaMobile"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="footcopyright">
        <div class="container">
            <div class="row text-center">
                <div class="nopadding footer-copyright-text">
                    <p data-test-selector="lblFooterCopyRight">@Html.RenderMessage("FooterCopyrightText")</p>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#layout" class="back-to-top"><span class="hidden">BackonTop</span><i class="zf-up"></i></a>
<script>
    $(document).ready(function () {
        $("#widgetContactSections").clone().appendTo("#widgetContactSectionsMobile"),
            $("#widgetFaq").clone().appendTo("#widgetFaqMobile"),
            $("#widgetPolicy").clone().appendTo("#widgetPolicyMobile"),
            $("#widgetWeAccept").clone().appendTo("#weacceptcard"),
            $("#WidgetSocialMedia").clone().appendTo("#WidgetSocialMediaMobile")
    });
</script>