﻿@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}
@if (Request.IsAuthenticated)
{
    string message = GlobalAttributeHelper.GetUserMessage();
    if (string.IsNullOrEmpty(message))
    {
        <div class="container">
            <div class="row">
                <div class="col p-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center user-promotion-msg">
                                @message
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}
<div class="container">
    <div class="row">
        <div class="col p-0 home-slider">
            <!--Home Page Slider Widget-->
            <z-widget>@Html.WidgetPartialAjax("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col advertisement-banner">
            <!--Advertisement Banner Widget-->
            <z-widget>@Html.WidgetPartialAjax("OfferBanner", "AdvertisementBanner", "110", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>

<div class="container-fluid featured-products">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col featured-products-block">
                    <z-widget>@Html.WidgetPartialAjax("ProductList", "Featured Products", "666", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId) </z-widget>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col p-0">
            <!--BestSelling Widget-->
            <z-widget>@Html.WidgetPartialAjax("CategoryList", "Category List", "1992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>