﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Helpers
@using Znode.Engine.WebStore.Agents
@model IEnumerable<OrdersViewModel>

@if (Model.Any())
{
    <div class="account-recent-orders table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>@WebStore_Resources.TitleSummary</th>
                    <th>@WebStore_Resources.TitleDate</th>
                    <th>@WebStore_Resources.TitleOrderNumber</th>
                    <th>@WebStore_Resources.TitleTotal</th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    <tr>
                        <td>
                            <a href="/User/OrderReceipt?omsOrderId=@items.OmsOrderId">
                                <span class="recent-order-product">@WebUtility.HtmlDecode(@items.OrderItem)</span>
                                <div class="recent-order-meta">
                                    <div class="order-meta-items">
                                        @if (items.ItemCount > 1)
                                        {
                                            <span>Plus @(items.ItemCount - 1) other items</span>
                                        }
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class="recent-order-date">
                            @items.OrderDate.ToDateTimeFormat()
                        </td>
                        <td class="recent-order-id">
                            @items.OrderNumber
                        </td>
                        <td class="recent-order-total">
                            @Helper.FormatPriceWithCurrency(items.Total, items.CultureCode)
                        </td>
                        @*<td class="recent-order-reorder">
                            <a href="/User/ReorderProducts?omsOrderId=@items.OmsOrderId">@WebStore_Resources.TextReoder</a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-xs-12 nopadding">
        <p>@WebStore_Resources.TextNoOrders</p>
    </div>
}