﻿@using Znode.Engine.WebStore.ViewModels
@model List<LinkProductViewModel>

<!---Link Product Widget Such as You may also like, Frequently bought like product List-->
@{bool navigationFlag = false; }

@if (Model?.Count > 0)
{

    int counter = 0;
    foreach (var p in Model)
    {
	
        navigationFlag = p?.PublishProduct?.Count > 5 ? true : false;
        string _id = $"Link_Products_Widget{counter++}";

        @*if (p?.PublishProduct?.Count > 0)
            {
                <h4 class="product-list-title">@p.AttributeName</h4>
            }*@
        <div class="owl-carousel Link_Products_Widget" id="@_id">
            @foreach (var item in p.PublishProduct)
            {
			
                @*@Html.Partial("../Product/_ProductList", item)*@
                @Html.Partial("../Product/_LinkedProductList", item)
            }
        </div>
        <script>
            $("#@_id").owlCarousel(
                {
                    autoPlay:!1,navigation:@navigationFlag.ToString().ToLower(),items:5,itemsCustom:[[0,1],[320,1],[480,2],[600,2],[768,3],[992,4],[1200,5],[1900,7]],navigationText:["<i class='zf-arrow-left-big'></i>","<i class='zf-arrow-right-big'></i>"]});
        </script>
    }
}
<script>
    jQuery("img").bind("error", function (a) { this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png" }), $(document).ready(function () { });

    function clickme(t, c) { var r = $("#" + c).attr("abc"); $("#" + t).attr("src", r) } function out(t, c) { $("#" + t).attr("src", c) }
</script>

