﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
    string _isDisplayGuestcheckout = Convert.ToString(Request.QueryString["returnUrl"])?.ToLower() == "~/checkout" ? "checkout-guest" : "checkout-new";
}
<div class="container">
    <div class="col-xs-12 nopadding login-container">
        <div class="col-xs-12 nopadding">
            <h2 data-test-selector="lblLoginHeading">@WebStore_Resources.TitleCustomerLogin</h2>
            <div class="col-xs-12 nopadding inner-container">
                <div class="col-xs-12 col-sm-6 col-md-7 login-modal">
                    <form method="POST" class="login-form form">
                        @Html.AntiForgeryToken()
                        <div class="col-xs-12 col-sm-11 col-md-8">
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label data-test-selector="lblLoginUserName" for="login_username">@WebStore_Resources.ColumnUsername</label>
                                </div>
                                <div class="col-xs-12 left-inner-icon nopadding">
                                    <i class="zf-login-user login-icon"></i>
                                    @Html.TextBoxFor(model => model.Username, new { @id = "login_username", @data_test_selector="txtUserName" })
                                    <p class="error-msg" data-test-selector="lblUserNameErrMsg">@Html.ValidationMessageFor(m => m.Username)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label  data-test-selector="lblLoginPassword"for="login_password">@WebStore_Resources.ColumnPassword</label>
                                </div>
                                <div class="col-xs-12 left-inner-icon nopadding">
                                    <i class="zf-key login-icon"></i>
                                    @Html.PasswordFor(model => model.Password, new { @id = "login_password", @data_test_selector="txtLoginPassword" })
                                    <p class="error-msg" data-test-selector="lblPasswordErrMsg">@Html.ValidationMessageFor(m => m.Password)</p>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding">
                                <button data-test-selector="btnLoginButton" type="submit" class="btn-text-login btn-bg-primary" onclick="User.prototype.AppendLoaderOnSubmit()" id="loginButton">@WebStore_Resources.ButtonLogin</button>
                            </div>
                            <div class="col-xs-12 margin-top-bottom nopadding">
                                <div class="col-xs-12 col-sm-6 nopadding styled-input remember-me">
                                    <input @rememberMeStatus type="checkbox" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
                                    <label data-test-selector="lblRememberMe" for="RememberMe">@WebStore_Resources.RememberMe</label>
                                    <input type="hidden" value="false" name="RememberMe">
                                </div>
                                <div class="col-xs-12 col-sm-6 nopadding">
                                    @if (ViewBag.CheckoutLogin != null)
                                    {
                                        @Html.Hidden("returnUrl", "~/Checkout")
                                    }
                                    <a data-test-selector="linkForgetPassword" href="/user/forgotpassword" class="login-form-forgotpassword" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-11 col-md-8">
                        @Html.Partial("_ExternalLoginsListPartial")
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 account-signup-container @_isDisplayGuestcheckout">
                    <div id="layout-account-login">
                        <div class="user-icon img-circle">
                            <i class="zf-login-user"></i>
                        </div>
                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                            <h3>@WebStore_Resources.TitleNewCustomer</h3>
                            <p class="margin-bottom">
                                @WebStore_Resources.TextNewCustomer
                            </p>
                            <a href="/User/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="btn-text-full btn-bg-secondary account-signup-link" data-test-selector="btnGetAnAccount"><i class="zf-checkout"></i> @WebStore_Resources.LinkTextGetAnAccount</a>
                        </div>
                        @if (!Convert.ToBoolean(new AuthenticationHelper().IsAuthorizationMandatory()))
                        {
                            <div class="col-xs-12 col-sm-offset-1 col-sm-10 checkout-guest-container">
                                <h3>@WebStore_Resources.LinkTextGuestCheckout</h3>
                                <p class="margin-bottom">@Html.RenderMessage(WebStoreConstants.CheckoutAsAGuestMessage)</p>
                                <a href="/Checkout?mode=guest" class="btn-text-full btn-bg-secondary checkout-login-asguest"><i class="zf-checkout"></i>@WebStore_Resources.LinkTextGuestCheckout</a>
                            </div>
                        }
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
