﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel

<!-- Remove Old Code and Start New Code -->
<div class="col-xs-12 product-wishlist nopadding wishlistmargin popup">
      <a class="pdpbtn btn-text btn-text-icon btn-bg-secondary" data-test-selector="btnWishList" id="PopUpWishlist" data-toggle="modal" data-target="#WishlistMsg" data-id="@Model.PublishProductId" data-sku="@Model.SKU" onclick="Product.prototype.AddToWishList(this)"><i class="zf-heart"></i>@WebStore_Resources.AWCTAddtoQuotelable</a>
</div>
<div class="modal fade" id="WishlistMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="border-radius:0px;">
            <div class="modal-body margin-top">
                <button class="close closeset" type="button" data-dismiss="modal" style="position: fixed;">×</button>
                <div class="col-xs-12 wishlist-status text-center"><a id="accountWishList" href="" class=""></a></div>
            </div>
        </div>
    </div>
</div>
<!-- New Code End -->
@Html.Action("EmailToFriend", "Product")
<script>
    jQuery(document).ready(function (e) {
        $("#ProductName").val($(".product-name").html());
        jQuery('#modelEmailToFriend').trigger('click');
    });
</script>