﻿@*@model Znode.Engine.WebStore.ViewModels.ProductViewModel*@
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.ViewModels
@using Znode.WebStore.Custom.ViewModel
@model  AWCTProductViewModel
@{
    bool isGuestUser = true;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
    if (currentUser != null)
    {
        isGuestUser = currentUser.Profiles.Where(x => x.ProfileId == 5).Count() > 0 ? true : false;
    }
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string cultureCode = Model.CultureCode;
    string ParentProductSku = Model.SKU;

    string[] SplitSku = ParentProductSku.Split('_');
    string Sku = "";
    try
    {/*Nivi Change for Prefixes remove SplitSku[1] AWCT - 380*/
        Sku = SplitSku[1]; }
    catch { }
    Sku = Sku + " " + Model.ConfigurableProductName;

}
<h1 class="product-name hidden-xs">@Html.RenderBlock(Sku)</h1>
<div class="product-rating hidden-xs">
    @Html.Partial("_StarRating", Model.Rating)
    @{
        int totalreviews = 0;
        totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
        string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;

    }
    <a href="#tab-reviews" onclick="javascript: $('#tab-reviews').click();">&nbsp;@ratingText @WebStore_Resources.LinkTextReadReviews</a>

</div>
@*<div class="col-xs-12 nopadding margin-bottom">
            <p class="product-color"><b>Color:</b> ######</p>
            <p class="product-name">Page: @Html.RenderBlock(WebUtility.HtmlDecode(Model.Attributes?.Value("awctpagenum")))</p>
    </div>*@

<div class="col-xs-12 highlight-container margin-bottom nopadding">
    <div class="col-xs-12 product-highlight nopadding">
        @{
            if (Model.PublishProductId > 0)
            {
                List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                if (codesList?.Count > 0)
                {
                    string highLightsCodes = string.Join(",", codesList);
                    int publishProductId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
                    string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                    Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes, sku = sku });
                }
            }
        }
    </div>
</div>

<div class="col-xs-12 nopadding hidden">
    <div class="product-number-details">
        <div class="product-number">

            <div class="col-lg-12 col-xs-12 nopadding margin-bottom-5">
                @if (!string.IsNullOrEmpty(Model.SKU))
                {
                    <span>@WebStore_Resources.LabelProductItem:</span>
                    string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                    @Html.RenderBlock(sku)
                }
            </div>

        </div>
        <div class="product-brand">
            @if (!string.IsNullOrEmpty(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand)) && Model.IsBrandActive)
            {
                <span>@WebStore_Resources.LabelProductBrand</span>
                <a href="@Url.GetBrandUrl(Model.BrandSeoUrl, null, Model.BrandId)">
                    @Html.RenderBlock(Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand))
                </a>
            }
        </div>
    </div>
</div>
@{
    <!--Size and Price Chart-->
    Html.RenderAction("GetPriceSizeList", "AWCTProduct", new { configurableproductid = Model.ConfigurableProductId });
}



