﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@model  Znode.WebStore.Custom.ViewModel.AWCTProductViewModel

@{
   Model.CartParameter.Add("GroupProductSKUs", string.Empty);
    Model.CartParameter.Add("GroupProductsQuantity", string.Empty);
    Model.CartParameter.Add("customtext", string.Empty);
    Model.CartParameter.Add("Custom1", string.Empty);
    Model.CartParameter.Add("Custom2", string.Empty);
    Model.CartParameter.Add("Custom3", string.Empty);
    Model.CartParameter.Add("Custom4", string.Empty);
	Model.CartParameter.Add("Custom5", string.Empty);
    <input type="hidden" id="hdnCustomColorNumAndEstimateDate" value="" />
    <input type="hidden" id="hdnCustom1" value="" />
    <input type="hidden" id="hdnCustom2" value="" />
    <input type="hidden" id="hdnCustom3" value="" />
    <input type="hidden" id="hdnCustom4" value="" />
	<input type="hidden" id="hdnCustom5" value="" />


    Model.CartParameter.Add("IsPersonisable", "true");

    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    //string AWCTCatalog = Attributes.ValueFromSelectValue(Model?.Attributes, "awctcatalog");
    // Model.CartParameter.Add("Custom1", AWCTCatalog);
    string IsDutiable = Convert.ToString(Model.Attributes?.Value("IsDutiable"));
    if (IsDutiable != "True")
    { IsDutiable = "false"; }

    // Model.CartParameter.Add("Custom2", "True");
    bool isGuestUser = true;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
    if (currentUser != null)
    {
        isGuestUser = currentUser.Profiles.Where(x => x.ProfileId == 5).Count() > 0 ? true : false;
    }
    Boolean IsTrueColorFamily = Convert.ToBoolean(Model.Attributes?.Value("IsTrueColorFamily"));
    string OptionA, OptionB, OptionC, OptionD, OptionE, OptionF, OptionG, OptionH, OptionI, OptionJ, OptionR, OptionZ, AllOptions;
    AllOptions = "";
    string svgFile = Model.Attributes?.Value("SVGFileName");
    string path = "";
    int index = 0;
    index = Model.OriginalImagepath.LastIndexOf('/');
    if (index != -1)
    {
        path = Model.OriginalImagepath.Substring(0, index) + "/";
    }
    path += svgFile;
    Model.CartParameter.Add("IsRedirectToCart", "False");
}
<div class="col-xs-12 product-info">
    @if (IsTrueColorFamily)
    {
        if (AllOptions != "-A,-B,-C,-D,-E,-F,-G,-H,-I,-J,-R,-Z")
        {
            OptionA = Model.Attributes.Where(x => x.AttributeCode == "OptionA")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            OptionB = Model.Attributes.Where(x => x.AttributeCode == "OptionB")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            OptionC = Model.Attributes.Where(x => x.AttributeCode == "OptionC")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            OptionD = Model.Attributes.Where(x => x.AttributeCode == "OptionD")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            OptionE = Model.Attributes.Where(x => x.AttributeCode == "OptionE")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            OptionF = Model.Attributes.Where(x => x.AttributeCode == "OptionF")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            OptionG = Model.Attributes.Where(x => x.AttributeCode == "OptionG")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            OptionH = Model.Attributes.Where(x => x.AttributeCode == "OptionH")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";

            OptionI = Model.Attributes.Where(x => x.AttributeCode == "OptionI")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            OptionJ = Model.Attributes.Where(x => x.AttributeCode == "OptionJ")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";

            OptionR = Model.Attributes.Where(x => x.AttributeCode == "OptionR")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            OptionZ = Model.Attributes.Where(x => x.AttributeCode == "OptionZ")?.FirstOrDefault()?.SelectValues?.FirstOrDefault()?.Code ?? "";
            //AllOptions = OptionA + "," + OptionB + "," + OptionC + "," + OptionD + "," + OptionE + "," + OptionF + "," + OptionG + "," + OptionH + "," + OptionR + "," + OptionZ;
            AllOptions = OptionA + "-A," + OptionB + "-B," + OptionC + "-C," + OptionD + "-D," + OptionE + "-E," + OptionF + "-F," + OptionG + "-G," + OptionH + "-H," + OptionI + "-I,"+OptionJ + "-J," + OptionR + "-R," + OptionZ + "-Z";
        }
    }

    @*@if (isGuestUser)
    {
        <!--Customer Login Box -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 customer-login-box nopadding margin-bottom">
            @*<a id="elem" class="btn btn-bg-primary customer-login-btn" href="#"> Customer Login</a>*@
            @*<div class="col-xs-12 nopadding text-center padding-set">
            <p>@WebStore_Resources.ColumnTextViewOrderOnline<a id="elem" class="btn btn-bg-primary customer-login-btn" href="javascript:void(0)" onclick="User.prototype.LoginMethod()">@WebStore_Resources.ColumnHeaderCustomerLogin </a></p>
            </div>
            @Html.RenderMessage("PDPCustomerLoginBox")
        </div>

    }
	else
        {
            <!--Hidden Customer Login Box -->
            <div id="CustomerLoginBox" hidden class="col-lg-12 col-md-12 col-sm-12 col-xs-12 customer-login-box nopadding margin-bottom">
                @*<a id="elem" class="btn btn-bg-primary customer-login-btn" href="#"> Customer Login</a>*@
                @*<div class="col-xs-12 nopadding text-center padding-set">
                    <p>@WebStore_Resources.ColumnTextViewOrderOnline<a id="elem" class="btn btn-bg-primary customer-login-btn" href="javascript:void(0)" onclick="User.prototype.LoginMethod()">@WebStore_Resources.ColumnHeaderCustomerLogin </a></p>
                </div>
                @Html.RenderMessage("PDPCustomerLoginBox")
            </div>
        }*@
    <div class="col-xs-12 col-sm-12 col-md-12 margin-bottom nopadding">
        @if (IsTrueColorFamily)
        {
            <!--True Color Popup and other links-->
            <div class="col-xs-12 nopadding margin-top-bottom settruecolorlink">
                <ul id="PDPTrueColor">
                    <li class="setclassimp">
                        <a class="btn-text-icon btn-text-full btn-bg-secondary" href="#" data-toggle="modal" data-target="#truecolorpopup" onclick="copyTrucolorGrid();"><span class="Truecircle">&nbsp;</span>&nbsp;@WebStore_Resources.ButtonCustomizeTrueColor</a>
                    </li>
                    <li>@Html.RenderMessage("ViewDownloadSwatchesLink")</li>
                </ul>
            </div>
        }
        <div class="col-xs-12 nopadding border-bottom" id="PDPReview">
            <span>@Html.RenderMessage("QtyColorNeed")&nbsp;@Html.RenderMessage("ReviewChartLink")</span>
        </div>
        <div class="col-xs-12 product-customize nopadding">
            <div class="col-xs-12 nopadding">
                @if (PersonliseValues?.Count > 0)
                {
                    Dictionary<string, string> PersonliseCodeValue = new Dictionary<string, string>();
                    PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                    Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                }
            </div>
            <div class="col-xs-12 nopadding tier-price">
                @if (Model.TierPriceList?.Count > 0)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tier Quantity</th>
                                <th>Price/Item</th>
                                <th>You Save</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TierPriceList)
                            {
                                <tr>

                                    <td>@Convert.ToDouble(item.Quantity)</td>

                                    <td>@Helper.FormatPriceWithCurrency(item.Price, Model?.CultureCode) </td>

                                    Calculates the % savings on tier pricing
                                    <td>@Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price))) %</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="col-xs-12 addons-attributs nopadding">
                @if (isGroupProduct)
                {
                    var attributes = Model?.Attributes?.Where(x => x.IsConfigurable)?.ToList();
                    <div id="groupProductList">
                        @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId, IsCallForPricing = Model?.IsCallForPricing });}
                    </div>
                    @Html.HiddenFor(m => m.ShowAddToCart)
                }
                else
                {
                    <div class="col-xs-12 nopadding" id="dynamic-product-variations">
                        @Html.Partial("_ProductAttributes")
                    </div>
                }
                <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                    @Html.Partial("_AddOns")
                </div>
            </div>
        </div>
        <!--Calculate Total Add To Quote Summary Items-->
        @*@if (!isGuestUser)
        {*@
            <div class="col-xs-12 nopadding quote-summary margin-bottom">
                <div class="divEmptyPricing">
                    @*<p>@WebStore_Resources.TextAddItemPrice <span>&nbsp;<small>(@WebStore_Resources.TextAddCartDiscount)</small></span></p>*@
                    <p>@WebStore_Resources.TextAddItemPrice</p>
                </div>

                <div class="divCalculatedPricing" style="display:none">
                    <p>@WebStore_Resources.TextTotalItemSelect: <b id="totalQuantity">0</b>&nbsp;&nbsp;-&nbsp;&nbsp;<span class="settotalitem">@WebStore_Resources.TextCartTotal: <span class="text-success"><b id="currencySymbol">@Helper.FormatPriceWithCurrency(decimal.Zero, "", "")</b><b id="totalPrice">00.00</b></span></span></p>
                </div>
            </div>
        @*}*@

        @if (isGuestUser)
        {
            <div class="col-xs-12 product-price nopadding margin-bottom hidden">
                @if (!IsCallForPricing && !isGroupProduct)
                {
                    <h1>
                        @if (!Equals(Model.SalesPrice, null))
                        {
                            @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, null)
                            if (Model.SalesPrice != @Model.RetailPrice)
                            {
                            }
                        }
                        else
                        {
                            if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                            }
                            else
                            {
                                <span>
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, null)
                                </span>
                            }
                        }
                    </h1>
                }
                @if (isGroupProduct && !IsCallForPricing)
                {
                    <h1>
                        <span id="groupproductmessage"></span>
                    </h1>
                }
            </div>
        }
        <span id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
        <div class="col-xs-12 nopadding hidden">
            @{
                if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
                {
                    Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
                }
            }
        </div>
        <div class="col-xs-12 product-variations hidden nopadding" id="scrollReview">
            <div class="col-xs-12 nopadding your-pricing">
                <div class="col-xs-12 col-sm-7 col-md-6 nopadding">
                    @if (!IsCallForPricing && !isGroupProduct)
                    {
                        <div class="price" id="product_Detail_Price_Div">
                            <span data-test-selector="lblYourPrice">@WebStore_Resources.ColumnYourPrice</span>
                            <h3 data-test-selector="lblPriceCut" class="dynamic-product-price">@Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CultureCode, null)</h3>
                        </div>
                    }
                    @if (IsCallForPricing)
                    {
                        <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
                    }
                </div>
                <div class="col-xs-12 col-sm-5 col-md-6 nopadding">
                    @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn-text-full btn-bg-primary", "Product.prototype.BindAddOnProductSKU(this,event)", "", "Product.prototype.DisplayAddToCartMessage")
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 nopadding">
            <div class="col-xs-12 col-sm-4 nopadding">
                <div class="col-xs-12 nopadding inline-css hidden-xs">
                    <button type="button" id="btnPopUpCheckAvail" class="pdpbtn btn-text btn-text-icon btn-bg-secondary" data-toggle="modal" data-target="#CheckAvailability" style="margin: 0px 15px 0px 0px;"><i class="zf-calendar"></i>@WebStore_Resources.ButtonCheckAvailability</button>
                </div>
                <div class="col-xs-12 nopadding margin-top hidden-sm hidden-md hidden-lg">
                    <button type="button" id="btnPopUpCheckAvail" class="btn-block btn-text btn-text-icon-pdp btn-text-icon btn-bg-secondary" data-toggle="modal" data-target="#CheckAvailability"><i class="zf-calendar"></i>@WebStore_Resources.ButtonCheckAvailability</button>
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-4 nopadding">
                @Html.Partial("_AddToWishList", Model)
                <div class="col-xs-12 nopadding wishlist-status"><a id="accountWishList" href="" class=""></a></div>
            </div>*@
            @*@if (!isGuestUser)
            {*@
                <div class="col-xs-12 col-sm-4 nopadding inline-css hidden-xs">
                    @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn_outofstock pdpbtn-Margin pdpbtn btn-text btn-text-icon btn-bg-primary", "Product.prototype.BindAddOnProductSKU(this,event)", "", "Product.prototype.DisplayAddToCartMessage")
                </div>
                <div class="col-xs-12 margin-top hidden-sm hidden-md hidden-lg nopadding">
                    @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn_outofstock btn-block btn-text-icon-pdp btn-text btn-text-icon btn-bg-primary", "Product.prototype.BindAddOnProductSKU(this,event)", "", "Product.prototype.DisplayAddToCartMessage")
                </div>
            @*}*@
        </div>
    </div>
</div>
<div id='grid-content-backdrop' class='modal-backdrop fade in' style="display:none"><div id='loading' class='loader loader-body'></div></div>
<!--TRUE COLOR Popup code here-->
@if (IsTrueColorFamily)
{
    <div class="modal fade" id="truecolorpopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button class="close closeset" type="button" data-dismiss="modal" style="position:static">×</button>

                <div class="modal-body" id="truecolorpopup_body">
                    <center> <img src="../Content/Images/throbber.gif" alt="Loading">  </center>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCustomAdd" class="btn-text btn-bg-primary" data-dismiss="modal" onclick="TruColorPopUpQtyToMain();">Add</button>
                    <button type="button" class="btn-text btn-bg-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $("#btnCustomAdd").submit(function () {
        $('.awcttruecolorsfield').each(function () {
            alert('Inside-Each');
            if ($(this).val() == '') {
                alert('Inside');
            }
        });

    });
</script>
<script>
    function copyTrucolorGrid() {
        //checking if popup is already Made : checking this to avoid server hit each time button press
        var AlreadyPopUpBuild = document.getElementsByClassName('awcttruecolorsfield');
        if (AlreadyPopUpBuild.length > 0) {
            $("#truQtyTableHead").html(""), $("#truQtyTableBody").html(""), $("#dynamic-product-variations").find("thead tr:first").clone().appendTo("#truQtyTableHead"), $("#dynamic-product-variations .Personalizable").clone().appendTo("#truQtyTableBody"), $("#truQtyTableBody input[type=text]").prop("onchange", null).off(""), $("#truQtyTableBody input[type=text]").removeClass("quantitychanged"), $("#truQtyTableBody .quantity").attr("onchange", ""), $("#truQtyTableBody input[type=text]").removeClass("quantity"), $("#truQtyTableBody input[type=text]").addClass("PopupTruqty"), $("#truQtyTableBody tr:first td:first").remove(), $("#truQtyTableHead tr:first th:first").remove()
            return;
        }
         $.ajax({
            type: "GET",
            url: "/AWCTProduct/GetGlobalAttributeData",
            data : { globalAttributeCodes : '@AllOptions', svgPath : '@path' },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#truecolorpopup_body').html(response);
                //$("#truQtyTableHead").html(""), $("#truQtyTableBody").html(""),
                $("#dynamic-product-variations").find("thead tr:first").clone().appendTo("#truQtyTableHead"), $("#dynamic-product-variations .Personalizable").clone().appendTo("#truQtyTableBody"), $("#truQtyTableBody input[type=text]").prop("onchange", null).off(""), $("#truQtyTableBody input[type=text]").removeClass("quantitychanged"), $("#truQtyTableBody .quantity").attr("onchange", ""), $("#truQtyTableBody input[type=text]").removeClass("quantity"), $("#truQtyTableBody input[type=text]").addClass("PopupTruqty"), $("#truQtyTableBody tr:first td:first").remove(), $("#truQtyTableHead tr:first th:first").remove()
            },
            failure: function (response) {
			  $(".modal-backdrop").hide();
              $("#truecolorpopup").hide();
              $(".modal-backdrop").fadeOut("slow");
              ZnodeNotification.prototype.DisplayNotificationMessagesHelper("True colors details are not available.", "error", true, 10000);
            },
            error: function (response) {
			  $(".modal-backdrop").hide();
                $("#truecolorpopup").hide(); 
				$(".modal-backdrop").fadeOut("slow");
                ZnodeNotification.prototype.DisplayNotificationMessagesHelper("True colors details are not available.", "error", true, 10000);
            }
        });
     }
</script>