﻿.button-wishlist{margin:5px 5px 0 0;}
//  Medium view template
.b2b-product-view-details{box-shadow:$dividing-shadow;padding:40px 0;}

.product-overview{
    .product-info .product-price h2{font-size:$base-font-size + 6;}
}

.add-to-cart-block{display:flex;margin:10px 0;
    input{width:70px;border-radius:2px;}
    button{min-width:170px;margin-left:15px;text-transform:uppercase;}
}

.product-info .loged-out-product-details{
    .loged-out-product-title{font-size:$base-font-size + 4;}
    .loged-out-product-text{font-size:$base-font-size + 2;}
}

.product-list-widget .b2b-products .product-item .view-item .title{
    color:#424242 !important;

}

.obsolete-msg {
    font-size: 16px;

    a {
        color: #CC0000;
        text-decoration: underline;
    }
}

//  used in grouped and bundled products.
.b2b-select-quantity {
    text-transform: uppercase;
    font-family: $base-font-family-bold;
    padding: 5px 15px;
    border-bottom: 1px solid $border-light;
}

//  Grouped products
.b2b-group-products{margin:20px 0;border:1px solid $border-light;border-radius:4px;box-shadow:$box-shadow;background-color:$group-products-background;
    .b2b-group-product-details{margin:10px 0;
        .form-group{
            .group-product-list{border-bottom:1px solid $border-light;align-items:center;padding:15px 0;flex-wrap:wrap;
                img{max-width:70px;height:auto;margin-right:15px;order:1;}
                .group-item-details{width:60%;order:3;margin-top:15px;}
                .group-item-price{margin-left:auto;text-align:center;font-size:$base-font-size + 4;order:2;width:40%;align-self:flex-end;
                    .original-price{font-family:$base-font-family-bold;}
                }
                .product-details-quantity{margin-left:auto;order:4;width:40%;align-self:flex-start;text-align:center;
                    input{width:70px;border-radius:$primary-radius;}
                }
                h4{font-size:$base-font-size;font-family:$base-font-family;}
            }
            &:last-child .group-product-list{border:0;}
        }
    }
    .grouped-product-add-to-cart{border-top:1px solid $border-light;}
}

.b2b-bundle-product{margin:20px 0 30px;border:1px solid $border-light;border-radius:4px;box-shadow:$box-shadow;background-color:$group-products-background;
    .b2b-bundle-carousel .owl-carousel{
        .owl-item{padding:25px 30px;
            .bundle-item{
                .bundle-item-img{max-width:85px;}
                .bundle-item-title{font-size:$base-font-size - 1;margin:0;}
            }
        }
        .owl-controls .owl-buttons div span:before{padding:11px;}
    }
}

.b2b-dynamic-addons{padding:15px 0 0;
    .section-header{font-size:$base-font-size + 4;}
    .form-group label{font-family:$base-font-family-bold;}
}

.cut-price{color:$base-tertiary-light;text-decoration:line-through;}

/*All reviews sections*/
#product-review-container {
    .review-title {
        font-size: 16px;
    }
}
.all-reviews {
    .review-title {
        font-size: 16px;
    }

    .b2b-filters > div {
        flex: none;
    }
}
.cut-price{color:$base-tertiary-light;text-decoration:line-through;}
.product-name{overflow:hidden;text-overflow:ellipsis;font-size:28px;}
.btn-wishlist{position:absolute;top:2px;right:0;z-index:101;padding:0;border:0;font-size:$base-font-size + 2;background-color:transparent;color:$base-tertiary-light;cursor:pointer;
    &.added-to-wishlist{color:$base-primary-light;
        .heart-icon:before{border-color:$base-primary-light;background-color:$white;}
    }
    .heart-icon:before{border:2px solid $base-tertiary-light;padding:5px;border-radius:50%;background-color:$white;}
}
.b2b-email-to-friend{position:absolute;top:30px;right:0;z-index:101;padding:0;border:0;font-size:$base-font-size + 14;background-color:transparent;color:$base-tertiary-light !important;cursor:pointer;}
.color-swatch .scratch-image{text-indent:0;
    &:before,&:after{display:none;}
    .swatch-icon:before{border:2px solid transparent;font-size:$base-font-size + 14;}
    &.active .swatch-icon:before{border-color:$base-primary;}
}

.swatch-img .scratch-image{text-indent:0;
    &:before,&:after{display:none;}
    .SwatchImage{border:2px solid transparent;height:35px;width:35px;}
    &.active .SwatchImage{border-color:$base-primary;}
}

.product-short-description{font-size:$base-font-size + 2;}

.b2b-price-list{
    .b2b-price-list-head{padding:5px 0;font-family:$base-font-family-bold;color:$base-primary;text-transform:uppercase;}
    .b2b-price-list-body{width:38%;}
    .b2b-price-list-save{width:24%;font-family:$base-font-family-bold;color:$base-primary;}
}
.b2b-sku-brand{font-size:$base-font-size + 2;line-height:16px;
    span{font-family:$base-font-family-bold;}
    a{text-decoration:underline;}
    .product-number{padding-right:0;width:100%;}
    .product-brand{padding-left:0;margin-top:10px;width:100%;}
}
.b2b-product-highlight{
    ul li{height:75px;width:75px;margin:0 10px 10px 0;
        &:last-child{margin:0;}
    }
}
@include screensize(small){
    .b2b-group-products .b2b-group-product-details .form-group .group-product-list{padding:15px;flex-wrap:nowrap;
        img{max-width:85px;height:auto;margin-right:15px;}
        .group-item-details{width:40%;order:2;margin-top:0;}
        .group-item-price{order:3;align-self:center;width:auto;}
        .product-details-quantity{align-self:center;width:auto;}
    }
    .b2b-sku-brand{
        .product-number{padding-right:10px;width:auto;}
        .product-brand{padding-left:10px;margin-top:0;border-left:2px solid $text-default;width:auto;}
    }
}