﻿@using Znode.WebStore.Custom.ViewModel;
@using Znode.Engine.WebStore.Agents
@model QuoteResponseViewModel

@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_Layout.cshtml";
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.FirstOrDefault(x => x.AttributeCode == "LoginRequired")?.AttributeValue);
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
   


}
<div id="layout-account-receipt" class="main-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12 mobile-no-padding">
            <div class="col-xs-12 order-receipt right-container">
                <div class="col-xs-12 nopadding margin-bottom user-account">
                    <h4 data-test-selector="lblThanksMsg" class="margin-bottom page-title">@WebStore_Resources.QuoteCreatedThankyouText</h4>
                    <p data-test-selector="lblQuoteNoMsg">
                        @WebStore_Resources.YourQuoteNumberText <b>

                            <span data-test-selector="lblQuoteNo" class="sp-num">#@Model.QuoteNumber</span>
                        </b>
                    </p>
                    @if (Request.IsAuthenticated || IsLoginUser)
                    {
                        <p>
                            @WebStore_Resources.QuoteCreatedReviewText
                            <a data-test-selector="quotehistorylink" href="/Quote/QuoteHistory" class="sp-num">@WebStore_Resources.LabelQuoteHistory</a>
                        </p>
                    }
                    </div>

                <div class="col-xs-12 nopadding margin-bottom">
                    <a class="receipt-print float-right" href="#" onclick="window.print();return false;"><i class="zf-printer"></i> <span>@WebStore_Resources.TextPrint</span></a>
                </div>

                @Html.Partial("_QuoteReceiptDetail", Model)

            </div>
        </div>
    </div>
</div>