﻿@model Znode.Engine.Admin.ViewModels.BrandListViewModel
@using Znode.Engine.Admin.ViewModels
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>Associate Brand</h1>
            <div class="pull-right">
                @if (Equals(Model.TypeOFMapping, ZnodeCMSTypeofMappingEnum.PortalMapping.ToString()))
                {
                    <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('associateBrandList')"><i class='z-back'></i>@Admin_Resources.ButtonCancel</button>
                }
                else
                {
                    <button type="button" class="btn-text-icon" onclick="WebSite.prototype.ShowOverlayOnCancel('associateBrandList')"><i class='z-back'></i>@Admin_Resources.ButtonCancel</button>
                }
                    <div class="pull-right">
                        <button type="button" class="btn-text btn-text-secondary" onclick="WebSite.prototype.AssociateBrands(@Model.CMSWidgetsId, @Model.CMSMappingId, '@Model.WidgetsKey', '@Model.TypeOFMapping','@HttpUtility.UrlEncode(Model.DisplayName)','@HttpUtility.UrlEncode(Model.WidgetName)','@HttpUtility.UrlEncode(Model.FileName)')">@Admin_Resources.ButtonSave</button>
                    </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            @using (Ajax.BeginForm("GetUnAssociatedBrandList", "WebSite", new { cmsWidgetsId = Model.CMSWidgetsId, cmsMappingId = Model.CMSMappingId, widgetKey = Model.WidgetsKey, typeOFMapping = Model.TypeOFMapping, displayName = Model.DisplayName, widgetName = Model.WidgetName }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="notification-msg">
                <div id="AssociateError" class="error-msg text-center margin-bottom" style="display:none">@Admin_Resources.ErrorSelectRecord</div>
            </div>
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(x => x.CMSWidgetsId)
            @Html.HiddenFor(x => x.CMSMappingId)
            @Html.HiddenFor(x => x.TypeOFMapping)
            @Html.HiddenFor(x => x.WidgetsKey)
            @Html.HiddenFor(x => x.DisplayName)
            @Html.HiddenFor(x => x.WidgetName)
            @Html.HiddenFor(x => x.FileName)
        </div>
    </div>
</div>
