﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Models
@model BrandListViewModel

@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id=@Model.GridModel.FrontObjectName>
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.AssociateStores</h1>
            <div id="divSaveCancel" class="pull-right">
                <button type="button" class="btn-text-icon" onclick="Brand.prototype.AssociateBrandPortal()"><i class="z-save"></i>@Admin_Resources.ButtonSave</button>
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divBrandStoreListPopup')"><i class="z-cancel"></i>@Admin_Resources.ButtonCancel</button>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div class="col-sm-12 nopadding">
                <div class="taxClassMessageBoxContainer error-msg text-center margin-bottom" id="brandMessageBoxContainerId" data-message=""></div>
            </div>
            @using (Ajax.BeginForm("UnAssociatedStoreList", "Brand", new { area = "PIM", brandCode = Model.BrandCode, localeId = Model.LocaleId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>
