﻿@using Znode.Engine.WebStore.ViewModels
@using System.Web.Configuration;
@model PortalViewModel
@{
  string sch_url = WebConfigurationManager.AppSettings["ZnodeWebStoreUri"];
}

@*Tag Organization*@
<script type="application/ld+json">
    {
    "@@context" : "http://schema.org",
    "@@type" : "Organization",
    "@@id"  : "@sch_url",
    "name" : "@Model.Name",
    "url" : "@sch_url",
    "logo" : "@Model.WebsiteLogo",
    "contactPoint": [{
    "@@type" : "ContactPoint",
    "telephone" : "@Model.CustomerServicePhoneNumber",
    "contactType" : "customer service",
    "contactOption" : "TollFree"
    }],
    "sameAs" : [
    "https://www.facebook.com/pages/A-Wish-Come-True-Dance-Costumes/87050294152",
    "https://instagram.com/awishcometruedance/",
    "https://www.pinterest.com/wishdance/",
    "https://twitter.com/awishcometrue",
    "https://www.youtube.com/user/Awct123"
    ]
    }
</script>
@*Tag WebSite*@
<script type=application/ld+json>
    {"@@context": "http://schema.org",
    "@@type": "WebSite",
    "url": "@sch_url",
    "potentialAction": {
    "@@type": "SearchAction" ,
    "target": "@sch_url/search?SearchTerm={search_term}"
    }
    }
</script>
@*Tag LocalBusiness*@
<script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type": "LocalBusiness",
    "name": "@Model.Name",
    "image": "@Model.WebsiteLogo",
    "priceRange" : "$",
    "telephone": "@Model.CustomerServicePhoneNumber",
    "email": "@Model.CustomerServiceEmail",
    "url"  : "@sch_url",
    "address": {
    "@@context": "http://schema.org/",
    "@@type": "PostalAddress",
    "streetAddress": "2530",
    "addressLocality": "Pearl Buck Rd",
    "addressRegion": "Bristol",
    "postalCode": "19007"
    }
    }
</script>