﻿@model Znode.Engine.WebStore.ViewModels.CaseRequestViewModel
@{
    ViewBag.Title = WebStore_Resources.TitleUserFeedback;
}
<div id="layout-contactus" class="main-wrapper">

    <div class="container-fluid">
        <div class="col-xs-12 contain-pages">
            <div class="col-xs-12 mobile-no-padding">
                <h1 class="page-title">@WebStore_Resources.HeaderCustomerFeedback</h1>
            </div>

            <div class="col-xs-12 col-md-7 col-lg-6 mobile-no-padding">
                @using (Html.BeginForm("CustomerFeedback", "CaseRequest", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <p>@WebStore_Resources.CustomerFeedbackIntroText</p>

                    <div class="col-xs-12 nopadding kmirrort margin-top-bottom">
                        <div class="col-xs-12 backbackgroundset Setbordernone">
                            <div class="col-xs-12">
                                <div class="form-group floating-label">
                                    @Html.TextBoxFor(model => model.Message, new { @class = "floating-input", @placeholder = "Comments" })
                                    @*<label>@Html.Label(WebStore_Resources.LabelComments)</label>*@
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "floating-input", @placeholder = "First Name *" })
                                        <span id="valFirstNameErr" class="field-validation-error"></span>
                                        @*@Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required" })*@
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @class = "floating-input", @placeholder = "Last Name *" })
                                        <span id="valLastNameErr" class="field-validation-error"></span>
                                        @*@Html.Label(WebStore_Resources.LabelLastName, new { @class = "required" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextBoxFor(model => model.CustomerCity, new { @class = "floating-input", @placeholder = "City" })
                                        @*@Html.Label(WebStore_Resources.LabelCity)*@
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextBoxFor(model => model.CustomerState, new { @class = "floating-input", @placeholder = "State" })
                                        @*@Html.Label(WebStore_Resources.LabelState)*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmailAddress", @class = "floating-input", @placeholder = "Email Address *" })
                                        <span id="valEmailAddressErr" class="field-validation-error"></span>
                                        @*@Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required" })*@
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group styled-input">
                                    <input type="checkbox" id="allow_sharing" name="AllowSharingWithCustomer" value="true" checked="checked" /><label for="allow_sharing">@WebStore_Resources.CheckBoxTextFeedbackShare</label>
                                </div>
                            </div>
							<div class="col-xs-12">
								<div id="div-captcha">
									@Html.ZnodeCaptcha()
								</div>
							</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-left margin-top-bottom">
                            <button type="submit" class="btn-text btn-bg-primary" id="customer-feedback">@WebStore_Resources.ButtonSubmit</button>
                            <a href="/Home/Index" class="btn-text btn-bg-secondary">@WebStore_Resources.ButtonCancel</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
