﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model FormBuilderAttributeGroupViewModel
@{
    Layout = null;
    int prevGroupId = 0;
    int sequence = 1;
}
<div id="layout-formtemplate">
    <h2>@Model.FormTitle</h2>
    <div class="col-xs-12 nopadding form-builder margin-bottom">
        @if (Model?.Attributes?.Count > 0)
        {
            using (Ajax.BeginForm("Create", "FormBuilder", new AjaxOptions() { HttpMethod = "POST", OnBegin = "return Clickme();", OnComplete = "FormBuilder.prototype.FormTemplateOnSuccess" }, new { @id = "frmFormBuilder" }))
            {
                if (HelperUtility.IsNotNull(Model.Attributes))
                {
                    foreach (var ctrl in Model.Attributes)
                    {
                        int? groupId = ctrl.GlobalAttributeGroupId;
                        if (groupId == null)
                        {
                            @Html.Partial("FormBuilder/_createControl", ctrl)
                            sequence++;
                        }
                        else
                        {
                            if (prevGroupId != groupId.Value)
                            {
                                var attributesAssociatedWithGroup = Model.Attributes.Where(x => x.GlobalAttributeGroupId == groupId).ToList();
                                var groupName = Model.Groups.Where(x => x.GlobalAttributeGroupId == groupId).FirstOrDefault().AttributeGroupName;

                                <div class="col-xs-12 nopadding padding-bottom form-group-container">
                                    <div class="padding-bottom">
                                        <h3 class="form-group-name FormBuilderH3">@groupName</h3>
                                    </div>
                                    @foreach (var attributes in attributesAssociatedWithGroup)
                                    {
                                        @Html.Partial("FormBuilder/_createControl", attributes)
                                        sequence++;
                                    }
                                </div>

                                prevGroupId = groupId.Value;
                            }
                        }
                    }
					<div class="googlecapcha">
						<div class="g-recaptcha" data-sitekey="6Ld4scEZAAAAADgC_TJWHNIy3ajZGaKk7pg01IIL"></div>
							<span id="CaptchaErrorMsg" class="error-msg field-validation-error" style="display:none" class=""></span>
					</div>
                   		
                    <div class="pull-left">
                        @Html.HiddenFor(x => x.IsTextMessage)
                        @Html.HiddenFor(x => x.TextMessage)
                        @Html.HiddenFor(x => x.RedirectURL)
                        @Html.HiddenFor(model => model.FormBuilderId)
                        @Html.HiddenFor(model => model.FormCode)
                        <button class="btn-text btn-bg-primary">@Model.ButtonText</button>
                    </div>
					
		
                }
                else
                {
                    <div style='text-align:center;'> @WebStore_Resources.TextAttributesNotAvailable </div>
                }
            }
        }
    </div>
</div>
<script src="~/Scripts/lib/datepicker.js"></script>
<script src="~/Scripts/lib/DynamicValidation.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    $(document).ready(function () {
        $("#frmFormBuilder")[0].reset();
    });
</script>
<script>
/*Nivi Code for Upload studio affiliation mandatory*/
$(document).ready(function () {
    if ('@Model.FormCode' == 'NewCustomerApplication') {
           $(".file-upload").prev('div').find('label').addClass('required');
       }
   $('.btn-bg-primary').on('click', function () {
      if ('@Model.FormCode' == 'NewCustomerApplication') {
           if ($("#frmFormBuilder").find('input[type=hidden]').val() == "") {
               $(".file-upload-name").find('span').eq(0).text('No file chosen.');
           }
           else { $(".file-upload-name").find('span').eq(0).text(''); }
		}
       });
	   
	if ('@Model.FormCode' == 'ContactUs') {
				$(".textarea-control").keypress(function(event) {
				var character = String.fromCharCode(event.keyCode);
				return isValid(character);    
			});

		function isValid(str) {
			return !/[~`!@@#$%\^&*()+=\-\[\]\\';,._/{}|\\":<>\?]/g.test(str);
		}

		$('.textarea-control').bind('copy paste cut',function(e) {
			e.preventDefault(); //disable cut,copy,paste

		});
	}
   });
   
   function Clickme() {
   var response = grecaptcha.getResponse();		
   if (response.length == 0) {
           //reCaptcha not verified
		   $("#CaptchaErrorMsg").text('Please select captcha.');
		   $("#CaptchaErrorMsg").show();
           preventDefault();
           return false;
    }
	else{
	 $("#CaptchaErrorMsg").text('');
		   $("#CaptchaErrorMsg").hide();
	}
        
            if ($("#frmFormBuilder").find('input[type=hidden]').val() == "" && '@Model.FormCode' == 'NewCustomerApplication') {
                return false;
            }
            else {
                FormBuilder.prototype.SaveFormBuilder();
            }
        
        }
</script>