﻿@using Znode.Engine.Admin.ViewModels
@model ShippingRuleListViewModel
@using Znode.Engine.Admin.Models


@{
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront;
    int? ShippingId = 0;
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleEdit, Admin_Resources.TitleShipping)<i class="z-minus"></i><span>@Model.Name</span></h1>
        <div class="pull-right">
            <button id="addShippingRule" type="button" class="btn-text-icon" onclick="Shippings.prototype.AddRule()"><i class='z-add-circle' data-test-selector="btnAddShippingRule"></i>@Admin_Resources.ButtonAdd</button>
            @Html.AuthorizedRawActionLink("<i class='z-cancel'></i>" + Admin_Resources.ButtonCancel, "List", "Shippings", null, new { @class = "btn-text-icon", @data_test_selector = "linkCancel" })
        </div>
    </div>
    <div class="main-wrapper">
        <!--Left Panel-->
        @Html.Partial("~/Views/Shippings/_asideShippingPanel.cshtml", Model)
        <section class="main-container">
            @using (Ajax.BeginForm("ShippingRuleList", "Shippings", new { shippingId = Model.ShippingId, ShippingTypeId = Model.ShippingTypeId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @foreach (var model in Model.ShippingRuleList)
            {
                ShippingId = model.ShippingId;
            }

            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "ShippingRuleDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Shippings.prototype.DeleteMultipleShippingRule(this, '"+ShippingId+"')"}
                         }
                    })
        </section>
        @Html.HiddenFor(model => model.ShippingId, new { id = "hdnShippingId" })
        @Html.HiddenFor(model => model.ShippingTypeId, new { id = "hdnShippingTypeId" })
        <div class="col-sm-12 nopadding margin-top" id="shippingRule">
            <div id="AssociatedRuleList" class="col-sm-12 nopadding">
                @* Shipping Rule list will display in this div *@
            </div>
            <div id="divAddRule" class="modal fade" role="dialog">
                @*Don't delete this div, mainly due to "Add Rule popup" will display in this div*@
            </div>
        </div>
    </div>
</div>
