﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Microsoft.AspNet.Identity
@model UserViewModel
@{
    string budgetAmount = @Helper.FormatPriceWithCurrency(Model?.BudgetAmount.GetValueOrDefault(), DefaultSettingHelper.DefaultCurrency);
}

<div id="layout-account-editprofile" class="main-wrapper">
    <div class="container-fluid mobile-no-padding">
        <div class="col-xs-12 user-account">
            <div class="col-xs-12">
                <h1 class="page-title">@WebStore_Resources.LinkTextEditProfile</h1>
            </div>
            <div class="col-xs-12 account-dashboard">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container">
                    @*<div class="col-xs-12 nopadding">
                        <p>@WebStore_Resources.SubTextEditProfile</p>
                    </div>*@
                    <div class="col-xs-12 nopadding inner-container backbackgroundset Setbordernone">
                        <div class="col-xs-12 col-sm-8 nopadding">
                            @using (Html.BeginForm("EditProfile", "User", FormMethod.Post))
                            {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.UserName, new { @Value = User.Identity.GetUserName(), @readonly = "readonly" })
                                        </div>
                                        @Html.HiddenFor(m => m.UserName)
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.FirstName, new { @id = "profile_Firstname", @placeholder = "First Name *", @readonly = "readonly" })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName, "", new { @id = "valFirstName" })</p>
                                        </div>
                                    </div>
                                    @* Hide As par Jira Ticket A-6 310
                                        <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.LastName, new { @id = "profile_Lastname", @placeholder = "Last Name *", @readonly = "readonly" })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.LastName, "", new { @id = "valLastName" })</p>
                                        </div>
                                    </div>*@
                                    <div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @id = "profile_PhoneNumber", @placeholder = "Phone Number", @readonly = "readonly" })
                                            <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @id = "valPhoneNumber" })</p>
                                        </div>
                                    </div>

                                    @if (string.Equals(Model?.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                    {
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextBox("BudgetAmountForSRA", budgetAmount, new { @readonly = "readonly", @placeholder = "Budget Amount" })
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    @Html.TextBoxFor(model => model.Email, new { @id = "profile_email", @placeholder = "Email *", @readonly = "readonly" })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.Email, "", new { @id = "valEmail" })</p>
                                </div>
                            </div>
                            //We need to change the input field as disabled and change the change password href as button for jira ticket A6-294
                            @*<div class="col-xs-12 nopadding">
                                <a href="/User/ChangePassword" class="pull-right">@WebStore_Resources.TitleChangePassword</a>
                            </div>
                            <div class="col-xs-12 nopadding styled-input">
                                <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" @(Model.EmailOptIn ? "checked='checked'" : "" ) /><label for="signup_optin">@WebStore_Resources.CheckBoxTextNewsLetter</label>
                            </div>*@

                            <div class="col-xs-12 margin-top-bottom nopadding">
                                <div class="pull-right">
                                    <button type="button" class="btn-text btn-bg-primary" onclick="window.location='/User/ChangePassword';">@WebStore_Resources.TitleChangePassword</button>
                                    <a class="btn-text btn-bg-secondary" href="/User/Dashboard">@WebStore_Resources.ButtonCancel</a>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>