﻿.header-top-color {
    background-color: $base-tertiary-light;
}

header {
    background-color: $footer-color;
    z-index: 1042;
    box-shadow: $nav-box-shadow;
    position: fixed;
    width: 100%;
    top: 0;

    .d-lg-block {
        transition: 0.3s;
    }

    .header {
        max-width: 100%;

        > div {
            position: relative;
        }

        .site-logo {
            display: flex;
            align-items: center;
            flex: 1;
            padding: 6px 0;

            img {
                max-height: 35px;
                max-width: 90px;
                margin: 0;
                transition: 0.3s;
            }
        }

        .site-search, .header-btn-block {
            flex: 1;
            justify-content: center;
        }

        .cart-btn-block {
            flex: 1;
            justify-content: center;
        }

        .site-search {
            z-index: 0;
        }

        .hamburger-icon {
            font-size: $base-font-size + 6;
            color: $white
        }

        .cartcount-mobile {
            position: absolute;
            top: -3px;
            right: 2px;
            font-size: $base-font-size - 4;
            background-color: $cart-count-color;
            border-radius: 50%;
            line-height: 1;
            color: $white;
            font-family: $base-font-family-bold;
            height: 16px;
            min-width: 16px;
            text-align: center;
            padding: 3px;
        }

        .proxy-login-section {
            background: $base-primary-light;

            .proxy-login {
                color: $white;
            }

            .btn-secondary:hover, .btn-secondary:focus {
                background: $base-secondary-light;
                border-color: $base-secondary-light;
            }
        }

        .site-inventory .icon-scan {
            font-size: 28px;
            color: $white;
        }
    }
}

.scanvoice {
    display: none;
    background-color: rgb(193, 193, 193);
    height: 100vh;
    position: absolute;
    width: 100vw;
    left: 0px;
    top: 40px;

    .scan-label {
        text-transform: uppercase;
        font-size: 30px;
    }
}

.header-btn-txt {
    font-size: 12px;
}



@include screensize(x-small) {
    header .header .site-search {
        flex: 0;
    }

    header .header .cart-btn-block {
        flex: 0;
        padding-right: 0;
    }

    header .header .header-btn-block {
        flex: 0;
    }

    header .header-nav-links .header-btn {
        background-color: $footer-color;
        color: $white;
    }

    header .header-nav-links {
        background-color: $footer-color;
        color: $white;
    }
}

@include screensize(xl-small) {
    header {
        .header {
            .site-logo img {
                max-height: 35px;
                max-width: 115px;
                margin: 0 15px;
            }
        }

        .header-nav-links .header-btn {
            background-color: $footer-color;
            color: $white;
        }

        .header-nav-links {
            background-color: $footer-color;
            color: $white;
        }
    }
}

@include screensize(small) {

    header .header {
        .site-logo, .header-btn-block, .cart-btn-block {
            flex: inherit;
            justify-content: inherit;
        }

        .site-search {
            flex-grow: 1;
        }
    }

    header .header-nav-links .header-btn {
        background-color: $footer-color;
        color: $white;
    }

    header .header-nav-links {
        background-color: $footer-color;
        color: $white;
    }

    .shrink {
        #find_branch {
            display: none !important
        }

        .header > div {
            height: 40px;
        }


        .header-top-color {
            display: none;
        }

        .header {
            max-width: 100%;

            .site-logo {
                order: 2;
                height: 40px;
            }

            .site-search {
                order: 3;
                height:40px;
                .search-widget {
                    padding: 5px 10px;

                    input {
                        height: 28px;
                    }

                    .b2b-search-btn {
                        padding: 2px 10px;
                    }

                    .icon-voice {
                        font-size: 28px;
                        color: $white;
                    }
                }
            }

            .header-btn-block {
                &.site-inventory {
                    order: 4;
                }

                .header-btn {
                    font-size: $base-font-size - 1;
                }
            }

            .navigation {
                order: 1;
                flex-grow: 0;
                background-color: $footer-color;

                .mobile-nav-btn {
                    display: block !important;
                }

                .parent-nav {
                    display: none;
                }
            }

            .cart-btn {
                order: 6;

                .cart-icon {
                    right: 15px;
                }
            }

            .w-100 {
                display: none !important;
            }
        }
    }
}


@include screensize(medium) {
    .header-btn-block {
        width: 200px;
    }

    .header-btn-txt {
        font-size: 14px;
        height: 45px;
    }

    header {
        .header {
            > div {
                height: auto;
            }

            .site-logo {
                height: 75px;
                padding-left: 30px;

                img {
                    max-width: 200px;
                    max-height: 60px;
                    margin: 0 20px;
                }
            }

            .header-nav-links {
                background-color: $header-nav-link;
                color: $black;
            }

            .header-nav-links .header-btn {
                background-color: $header-nav-link;
                color: $black;
            }

            .cart-btn-block {
                padding-right: 50px;
            }
        }

        .header-nav-links {
            display: flex !important;
        }
    }

    .profile-icon {
        display: none;
    }

    .shrink {
        #my_account {
            display: none !important
        }

        .header .site-search .search-widget {
            max-width: 380px;
        }

        .header-btn-block {
            width: 195px;

            &.site-inventory {
                width: 170px;
            }
        }

        .cart-button {
            background-color: transparent;
            padding-left: 30px;
        }

        .site-logo {
            .header-logo img {
                max-height: 35px;
                max-width: 115px;
                margin: 0 15px;
                padding: 0;
            }
        }

        .main-nav-back-btn {
            display: block !important;
        }

        .profile-icon:before {
            font-family: "znode-web-store";
            content: "";
        }
    }
}

    .header-nav-links {
        background-color: $header-nav-link;
        color: $black;

        .header-btn {
            background-color: $header-nav-link;
            color: $black
        }
    }

    .view-all-dept {
        font-family: Roboto-Regular;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 18px;
        color: $base-secondary-light;
        margin-left: 20px;
    }
