﻿@using System.Linq;
@using Znode.Engine.WebStore.ViewModels;
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;


   // List<AttributesViewModel> lst = Model.ConfigurableData.ConfigurableAttributes.Where(x => x.AttributeName == "Color")?.ToList();
   // List<string> color = lst?.Count > 0 ? lst[0].ConfigurableAttribute.Select(y => y.AttributeValue)?.Distinct()?.ToList() : new List<string>();
    string colorlist = "";
    //color.ForEach(col => { colorlist = colorlist == "" ? colorlist + col : colorlist + "," + col; });
    string path = HttpContext.Current.Request.Url.ToString();
	string AWCTStyle = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == "awctstyle")?.AttributeValues;

}
<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 mobile-no-padding  hidden-xs">
            <!-- Breadcrumb -->
            <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container"></div>
        </div>
        <div class="mobile-no-padding  hidden-sm hidden-md hidden-lg ">
            <!-- Mobile View Code For PDP header and star rating-->
            <h2 class="product-name">@Html.RenderBlock(AWCTStyle + " " + Model.Name)</h2><br />
            <div class="product-rating">
                @Html.Partial("_StarRating", Model.Rating)
                @{
                    int totalreviews = 0;
                    totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
                    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;
                }
                <a href="#tab-reviews" onclick="javascript: $('#tab-reviews').click();">&nbsp;@ratingText @WebStore_Resources.LinkTextReadReviews</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 mobile-no-padding">
        <div class="product-view-details">
            <!--Get Product Images-->
            <div class="col-xs-12 col-md-12 col-lg-6 col-sm-12 product-images">
                @Html.Partial("_ProductImage", Model)
            </div>

            <!--Get Product details like short decription and higlights-->
            <div class="col-xs-12 col-md-12 col-lg-6 col-sm-12 product-overview">
                @Html.Partial("_ProductOverview", Model)

                @Html.Partial("_ProductInfo", Model)
            </div>
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none"> </div>
    <div id="divSendMail" style="display:none"> </div>
    @{
        Boolean IsProductRated = false;
        if (Convert.ToDecimal(@Model.Rating) > 0)
        { IsProductRated = true; }
    }
</div>
<script>
    $(document).ready(function () {
        document.title = '@Html.RenderBlock(Model.SEOTitle)';
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
		
		//var productspresent = $("#categoryIds").val();
       //console.log("CheckReq:" + productspresent);

       //if (productspresent == "" || typeof (productspresent) == 'undefined') {            
           //window.location.reload();          
       //}
		
    });
</script>
<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>
<!--Product Zoom Effect-->
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery(
        { show_event: 'click' }
    );
    $('#ImageZoom .simpleLens-big-image').simpleLens(
        { open_lens_event: 'click' }
    );
</script>
<!--Add Code by Nivi team for Structured Data-->
@if (IsProductRated)
{
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "@Html.RenderBlock(Model.Name)",
        "image": "@Html.RenderBlock(Model.OriginalImagepath)",
        "url": "@path",
        "description": "@Html.RenderBlock(Model.Attributes.Value("LongDescription"))",
        "color": "@colorlist",
        "sku": "@Html.RenderBlock(Model.SKU)",
        "brand": {
        "@@type": "Thing",
        "name": "A Wish Come True"
        },
        "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingValue": "@Model.Rating",
        "reviewCount": "@Model.ProductReviews.Count"
        },
        "offers": {
        "@@type": "Offer",
        "priceCurrency": "USD",
        "price":"@Model.SalesPrice",

        "itemCondition": "http://schema.org/NewCondition",
        "availability": "http://schema.org/InStock",
        "seller": {
        "@@type": "Organization",
        "name": "A Wish Come True"
        }
        }
        }
    </script>
}
else
{
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "@Html.RenderBlock(Model.Name)",
        "image": "@Html.RenderBlock(Model.OriginalImagepath)",
        "url": "@path",
        "description": "@Html.RenderBlock(Model.Attributes.Value("LongDescription"))",
        "color": "@colorlist",
        "sku": "@Html.RenderBlock(Model.SKU)",
        "brand": {
        "@@type": "Thing",
        "name": "A Wish Come True"
        },
        "offers": {
        "@@type": "Offer",
        "priceCurrency": "USD",
        "price":"@Model.SalesPrice",

        "itemCondition": "http://schema.org/NewCondition",
        "availability": "http://schema.org/InStock",
        "seller": {
        "@@type": "Organization",
        "name": "A Wish COme True"
        }
        }
        }
    </script>
}
