﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    bool insufficientQuantity = (Model?.ShoppingCartItems?.Any(x => x.InsufficientQuantity)).GetValueOrDefault();
    var cultureCode = string.IsNullOrEmpty(Model?.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    decimal cartCount = (Model?.ShoppingCartItems?.Any() ?? false) ? (Model?.ShoppingCartItems?.Sum(x => x.Quantity)).GetValueOrDefault() : 0M;
    bool isQuoteRequestEnabled = true;//GlobalAttributeHelper.IsQuoteRequestEnabled();

    bool isGuestUser = true;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
    if (currentUser != null)
    {
        isGuestUser = currentUser.Profiles.Where(x => x.ProfileId == 5).Count() > 0 ? true : false;
    }
}
@if (Model?.ShoppingCartItems?.Any() ?? false)
{
<div class="col-xs-12 nopadding test">
    <div class="col-xs-12 col-md-12 col-sm-12 nopadding cart-heading margin-bottom margin-top">
         <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
    </div>
    
    <div class="col-xs-12 col-md-8 nopadding cart-product-details">
        <div class="col-xs-12 table-responsive cart-products nopadding padding-right-15">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th data-test-selector="lblItem" colspan="2">@WebStore_Resources.LabelItem</th>
                        <th>@WebStore_Resources.ColumnTitleEstimateShipDate</th>
                        <th data-test-selector="lblItemPrice">@WebStore_Resources.ColumnTitleItemPrice</th>
                        <th data-test-selector="lblItemQuantity">@WebStore_Resources.ColumnTitleQuantity</th>
                        <th class="text-right" data-test-selector="lblItemTotal">@WebStore_Resources.ColumnTitleTotal</th>
                    </tr>
                </thead>
                <tbody id="cartRowBody">
                    @*To show the recently added product on the top of cart.*@
                    @foreach (CartItemViewModel cartItem in Model.ShoppingCartItems.AsEnumerable().OrderBy(x => x.Custom4).ThenBy(item => item.SKU))
                    {@Html.Partial("_CartRow", cartItem)}
                </tbody>
            </table>
            @Html.HiddenFor(x => insufficientQuantity, new { id = "hdnInsufficientQuantity" })
            <div data-test-selector="lblYourTotalIs" class="cart-sub-heading hidden">
                @WebStore_Resources.TextYourTotal <strong data-test-selector="lblPrice" id="dynamic-cart-order-total">@Helper.FormatPriceWithCurrency(Model.Total, Model.CultureCode)</strong> <span data-test-selector="lblForItem">for @Helper.GetRoundOffQuantity(cartCount) items</span>
            </div>
            <div class="margin-top margin-bottom">
                @using (Ajax.BeginForm("RemoveAllCartItem", "Cart", new AjaxOptions() { UpdateTargetId = "Cart", OnBegin = "ZnodeBase.prototype.ShowLoader()", OnComplete = "QuickOrder.prototype.ShowHideQuickOrderPopUp();global.bind.ResetTopCategory();Cart.prototype.EnableDisableMenuIcon();" }))
                {
                    @Html.AntiForgeryToken()
                    <a data-test-selector="linkRemoveAllCartItem" href="#" class="cart-item-remove-all" onclick="javascript:$($(this).closest('form').submit());"><i class="zf-close"></i>&nbsp; @WebStore_Resources.TextRemoveAllCartItems</a>
                }
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 cart-summary nopadding">
        <div class="col-xs-12 nopadding cart-total order-summary" id="CartOrdersummary">
            <div class="head-text"><h1>@WebStore_Resources.HeadingOrderSummary</h1></div>
            <div class="carttotalcontentarea" id="summary-details"><center><img src="../Content/Images/throbber.gif" alt="Loading" class="dashboard-loader"></center></div>
            <script>$.get("/cart/CalculateCart", { "_": $.now() }, function (res) { $(".carttotalcontentarea").html(res); if ($('#dynamic-order-total')) $('#dynamic-cart-order-total').html($('#dynamic-order-total')[0].innerText); });</script>
          </div>
        <div class="col-xs-12 nopadding margin-bottom margin-top">
		
            @*@Html.Partial("../_ApplyCoupon", Model)*@
			
            @*We are not Using bellow Functionality
                <div class="col-xs-12 nopadding cart-promocode ">
                    <div class="head-text"><h1>@WebStore_Resources.LabelEstimateShippingCosts</h1></div>
                    @if (!string.IsNullOrEmpty(Model.ZipCode))
                    {
                        @Html.Partial("../_ShippingEstimator", Model.ZipCode)
                    }
                    else
                    {
                        @Html.Partial("../_ShippingEstimator", string.Empty)
                    }
                </div>*@
        </div>

        <div class="col-xs-12 col-md-12 nopadding">
            <div class="col-xs-12 cart-btn nopadding">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 btn-right">
					@if (isGuestUser)
					{
						<a id="elem" style="width:100%;" class="btn-text-icon btn-bg-primary customer-login-btn" href="javascript:void(0)" onclick="User.prototype.LoginMethod()"><i class="zf-cart"></i> Login to Checkout</a>

					}
					else
					{
						<a data-test-selector="linkCheckout" href="/Checkout/Index" class="btn-text-icon btn-bg-primary btn-text-icon-pdp" id="checkOut-link" style="width:100%;" onclick="return TrucolorValidation();"><i class="zf-checkout"></i> @WebStore_Resources.ButtonCheckout</a>

					}
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-lg-12 nopadding margin-top">
					<div class="col-xs-12 col-sm-6 col-lg-6 col-md-12 btn-left margin-bottom">
						<a data-test-selector="linkContinue" style="width:100%;" href="/" class="btn-text-icon btn-bg-secondary continue-shopping-btn btn-text-icon-pdp" style="width:100%;font-size:15px;text-transform:uppercase;"><i class="zf-checkout"></i> @WebStore_Resources.ButtonContinueShopping</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-6 col-md-12 btn-right">
						<a data-test-selector="linkRequestQuote" href="/Quote/Index" style="width:100%;" class="btn-text-icon btn-bg-primary" id="requestQuote-link" onclick="return TrucolorValidation();"><i class="zf-orders"></i> @WebStore_Resources.ButtonRequestQuote</a>
					</div>
				</div>
			</div>
            </div>
        </div>
    </div>
</div>
    <!-- promotion & shipping bar
        <div class="cart-promotion-bar col-xs-12 nopadding"></div>
        <script>$.get("/cart/CartPromotionBar", function (res) { $(".cart-promotion-bar").html(res); });</script></div>
    -->
}
else
{
    <div class="col-xs-12 col-md-8 nopadding cart-heading">
        <h1 data-test-selector="hdgShoppingCartHeading" class="page-title">@WebStore_Resources.LabelShoppingCart</h1>
    </div>
    <div class="col-xs-12 nopadding cart-summary">
        <p class="text-center margin-top-bottom">@WebStore_Resources.NoItemCartErrorMessage</p>
    </div>
}

<script>
      $(".cartcount").html(@cartCount)
    function TrucolorValidation() {
        try {

            var sku = [];
            var skuWithQty = []
            $("#cartRowBody .Personalizable").each(function (index) {

                var truProductSKU = $(this).find("input[name='Quantity']").attr('data-cart-sku');
                var issetupfeeproduct = $(this).find("input[name='Quantity']").attr('readonly');


                if (sku.join().indexOf(truProductSKU) == -1)
                    sku.push($(this).find("input[name='Quantity']").attr('data-cart-sku'));

                if (issetupfeeproduct == undefined) {

                    skuWithQty.push([
                        $(this).find("input[name='Quantity']").attr('data-cart-sku'),
                        $(this).find("input[name='Quantity']").val()]
                    );
                }
            });
            var list = new Array();
            $.each(sku, function (i, o) {
                var totalqty = 0;

                $.each(skuWithQty, function (i, val) {
                    if (val.indexOf(o) != -1) {
                        var arr = val.toString().split(',');
                        totalqty = parseInt(totalqty) + parseInt(arr[1], 10);
                    }
                });
                if (totalqty < 8) {
                    list.push(sku);
                }
            })
            if (list.length > 0) {
                ZnodeNotification.prototype.DisplayNotificationMessagesHelper("Minimum Quantity Allowed is 8 for True Color.", "error", true, fadeOutTime);
                return false;
            }

            Cart.prototype.ValidateProductQuantity();
        }
        catch (err) {
            console.log(err.message);
        }
    }
</script>

<script>
    jQuery("img").bind("error", function (t) { this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png" });
	//Comment as per discussion with Nitesh-09/26/2019
        //$(document).ready(function () {
        //var t = new Array, o = ""; $("#cartRowBody tr").each(function (a) { "" == o && (o = $(this).attr("data-parentsku"), t.push($(this).attr("data-parentsku"))), o == $(this).attr("data-parentsku") || (o = $(this).attr("data-parentsku"), t.push($(this).attr("data-parentsku"))) }), $.each(t, function (t, o) {
        //    $("#cartRowBody ." + o).removeAttr("style"),
        //        $("#cartRowBody ." + o).last().css({ "border-bottom": "3px solid #FFF" }),
        //        t % 2 == 0 ? $("#cartRowBody ." + o).children("td, th").css("background-color", "#e4e4e4") : $("#cartRowBody ." + o).children("td, th").css("background-color", "#ecf0f0")
        //})
   // });
                    /*added for cart Item Grouping:End*/
</script>