﻿<div class="newsletter-widget">
    <div class="col-xs-12 col-sm-3">
        <strong>@Html.Label("Subscribe To Our Newsletter", new { @data_test_selector = "lblSubscribeNewsLetter", @class = "SubscribeLbl" })</strong>
    </div>
    <div class="col-xs-12 col-sm-8 input-field" style="margin-top: 5px;">
        @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
        {
            <div class="input-group Setbordernone" id="newsletter" style="margin: 10px 0">
                @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = WebStore_Resources.LabelSenderMailId, @data_test_selector = "txtNewsLetterEmail" })
                <span class="input-group-btn">
                    <button class="btn btn_search btn-bg-primary" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();" data-test-selector="btnNewsLetterSignUp" style="margin-left: 10px">Subscribe</button>
                </span>
            </div>
        }
            <p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
        </div>
</div>
