﻿@model WidgetParameter
@{ 
      bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());  
   }
<label id="IsLoginUser" hidden>@IsLoginUser</label>

<div class="product-list-widget Home-NewProduct">
    @Html.ProductControl("_Product", Model)
</div>
<script>
    $(document).ready(function () {
       
        var isLoginUser = $("#IsLoginUser").text();
        var isbecomecustomer = $(".becomeacustomer").text();
       
        if (isLoginUser == 'True' && isbecomecustomer != "") {           
            $(".price").each(function () {
                $(this).html('');
            });
        }
    });
</script>

