﻿
@{
    string _shippingTypeName = Model.ShippingTypeName;
	/*Original Code*/
    //Model.TotalAdditionalCost = Convert.ToDecimal(Model.Custom5);
    //decimal discount = Convert.ToDecimal(Model?.Custom4);
	
	 /*Nivi Code start for Order is not opening in order history*/
    if (Model?.Custom5 != "")
    {
        Model.TotalAdditionalCost = Convert.ToDecimal(Model?.Custom5);
    }
    decimal discount = new decimal();
    if (Model?.Custom4 != "false" && Model?.Custom4 != "true")
    {
        discount = Convert.ToDecimal(Model?.Custom4);

    }
    /*Nivi Code end for Order is not opening in order history*/
	
    string VolumeCode = string.Empty;
    string couponcode = string.Empty;
    decimal VolumeDiscount = 0;

    if (Model.CouponCode != string.Empty)
    {
        couponcode = "(" + Model.CouponCode + ")";
    }
    if (discount > 0)
    {
        VolumeCode = "(" + Convert.ToInt32(discount * 100).ToString() + "%)";
        VolumeDiscount = Convert.ToDecimal(Model.CSRDiscountAmount * discount);
    }
    Model.CSRDiscountAmount = 0;
}
<div class="col-xs-12 nopadding cart-summary receipt-totals">
    <div class="col-sm-offset-5 col-md-offset-8">
        <div class="form-group">
            <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnSubTotal</div>
            <div class="col-xs-6 nopadding text-right">@Helper.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</div>
        </div>
        @if (Model.DiscountAmount != 0)
        {

            if (VolumeDiscount > 0)
            {
                <div class="form-group">
                    <div class="col-xs-6 nopadding">Volume Discount @VolumeCode</div>
                    <div class="col-xs-6 nopadding text-right">@Helper.FormatPriceWithCurrency(0 - VolumeDiscount, Model.CultureCode)</div>
                </div>
            }
            if (Model.DiscountAmount - VolumeDiscount > 0)
            {
                <div class="form-group">
                    <div class="col-xs-6 nopadding">Coupon Discount @couponcode</div>
                    <div class="col-xs-6 nopadding text-right">@Helper.FormatPriceWithCurrency(0 - Model.DiscountAmount + VolumeDiscount, Model.CultureCode)</div>
                </div>

            }
        }
        @if (Model.TaxCost > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnTax</div>
                <div class="col-xs-6 nopadding text-right">@Helper.FormatPriceWithCurrency(Model.TaxCost, Model.CultureCode)</div>
            </div>
        }
        @if (Model.TotalAdditionalCost > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">18% Canadian duty</div>
                <div class="col-xs-6 nopadding text-right">@Helper.FormatPriceWithCurrency(Model.TotalAdditionalCost, Model.CultureCode)</div>
            </div>
        }
        @if (Model.ShippingCost > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelShippingCost (@Html.RenderBlock(_shippingTypeName)) </div>
                <div class="col-xs-6 nopadding text-right">@Helper.FormatPriceWithCurrency(Model.ShippingCost, Model.CultureCode)</div>
            </div>
        }

        @if (Model.GiftCardAmount > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnGiftCardAmount</div>
                <div class="col-xs-6 nopadding text-right">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, Model.CultureCode)</div>
            </div>
        }

        @if (Model.CSRDiscountAmount > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelCSRDiscountAmount</div>
                <div class="col-xs-6 nopadding text-right">@Helper.FormatPriceWithCurrency(0 - Convert.ToDecimal(Model.CSRDiscountAmount), Model.CultureCode)</div>
            </div>
        }

        <div class="form-group receipt-total">
            <div class="col-xs-6 nopadding"><h2>@WebStore_Resources.ColumnOrderTotal</h2></div>
            <div class="col-xs-6 nopadding text-right"><h2>@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.Total), Model.CultureCode)</h2></div>
        </div>
    </div>
</div>
