﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model RegisterViewModel

<p id="ExistingUserError" class="error-msg" />

<div class="col-xs-12">
    <div class="form-group floating-label">
        @Html.TextBoxFor(m => m.UserName, new { @class = "floating-input", @data_test_selector = "txtUsername", @placeholder = " " })
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.Label(WebStore_Resources.LabelUsername, new { @class = "required" })
    </div>
</div>
@if (Model.UserVerificationTypeCode != UserVerificationTypeEnum.EmailVerificationCode)
{
    <div class="col-xs-12">
        <div class="form-group floating-label">
            @Html.PasswordFor(m => m.Password, new { @class = "floating-input", @data_test_selector = "txtPassword", @placeholder = " " })
            @Html.ValidationMessageFor(m => m.Password)
            @Html.Label(WebStore_Resources.ColumnCreatePassword, new { @class = "required" })
            <p class="sub">@WebStore_Resources.ValidPassword</p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group floating-label">
            @Html.PasswordFor(m => m.ReTypePassword, new { @class = "floating-input", @data_test_selector = "txtRePassword", @placeholder = " " })
            @Html.ValidationMessageFor(m => m.ReTypePassword)
            @Html.Label(WebStore_Resources.ColumnReTypePassword, new { @class = "required" })
        </div>
    </div>
}


<div class="col-xs-12">
    <div class="form-group">
        <div class="col-xs-12 styled-input nopadding">
            <input id="signup_optin" name="EmailOptIn" value="true" type="checkbox">
            <label for="signup_optin">Send Me Periodic Emails And Special Offers</label>
        </div>
    </div>
</div>



<div class="form-group">
    <div class="pull-right">
        @{
            string _returnUrl = Convert.ToString(Request.QueryString["returnUrl"]);
        }
        @Html.Hidden("returnUrl", _returnUrl)
    </div>
</div>
@Html.HiddenFor(x => x.UserName)
@Html.HiddenFor(x => x.Email)
@Html.HiddenFor(x => x.UserVerificationTypeCode)