﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Models
@model ChangePasswordViewModel
@{

}
<div id="layout-account-editprofile" class="main-wrapper">
    <div class="container-fluid">
        <div class="user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.TitleChangePassword</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 edit-profile right-container Setbordernone">
                    <div class="col-xs-12 nopadding">
                        <p>@WebStore_Resources.SubTextChangePassword</p>
                    </div>
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                    <div id="loginForm" class="col-xs-12 col-sm-8 col-lg-6 nopadding">
                        @Html.ValidationSummary(true, "")
                        @if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null)
                        {
                            
                            <p class="sub">@WebStore_Resources.ValidPassword</p>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    @Html.PasswordFor(m => m.NewPassword, new { @placeholder = " New Password *" })
                                    @Html.ValidationMessageFor(m => m.NewPassword, "")
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    @Html.PasswordFor(m => m.ReTypeNewPassword, new { @placeholder = " Re-Type Password *" })
                                    @Html.ValidationMessageFor(m => m.ReTypeNewPassword, "")
                                </div>
                            </div>
                        }
                        else
                        {
                         <div class="form-group">
                             @*<div class="col-xs-12 nopadding">
                                @Html.Label(WebStore_Resources.LabelCurrentPassword, new { @class = "required" })
                            </div>*@
                            <div class="col-xs-12 nopadding">
                                @Html.PasswordFor(m => m.OldPassword, new { @placeholder = " Old Password *" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "")
                            </div>
                        </div>
                            <p class="sub">@WebStore_Resources.ValidPassword</p>
                            <div class="form-group">                               
                                <div class="col-xs-12 nopadding">
                                    @Html.PasswordFor(m => m.NewPassword, new { @placeholder = " New Password *" })
                                    @Html.ValidationMessageFor(m => m.NewPassword, "")
                                </div>
                            </div>
                            <div class="form-group">                               
                                <div class="col-xs-12 nopadding">
                                    @Html.PasswordFor(m => m.ReTypeNewPassword, new { @placeholder = " Re-Type Password *" })
                                    @Html.ValidationMessageFor(m => m.ReTypeNewPassword, "")
                                </div>
                            </div>

                        }

                        @Html.HiddenFor(x => x.UserName)
                        <div class="col-xs-12 nopadding margin-top">
                            <div class="pull-right">
                                <button type="submit" class="btn-text btn-bg-primary">@WebStore_Resources.ResetPasswordButtonText</button>
                                <button type="button" class="btn-text btn-bg-secondary" onclick="javascript: location.href = '/User/Dashboard';">@WebStore_Resources.ButtonCancel</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>