﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
    string _isDisplayGuestcheckout = Convert.ToString(Request.QueryString["returnUrl"])?.ToLower() == "~/checkout" ? "checkout-guest" : "checkout-new";
}
<div class="container-fluid main-wrapper">
    <div class="col-xs-12 login-container mobile-no-padding">
        <div class="col-xs-12 mobile-no-padding">
            <h1 class="page-title">@WebStore_Resources.TitleCustomerLogin</h1>
            <div class="col-xs-12 nopadding inner-container">
                <div class="col-xs-12 col-sm-6 col-md-6 nopadding">
                    <form method="POST" class="login-form form">
                        @Html.AntiForgeryToken()
                        <div class="col-xs-12 col-sm-12 col-md-8 kmirrort nopadding">
                            <div class="col-xs-12 nopadding backbackgroundset Setbordernone">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Username, new { @data_test_selector = "txtUserName", @id = "login_username", @class = "floating-input", @placeholder = "Username / Email *" })
                                        <p class="error-msg" data-test-selector="lblUserNameErrMsg">@Html.ValidationMessageFor(m => m.Username)</p>
                                        @*<label for="login_username" class="required">@WebStore_Resources.ColumnUsername</label>*@
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.PasswordFor(model => model.Password, new { @data_test_selector = "txtLoginPassword", @id = "login_password", @class = "floating-input", @placeholder = "Password *"})
                                        <p class="error-msg" data-test-selector="lblPasswordErrMsg">@Html.ValidationMessageFor(m => m.Password)</p>
                                        @*<label for="login_password" class="required">@WebStore_Resources.ColumnPassword</label>*@
                                    </div>
                                </div>
                                <div class="col-xs-12 margin-top">
                                    @*<button data-test-selector="btnLoginButton" type="submit" class="btn-text-login btn-bg-primary" onclick="User.prototype.AppendLoaderOnSubmit()" id="loginButton">@WebStore_Resources.ButtonLogin</button>*@
                                    <button type="submit" class="btn-text-login btn-bg-primary">@WebStore_Resources.ButtonLogin</button>
                                </div>
                                <div class="col-xs-12 margin-top-bottom">
                                    <div class="col-xs-12 col-sm-6 nopadding styled-input remember-me">
                                        <input @rememberMeStatus type="checkbox" name="" id="RememberMe">
                                        <label data-test-selector="lblRememberMe" for="RememberMe">@WebStore_Resources.RememberMe</label>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 nopadding">
                                        @if (ViewBag.CheckoutLogin != null)
                                        {
                                            @Html.Hidden("returnUrl", "~/Checkout")
                                        }
                                        <a data-test-selector="linkForgetPassword" href="/user/forgotpassword" class="login-form-forgotpassword" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>
                                    </div>

                                   <div class="col-xs-12 margin-top-mobile nopadding">
                                            <a href="/Become-A-Customer" class="login-form-forgotpassword" title="">Not a Customer? Apply here!</a>
                                   </div>
                                </div>
                            </div>

                        </div>
                    </form>
					
                    <div class="col-xs-12 col-sm-11 col-md-8">
                        @Html.Partial("_ExternalLoginsListPartial")
                    </div>
					
                </div>
             
				<div class="col-xs-12 col-sm-6 col-md-5 LoginTextPara">
									@Html.RenderMessage("LoginPageTextParagraph")
			</div>
			 <div class="col-xs-12 col-sm-6 col-md-5 account-signup-container @_isDisplayGuestcheckout hidden">
                    <div id="layout-account-login">
                        <div class="user-icon img-circle">
                            <i class="zf-login-user"></i>
                        </div>
                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                            <h3>@WebStore_Resources.TitleNewCustomer</h3>
                            <p class="margin-bottom">
                                @WebStore_Resources.TextNewCustomer
                            </p>
                            <a href="/User/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="btn-text-full btn-bg-secondary account-signup-link" data-test-selector="btnGetAnAccount"><i class="zf-checkout"></i> @WebStore_Resources.LinkTextGetAnAccount</a>
                        </div>
                        @if (!Convert.ToBoolean(new AuthenticationHelper().IsAuthorizationMandatory()))
                        {
                            <div class="col-xs-12 col-sm-offset-1 col-sm-10 checkout-guest-container">
                                <h3>@WebStore_Resources.LinkTextGuestCheckout</h3>
                                <p class="margin-bottom">@Html.RenderMessage(WebStoreConstants.CheckoutAsAGuestMessage)</p>
                                <a href="/Checkout?mode=guest" class="btn-text-full btn-bg-secondary checkout-login-asguest"><i class="zf-checkout"></i>@WebStore_Resources.LinkTextGuestCheckout</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
