﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@model OrdersListViewModel

<div id=@Model.GridModel.FrontObjectName>
    <div id="layout-account-orderhistory" class="main-wrapper">
        <div class="container-fluid mobile-no-padding">
            <div class="col-xs-12 user-account">
                <div class="col-xs-12">
                    <h1 class="page-title">@WebStore_Resources.LinkTextOrderHistory</h1>
                </div>
                <div class="col-xs-12 account-dashboard">
                    <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>

                    <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                        @*<div class="col-xs-12 col-sm-10 col-lg-4 col-md-6 nopadding">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Order Number" id="OrderNumber" />
                                <span class="input-group-btn">
                                    <button type="submit" id="btnsearch" class="btn btn_search btn-bg-primary" onclick="User.prototype.GetOrderReceipt()" style="line-height: 30px;margin-left: -2px;"> @Admin_Resources.TitleSearch </button>
                                </span>
                            </div>
                        </div>*@
                        <div class="col-xs-12 product-search margin-top nopadding">
                            <h3 class="section-header">@WebStore_Resources.LableOrderList</h3>
                            <div class="col-xs-12 filter-component order-history-component hidden">
                                @using (Ajax.BeginForm("History", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                {
                                    <div id="filterComponent">
                                        @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                    </div>
                                }
                                @using (Html.BeginForm("DownloadPDF", "User", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="orderIds" name="orderIds" />
                                    <div id="divInvoice">
                                        <button type="submit" id="btnGenerateInvoice" onclick="return User.prototype.GenerateInvoice();" class="btn-text btn-bg-primary" @((Model.List.Count > 0) ? "" : "disabled")><i class='z-download'></i>@WebStore_Resources.ButtonGenerateInvoice</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 list-container nopadding">
                            <div class="col-xs-12 nopadding">
                                @Html.Partial("_DynamicGrid", Model.GridModel)
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".zf-manage").attr('title', "Reorder");
    $(window).load(function () {
        User.prototype.HideGridColumnForPODocument();
    });
</script>