﻿<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
    <div class="slide-container">
        <ul class="aside-panel">
            <li><a href="/PIM/PIMAttributeFamily/List">Attribute Configuration<i class="z-info pull-right" data-toggle="tooltip" data-placement="right" title="Attribute Configuration"></i></a></li>
            <li><a href="/PIM/Products/ProductList">Manage Products<i class="z-info pull-right" data-toggle="tooltip" data-placement="right" title="Manage Products"></i></a></li>
            <li><a href="/PIM/Categories/CategoriesList">Manage Categories<i class="z-info pull-right" data-toggle="tooltip" data-placement="right" title="Manage Categories"></i></a></li>
            <li><a href="/PIM/Catalog/CatalogList">Manage Catalog<i class="z-info pull-right" data-toggle="tooltip" data-placement="right" title="Manage Catalog"></i></a></li>
        </ul>
    </div>
</aside>
