﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
@model WidgetCategoryListViewModel
@if (!Equals(Model, null) && Model.CMSMode)
{
    if (Model.IsEmpty)
    {<img src="@_fileLocation/Images/category-list.png" alt="New Product" class="img-responsive cms-img-icon" />}
    else
    {
        <div class="col-xs-12 nopadding cms-no-icon"><img src="@_fileLocation/Images/category-list.png" alt="New Product" class="img-responsive cms-img-icon" /></div>
    }
}
@{bool navigationFlag = false; string _id = string.Empty;}
@if (Model?.Categories?.Count > 0)
{
    _id = $"Category-List-Widget{1}";
    <span class="line"><h3>@Html.RenderMessage("Catalogs")</h3></span>
    navigationFlag = Model.Categories.Count > 6 ? true : false; 
    <div class="col-xs-12 owl-carousel Category-List-Widget nopadding" id="@_id" >
            @foreach (var category in Model.Categories)
            {
                if (!Equals(category.CategoryViewModel, null))
                {@Html.Partial("_CategoryList", category.CategoryViewModel)}
            }       
    </div>    
}
<script>
    $(document).ready(function(){
        $("#@_id").owlCarousel({
            autoPlay: false,
            navigation: @navigationFlag.ToString().ToLower(),
            items: 6,
            itemsCustom: [
              [0, 1],
              [320, 1],
              [480, 2],
              [600, 2],
              [768, 2],
              [992, 3],
              [1200,6]
            ],
            navigationText: [            
              "<i class='zf-arrow-left-big cprev-prev'></i>",
              "<i class='zf-arrow-right-big cnext-next'></i>"
            ]
        });
    });
</script>