﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model WidgetProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.ProductViewModel?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ProductViewModel.ShowAddToCart ? "disabled" : "";
    string productType = Model.ProductViewModel?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.ProductViewModel.Attributes, "UOM");
    string ratingText = Model.ProductViewModel?.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.ProductViewModel.Rating, 1), Model.ProductViewModel?.TotalReviews) : string.Empty;
    string ConfigurablePrdImage = Model.ProductViewModel.ImageSmallPath;
    string ConfigurablePrdName = Model.ProductViewModel.Name;
    bool isGuestUser = true;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
    if (currentUser != null)
    {
        isGuestUser = currentUser.Profiles.Where(x => x.ProfileId == 5).Count() > 0 ? true : false;
    }
    string PriceTier = "Starting at " + @Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model?.ProductViewModel?.Attributes?.Value("awctpricerangemin")), Model.CurrencyCode, "");
    var colorlist = Model.ProductViewModel?.Attributes?.Select(x => x.AttributeCode == "awctcolorname").Distinct().ToList();
    int icount = 1;
    var prodnum = Model.ProductViewModel?.Attributes?.Value("prodnum");
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    string ImageName = Model.ProductViewModel.Attributes.FirstOrDefault(x => x.AttributeCode == "ProductListViewImage")?.AttributeValues;
	 
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl + ImageName;
    bool isObsolete = Convert.ToBoolean(Model.ProductViewModel?.Attributes?.Value(ZnodeConstant.IsObsolete));
    string obsoleteClass = isObsolete ? "cut-price" : "";
    string productUrl = domainurl + Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString());
}
@{
    string ParentProductSku = Model.ProductViewModel.SKU;
    string[] SplitSku = ParentProductSku.Split('_');
    string Sku = "";
    try

    { /*Nivi Change for Prefixes remove SplitSku[1] AWCT - 380*/
        Sku = SplitSku[0]; }
    catch { }
    Sku = Sku + " " + Model.ProductViewModel.Name;
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img" data-test-selector="divProductImage">
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkImage">
                    <div class="image" data-test-selector="divImage">
                        <img id="@Model.ProductViewModel.PublishProductId" class="b-lazy" data-src="@imagePath" alt="Product" title="@Model.ProductViewModel.Name" data-test-selector="imgProductImage" />
                    </div>
                </a>
            </div>
            @if (isObsolete)
            {
                <div class="product-inventory pb-2">
                    <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(string.Format(WebStore_Resources.PLPObsoleteMessage, productUrl)) </h4></div>
                </div>
            }
            <div class="product-details setheight">              
                <ul>
                    @foreach (var img in Model.ProductViewModel.AlternateImages)
                    {
                        <li>
                            @if (img.ImageSmallThumbNail.Contains("Shown.jpg"))
                            {
                                <img title="@img.FileName" id=@icount@img.FileName src="@img.ImageSmallThumbNail" class="img-responsive setswatch" data-src="@img.ImageSmallThumbNail" alt="" />
                            }
                            else
                            {
                                <img title="@img.FileName" id=@icount@Model.ProductViewModel.PublishProductId src="@img.ImageSmallThumbNail" class="img-responsive setswatch" abc="@img.ImageSmallPath" data-src="@img.ImageSmallThumbNail" alt="" onmouseover="clickme(@Model.ProductViewModel.PublishProductId,@icount@Model.ProductViewModel.PublishProductId);" onmouseout="out(@Model.ProductViewModel.PublishProductId,'@imagePath');" />
                            }
                        </li>
                        icount++;
                    }
                </ul>
                <script>function clickme(t, c) { var r = $("#" + c).attr("abc"); $("#" + t).attr("src", r) } function out(t, c) { $("#" + t).attr("src", c) }</script>
                @if (Model.ProductViewModel.AlternateImages.Count() >= 5)
                {
                    <div class="moreColorsIcon"><a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model.ProductViewModel.PublishProductId.ToString())" title="More Colors">+</a></div>
                }
            </div>
            <div class="product-details" data-test-selector="divProductDetails">
                <a href="@domainurl@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())" data-test-selector="linkProductTitle" title="@Sku">
                    @{
                        string[] words = null;
                        try
                        {  <h3 class="setsku" title="@prodnum">@Html.RenderBlock(Sku)</h3>}
                        catch { }
                    }
                </a>
                @if (!isGuestUser)
                {
                    <div class="price" data-test-selector="divProductPrice"><span>@PriceTier</span></div>
                }
            </div>
        </div>
    </div>
</div>
