﻿@import "../_base.scss";

// Search Text Box Widget.
.search-widget{width:80%;
    .twitter-typeahead{display:inline !important}
    .btn-text{margin-left:0;}
    .btn-scan-search{margin-left:10px !important;font-size:38px;top:-5px !important;}
    i{padding:15px 10px;z-index:999;}
    .tt-dropdown-menu{margin-top:10px;}
    .keyboard-icon{display:block;position:absolute;right:0px;top:8px;
            .zf-keyboard_voice{color:$base-color-primary;border:1px solid $base-color-primary;font-size:24px;border-radius:50%;padding:3px;width:22px;height:15px;line-height:15px;
                       vertical-align:middle;text-align:center;margin-right:8px;font-size:24px !important;}          
    }
   .active{display:block;position:absolute;right:0px;top:8px;
            i{padding:3px;width:22px;height:15px;line-height:15px;vertical-align:middle;text-align:center;border-radius:52%;font-size: 24px !important; background-color: #cc0000;-webkit-animation-name: voice; -webkit-animation-duration: 4s; animation: voice 2s infinite;color: #000 !important;border: 2px solid #ccc !important;margin-right:8px;} 
   }    
} 

#typeahead-results .close{color:$base-color-secondary;font-size: 15px;opacity: 0.7;padding: 2px 3px;
   &:hover{color:$base-color-primary;opacity:1;}
}
@include screensize(x-small){
   .search-widget {width:70%;
       .twitter-typeahead .tt-input{width:100% !important;}
       .btn-voice-search{right:50px !important;margin-right:0;}
       .input-group-btn{display:table-cell;}
       .keyboard-icon{display:block;position:absolute;right:0px;top:8px;}
       .active{right:0px;}
   }
}
@include screensize(small) {
  .search-widget {
       .keyboard-icon{right:10px;top:8px;}
       .btn-voice-search{margin-right:15px;}
       .active{right:10px;}
   }
}
@include screensize(medium) {
    .search-widget {width:75%;
       .keyboard-icon{right:0px;}
       .btn-voice-search{margin-right:0;}
       .active{right:0px;}
   }
}
@include screensize(desktop) {
      .search-widget {width:80%;}
}