﻿@model AutoComplete
@using Znode.Engine.WebStore.Agents
@using System.Globalization
@using Znode.Libraries.ECommerce.Utilities;
@{
    string regionName = string.Empty;
    bool isChromeSpecificVoiceSearch = false;
    foreach (var item in PortalAgent.CurrentPortal.Locales)
    {
        int localeid = Convert.ToInt32(Request.Cookies["_WebStoreculture"].Value);
        if (item.LocaleId == localeid)
        {
            CultureInfo culture = new CultureInfo(item.Code);
            regionName = culture.Name;
        }
    }

    bool isEnableVoiceBasedSearch = (bool)PortalAgent.CurrentPortal.PortalFeatureValues.Where(x => x.Key.Contains(HelperUtility.StoreFeature.Enable_Voice_Based_Search.ToString()))?.FirstOrDefault().Value;
}
<div class="search-widget">
    <form id="searchForm" action="/Search" method="GET">
        <div class="left-inner-icon input-group">
            <i class="zf-search"></i>
            @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetSuggestions", "Search", "Product.prototype.GetSuggestionResult", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.LabelSearch, @class = "", @Name = "SearchTerm", @id = "searchTextBox", @data_test_selector = "txtSearch" } })
            <span class="input-group-btn">
                <button type="submit" class="btn-text btn-bg-primary" id="btnSearchTerm" data-test-selector="btnSearchTerm">@WebStore_Resources.LabelGo</button>                
            </span>           
        </div>
        <div id="typeahead-results" class="ui-autocomplete-home"></div>
    </form>
    <div class="voice-scan-block">
        @if (isEnableVoiceBasedSearch)
        {
            <a data-test-selector="btnVoiceSearch" href="javascript:void(0)" onclick="" id="btnVoiceSearch" class="keyboard-icon btn-voice-search"><i class="zf-keyboard_voice"></i></a>
        }
        <a data-test-selector="btnSearchScan" href="javascript:void(0)" onclick="Home.prototype.LoadBarcodeScanner();return false;" id="btnSearchScan" class="keyboard-icon btn-scan-search"><i class="zf-scan"></i></a>
    </div>
    
</div>

<script>
    $(document).ready(function () {
        Search.prototype.ValidateSearch();
    });

        $("#btnVoiceSearch").on("click", function () {
        if ($(this).hasClass("keyboard-icon")) {
            $(this).removeClass("keyboard-icon");
            $(this).addClass("active");
            VoiceRecognition.prototype.startRecording(@Convert.ToString(isChromeSpecificVoiceSearch).ToLower(), '@regionName', function (convertedText) {
                $("#searchTextBox").val(convertedText);
                $("#searchForm").submit();
            });
        }
        else {
            $(this).removeClass("active");
            $(this).addClass("keyboard-icon");
            if (!@Convert.ToString(isChromeSpecificVoiceSearch).ToLower()) {
                VoiceRecognition.prototype.stopRecording();
            }
        }
    });
</script>
