﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel

@using Znode.Engine.WebStore.Agents
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.SalesPrice, null) || !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, string.Empty);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, string.Empty);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    int icount = 1;
    var prodnum = Model.Attributes?.Value("prodnum");
    bool isGuestUser = true;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
    if (currentUser != null)
    {
        isGuestUser = currentUser.Profiles.Where(x => x.ProfileId == 5).Count() > 0 ? true : false;
    }
    string ParentProductSku = Model.SKU;
    string[] SplitSku = ParentProductSku.Split('_');
    string Sku = "";
    try
    { Sku = SplitSku[1]; }
    catch { }
    Sku = Sku + " " + Model.Name;
    string ImageName = Model.Attributes.FirstOrDefault(x => x.AttributeCode == "ProductListViewImage")?.AttributeValues;
    string ProductImage = null;
    if (!String.IsNullOrEmpty(ImageName))
    {
        ProductImage = PortalAgent.CurrentPortal.MediaServerUrl + ImageName;
    }
    bool isObsolete = Convert.ToBoolean(Model?.Attributes?.Value(ZnodeConstant.IsObsolete));
    string obsoleteClass = isObsolete ? "cut-price" : "";
    string productUrl = domainurl + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString());
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image">

                        @{
                            string imageSrc = string.IsNullOrEmpty(ProductImage) ? "/no-image.png" : ProductImage;
                        }
                        <img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive  b-lazy" title="@Model.Name" data-src="@imageSrc" alt="Product" />
                    </div>
                </a>
            </div>

            <div class="product-details setheight">
                <ul>
                    @if (Model.AlternateImages.Count() >= 1)
                    {
                        foreach (var img in Model.AlternateImages)
                        {
                            <li>
                                @if (img.ImageSmallThumbNail.Contains("Shown.jpg"))
                                {
                                    <img id=@icount@Model.PublishProductId src="@img.ImageSmallThumbNail" style="height:20px;" class="img-responsive setswatch" data-src="@img.ImageSmallThumbNail" alt="" />
                                }
                                else
                                {
                                    <img id=@icount@Model.PublishProductId src="@img.ImageSmallThumbNail" class="img-responsive setswatch" abc="@img.ImageSmallPath" data-src="@img.ImageSmallThumbNail" alt="" onmouseover="clickme(@Model.PublishProductId,@icount@Model.PublishProductId);" onmouseout="out(@Model.PublishProductId,'@imageSrc');" />
                                }
                            </li>
                            icount++;
                        }
                    }
                </ul>
                @if (Model.AlternateImages.Count() >= 5)
                {
                    <div class="moreColorsIcon"><a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())" title="more colors">+</a></div>
                }
            </div>
            <div class="product-details">
                <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    @{
                        string[] words = null;
                        try
                        {
                            <h3 class="setsku" title="@prodnum">@Html.RenderBlock(Sku)</h3>
                        }
                        catch { }
                    }
                </a>
                <div class="product-rating">
                    @Html.Partial("_StarRating", Model.Rating)
                    <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">&nbsp; @ratingText</a>
                </div>
                @if (isObsolete)
                {
                    <div class="product-inventory pb-2">
                        <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(string.Format(WebStore_Resources.PLPObsoleteMessage, productUrl)) </h4></div>
                    </div>
                }
               
            </div>
            @* We are not Using Default Code for Price and Ratings
                     <div class="product-details">
                    <a href="@domainurl@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                        <h4 class="title"><strong>@WebUtility.HtmlDecode(Model.Name)</strong></h4>
                    </a>
                    <div class="product-rating">
                        @Html.Partial("_StarRating", Model.Rating)
                        @ratingText <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>
                    </div>
                    @if (CallForPricing)
                    {
                        <div class="price"><label>@callForPricingMessage</label></div>
                    }
                    else
                    {
                        <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                            {
                                <label>@Model.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (!Equals(Model.SalesPrice, null))
                                {
                                    <span>
                                        @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                                    </span>

                                    if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                    {
                                        <span class="cut-price">
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (Model.PromotionalPrice > 0)
                                    {

                                        <label>@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)</label>
                                        <span class="cut-price">
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                        </span>

                                    }
                                    else
                                    {
                                        <span>
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                        </span>
                                    }

                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                        }
                    </div>
                }
                </div>*@
        </div>
    </div>
</div>
