﻿@using System.Collections.ObjectModel
@using Znode.Engine.WebStore.ViewModels
@model List<ProductViewModel>

<div id="divRemoveProduct">
    @foreach (ProductViewModel product in Model)
    {
        if (!Equals(product, null))
        {
            <div class="col-xs-12 col-sm-6 col-md-3 product-compare-list margin-top-bottom">
                @Html.Partial("../Product/_ProductComparison", product)
            </div>
        }
    }
</div>