﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" data-id="@productId">
<div class="product-view-details">
    <!--Get Product Images-->
    <div class="col-xs-12 col-md-12 col-lg-6 col-sm-12 nopadding product-images">
        @Html.Partial("_ProductImage", Model)
    </div>
    <!--Get Product details like short decription and higlights-->
    <div class="col-xs-12 col-md-12 col-lg-6 col-sm-12 nopadding product-overview">
        @Html.Partial("_ProductOverview", Model)

        @Html.Partial("_ProductInfo", Model)
    </div>
        @Html.HiddenFor(m => m.IsQuickView, new { @id = "isQuickView" })
        @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
    </div>
</div>
<script>
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>