﻿@import "../_base.scss";

.panel-heading .accordion-toggle:after {font-family: $znode-icon-font;content: "\f107";float: right;color:$base-color-white;}
.panel-heading .accordion-toggle.collapsed:after {content: "\f105";color:$base-color-primary;}
.panel-heading .accordion-toggle.collapsed{background-color:#f9f9f9; border-left:6px solid $base-color-primary;color:$base-color-primary;font-weight:700;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}

.side-bar {
    .panel-heading{padding:0;
           h4{background-color:$base-color-primary;color:$base-color-white;font-size:15px;padding:8px 15px;cursor:pointer; border-left:6px solid #717171;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
    }
    .filter-list{padding:0;margin:0;
        li{list-style:none;line-height:30px;
           h4{font-size:16px;font-family:$base-font-family-bold;}
            label{line-height:22px;}
        }
        li.filter-item{padding:0 5px;border-radius:4px;color:$base-color-secondary;cursor:pointer;margin-top:5px;
                &:hover label{text-decoration:line-through !important;color:$base-color-primary;}
                i{font-size:10px;margin:5px;color:$base-color-primary;display:inline-block;vertical-align:top;}
                label{font-weight:normal;max-width:88%;vertical-align:top;line-height:18px;cursor:pointer;}
        }
    }
    .clear-filter{cursor:pointer;display:block;text-align:right;margin-top:-10px;}
}

//Media Query.
@include screensize(x-small) {
    .side-bar .narrow-results{display:block;padding:6px 0;font-size:16px;color:$base-color-white;position:absolute;top:-70px;right:15px;z-index:999;
           &:after{content:"\f107";float:right;font-family:$znode-icon-font;padding-left:5px;line-height:24px;}
           &.collapsed:after{content:"\f105";}
    }
    .side-bar{padding-left:15px;}
}
@include screensize(small) {
    .side-bar .narrow-results{display:none;}
    .side-bar{padding-left:0;padding-right:0;
         .filter-list li.filter-item label{max-width:85%;}
    }
}
@include screensize(medium) {
    .side-bar{padding-left:0;padding-right:15px;
        .filter-list li.filter-item label{max-width:88%;}
    }
}