﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
<form name="SearchPaging" class="select-container">
    @Html.AntiForgeryToken()
    @{
        string pageSize = Request.QueryString["PageSize"] ?? "1";
		string SearchTerm = SessionHelper.GetDataFromSession<string>("SearchTermValue");

        string searchTerm = Request.QueryString["SearchTerm"]?.ToString();

        if (pageSize == "0")
        {
            SessionHelper.SaveDataInSession<string>("PageSizeValue", null);

        }

        if (!Equals(SessionHelper.GetDataFromSession<int?>("PageSizeValue"), null))
        {
            pageSize = Convert.ToString(SessionHelper.GetDataFromSession<int?>("PageSizeValue"));
        }
    }
    @if (PortalAgent.CurrentPortal.PageList.Count > 0)
    {
        List<SelectListItem> list = new List<SelectListItem>();
        PortalAgent.CurrentPortal.PageList.ForEach(m => list.Add(new SelectListItem() { Text = m.PageDisplayName, Value = m.PageValue == null ? "0" : m.PageValue.ToString() }));
        SelectListItem item = list.Where(m => m.Value == pageSize).FirstOrDefault() ?? list[0];
		if (SearchTerm != "" || searchTerm == "")
        {
            list.RemoveAt(1);
        }
        item.Selected = true;
        @Html.DropDownList("PageSize", list, new { @class = "input-select" })
    }
    else
    {
       @Html.DropDownList("PageSize", new[] {
                          new SelectListItem() {Text = WebStore_Resources.Show40, Value = "40", Selected = pageSize == "40" },
                          new SelectListItem() {Text = WebStore_Resources.Show80, Value = "80",  Selected = pageSize == "80"},
                          new SelectListItem() {Text = WebStore_Resources.Show120, Value = "120",  Selected = pageSize == "120" },
        })
    }

    
</form>
<script>
    $(document).ready(function () {
        totalPages = parseInt($("#hdnTotalPages").val(), 10);
        var pageno = ZSearch.prototype.GetQueryStringParameterByName("pagenumber");
        if (totalPages == 1) {
            $('#prev-page-search').addClass('disabled');
            $('#next-page-search').addClass('disabled');
            return false;
        }
        if (parseInt(pageno) == 1 || pageno == "") {
            $('#prev-page-search').addClass('disabled');
            return false;
        }
        if (parseInt(pageno) == (totalPages)) {
            $('#next-page-search').addClass('disabled');
            return false;
        }
    });
</script>