﻿@model AjaxPartialParameter
<div class='loader-inner notransition' style='display:flex;justify-content:center;align-items:center;min-height:150px;position:absolute;left:48%;'>
	<img src='~/Views/Themes/Default/Images/loading.gif' alt='Loading' class='dashboard-loader' />
</div>
<z-ajax data-identifier="@Model.Identifier" data-type="partial" data-actionName="@Model.ActionName"
		data-controllerName="@Model.ControllerName"
		data-parameters="@Model.Parameters" data-replaceTargetSelector="@(Html.Raw(Model.ReplaceTargetSelector))">
</z-ajax>