﻿@using Znode.WebStore.Custom.ViewModel
@model QuoteResponseViewModel
@using Znode.Libraries.ECommerce.Utilities;
@if (Model != null)

{

    <div class="row mb-4">

        @*Quote Details Starts*@
        <div class="col-12 col-lg-6 account-profile-section mb-4 mb-lg-0">
            <div class="h-100 dashboard-content">
                <h3 class="b2b-section-header">@WebStore_Resources.TextQuoteDetails</h3>

                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 nopadding">
                    <div class="col-xs-12 col-sm-4 nopadding"><strong>@WebStore_Resources.TitleQuoteNumber: </strong> </div>
                    <div class="col-xs-12 col-sm-8 nopadding">@Model.QuoteNumber</div>

                    <div class="col-xs-12 col-sm-4 nopadding"><strong>@WebStore_Resources.TitleQuoteDate: </strong> </div>
                    <div class="col-xs-12 col-sm-8 nopadding">@Model.CreatedDate.ToDateTimeFormat()</div>

                    @*<div class="col-xs-12 col-sm-4 nopadding"><strong>@WebStore_Resources.TitleQuoteExpirationDate:</strong> </div>
        <div class="col-xs-12 col-sm-8 nopadding">@Model.QuoteExpirationDate.ToDateTimeFormat()</div>*@

                    <div class="col-xs-12 col-sm-4 nopadding"><strong>@WebStore_Resources.TitleQuoteAmount: </strong> </div>
                    <div class="col-xs-12 col-sm-8 nopadding">@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.QuoteTotal), Model.CultureCode)</div>
                    @*<div class="col-xs-12 col-sm-8 nopadding">@Model.QuoteTotal</div>*@

                    <div class="col-xs-12 col-sm-4 nopadding"><strong>@WebStore_Resources.TitleQuoteStatus: </strong> </div>
                    <div class="col-xs-12 col-sm-8 nopadding">@Model.QuoteStatus</div>

                    <div class="col-xs-12 col-sm-4 nopadding"><strong>@WebStore_Resources.TitleQuoteCreatedBy: </strong> </div>
                    @if (Model.UserName != null)
                    {<div class="col-xs-12 col-sm-8 nopadding">@Model.CreatedByName  (@Model.UserName)</div>}
                    else{ <div class="col-xs-12 col-sm-8 nopadding">@Model.CreatedByName  (@Model.Email)</div>}
                    

                    @*@if (!string.IsNullOrEmpty(Model.JobName))
        {
            <div class="col-xs-12 col-sm-4"><strong> @WebStore_Resources.LabelJobName: </strong> </div>
            <div class="col-xs-12 col-sm-8 nopadding">@Model.JobName</div>
        }*@
                </div>

            </div>
        </div>
        @*Quote Details Ends*@

        @*Customer Information Starts*@
        <div class="col-12 col-lg-6 account-profile-section">
            <div class="h-100 dashboard-content">
                <h3 class="b2b-section-header">@WebStore_Resources.LabelCustomerInformation</h3>

                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 nopadding">
                    <div class="col-xs-12 col-sm-4 nopadding"><strong>@WebStore_Resources.TitleCustomerName: </strong> </div>
                    <div class="col-xs-12 col-sm-8 nopadding">@Model.FirstName @Model.LastName</div>

                    <div class="col-xs-12 col-sm-4 nopadding"><strong>@WebStore_Resources.TitleEmail: </strong> </div>
                    <div class="col-xs-12 col-sm-8 nopadding"> @Model.Email</div>

                    <div class="col-xs-12 col-sm-4 nopadding"><strong>@WebStore_Resources.LabelPhoneNumber: </strong> </div>
                    <div class="col-xs-12 col-sm-8 nopadding">@Model.PhoneNumber</div>
                </div>

            </div>
        </div>
        @*Customer Information Ends*@
    </div>

    <div class="row">
        <div class="col-xs-12 margin-top">
            <div class="dashboard-content">
                <h3 class="b2b-section-header">Billing and Shipping</h3>
                <div class="p-4">
                    <div>
                        @*Billing To Starts*@
                        <div class="col-xs-12 col-lg-6 nopadding">
                            <div class="margin-bottom"><strong>@WebStore_Resources.TitleBillingTo</strong></div>
                            <div class="col-xs-12 nopadding">
                                @Html.RenderBlock(Model.BillingAddressHtml)
                            </div>
                        </div>
                        @*Billing To Starts*@
                        @*Shipping To Starts*@
                        <div class="col-xs-12 col-lg-6">
                            <div class="margin-bottom"><strong>@WebStore_Resources.TitleShippingTo</strong></div>
                            <div class="col-xs-12 nopadding">
                                @Html.RenderBlock(Model.ShippingAddressHtml)

                                <div class="border-top pt-2 pb-2"></div>
                                @if (HelperUtility.IsNotNull(Model?.InHandDate))
                                {
                                    <div class="p-0 pb-1"><strong>@WebStore_Resources.InHandsDate:</strong> @Html.RenderBlock((Model?.InHandDate.ToDateTimeFormat()))</div>
                                }
                                @*@if (!string.IsNullOrEmpty(Model.ShippingConstraintCode))
                                    {
                                        <div class="pb-1"><strong>@WebStore_Resources.LabelShippingConstraintsCode:</strong> @HelperUtility.GetEnumDescriptionValue((ShippingConstraintsEnum)Enum.Parse(typeof(ShippingConstraintsEnum), Model.ShippingConstraintCode))</div>
                                    }*@
                                <div><strong>@WebStore_Resources.TitleShippingType:</strong> @WebUtility.HtmlDecode(@Model.ShippingType)</div>
                            </div>
                        </div>
                        @*Shipping To Starts*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="dashboard-content quote-main-table">
                <h3 class="b2b-section-header">@WebStore_Resources.HeadingProductsInQuote</h3>
                <div class="table-responsive quote-table">
                    <table class="table table-tr">
                        <tr class="table-heading" style="border-bottom:1px solid #c3c3c3;">
                            <th class="table-td receipt-column-item  pl-4">@WebStore_Resources.ColumnTitleImage</th>
                            @*<th class="table-td receipt-column-item">@WebStore_Resources.TitleSKU</th>*@
                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelProductName</th>
                            <th class="table-td receipt-column-item">@WebStore_Resources.AwctEstimatedShipDate</th>
                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelDescription</th>
                            <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQuantity</th>
                            <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitleUnitPrice</th>
                            <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                        </tr>
                        @foreach (var items in Model?.ShoppingCartItems?.AsEnumerable()?.Reverse())
                        {

                            <tr class="receipt-item table-tr">
                                <td class="table-td receipt-column-item">
                                    <img src="@items.ImagePath" class="img-responsive" alt="">
                                </td>
                                @*<td class="table-td receipt-column-item">
                                        @if (items.GroupProducts?.Count > 0)
                                        {
                                            foreach (var product in items.GroupProducts)
                                            {
                                                @Html.RenderBlock(product.Sku)
                                            }
                                        }
                                        else
                                        {@Html.RenderBlock(items.SKU)}



                                    </td>*@
                                <td class="table-td receipt-column-item">



                                    @Html.RenderBlock(items.ProductName)
                                    @if (items.GroupProducts?.Count > 0)
                                    {
                                        foreach (var product in items.GroupProducts)
                                        {
                                            @Html.RenderBlock(product.ProductName)
                                        }
                                    }
                                    @if (!string.IsNullOrEmpty(items.DownloadableProductKey))
                                    {
                                        List<string> keys = items.DownloadableProductKey.Split(',').ToList();
                                        <h5 style="color:red">Product Keys</h5>
                                        foreach (string item in keys)
                                        {
                                            <div>@Html.RenderBlock(item)</div>
                                        }
                                    }
                                    <br />
                                    <div class="cart-item-description">
                                        @if (items?.PersonaliseValuesDetail?.Count > 0)
                                        {
                                            foreach (var item in items?.PersonaliseValuesDetail)
                                            {
                                                if (!Equals(item.PersonalizeValue, null) && !Equals(item.PersonalizeValue, string.Empty))
                                                {
                                                    <p>
                                                        @item.PersonalizeName: @item.PersonalizeValue
                                                    </p>
                                                }

                                            }
                                        }
                                    </div>
                                </td>
                                <td class="table-td receipt-column-item">
                                    @*@if (items.GroupProducts?.Count > 0)
                                        {


                                            foreach (var product in items.GroupProducts)
                                            {
                                                //@Html.RenderBlock(product.)
                                            }
                                        }*@
                                    @if (items.CartDescription != "" || items.CartDescription != null)
                                    {
                                        string[] EstimatedShipDate = null;
                                        EstimatedShipDate = items.CartDescription.Split('|');
                                        string[] NewEstimatedShipDate = null;

                                        NewEstimatedShipDate= EstimatedShipDate[1].Split('-');
                                        NewEstimatedShipDate[0] = DateTime.Now.AddDays(Convert.ToDouble(NewEstimatedShipDate[0])).ToString("MM/dd/yyyy");
                                        //EstimatedShipDate = DateTime.Now.AddDays(_pdModel.OverideNeedDays).ToString("MM/dd/yyyy");
                                        @Html.RenderBlock(NewEstimatedShipDate[0])

                                    }



                                </td>
                                <td class="table-td receipt-column-item">
                                    @*@if (items.GroupProducts?.Count > 0)
                                        {


                                            foreach (var product in items.GroupProducts)
                                            {
                                                //@Html.RenderBlock(product.)
                                            }
                                        }*@
                                    @if (items.CartDescription != "" || items.CartDescription != null)
                                    {
                                        string[] cartDescription = null;
                                        cartDescription = items.CartDescription.Split('|');
                                        string cartDesc = cartDescription[0].Contains("AddOn")? cartDescription[2] : cartDescription[0] + cartDescription[2];
                                        cartDesc = cartDescription[0].Contains("AddOn") ? cartDescription[2].Replace("Awct_Size", "Size").Replace("Awct_Color", "Color") : cartDescription[0].Replace("\\n", "<br>").Replace("<br />", "") + cartDescription[2].Replace("Awct_Size", "Size").Replace("Awct_Color", "Color");
                                        @Html.RenderBlock(cartDesc)

                                    }



                                </td>

                                <td class="table-td receipt-column-quantity">
                                    @if ((items.Quantity) % 1 == 0)
                                    {
                                        @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                    }
                                    else
                                    {
                                        var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                        @orderedQuantity
                                    }
                                </td>
                                <td class="table-td  receipt-column-price">
                                    @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode, items.UOM)
                                </td>
                                <td class="table-td receipt-column-total">
                                    @Helper.FormatPriceWithCurrency(items.Quantity * items.UnitPrice, Model.CultureCode)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                @Html.Partial("_QuoteSummary", Model)
            </div>
        </div>
    </div>
}