﻿@using Znode.WebStore.Custom.ViewModel
@model QuoteListViewModel
@{

    var QuoteNumber = Model.Quotes.Select(x => x.QuoteNumber).FirstOrDefault();

}

<div id=@Model.GridModel.FrontObjectName class="main-wrapper col">

    <div class="row b2b-breadcrumbs d-none d-md-block hidden">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">@WebStore_Resources.TitleMyAccount</a> / @WebStore_Resources.LabelQuoteHistory</div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="col-xs-12 account-dashboard nopadding user-account">
            <div class="col-xs-12">
                <h1 class="page-title">@WebStore_Resources.LabelQuoteHistory</h1>
            </div>

            <div class="col-xs-12 col-sm-3 col-lg-2">
                <nav class="account-container-menu">
                    @Html.Partial("_AccountMenu")
                </nav>
            </div>

            <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                <div class="col-xs-12 no-gutters product-search dashboard-content">

                    <div class="border-bottom col-xs-12 col-sm-10 col-lg-4 col-md-6 nopadding margin-bottom">
                        @using (Ajax.BeginForm("QuoteHistory", "Quote", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                        {
                            <div id="filterComponent">
                                @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                            </div>
                            <div class="input-group">
                                @*<input class="form-control" type="text" placeholder="Quote Number" id="QuoteNumber" value=""  name="QuoteNumber"/>*@
                                <input id="QuoteNumber" name="QuoteNumber" type="text" value="" placeholder="Quote Number" />
                                <span class="input-group-btn">
                                    @*<button type="submit" id="btnsearch" class="btn btn_search btn-bg-primary" onclick="User.prototype.GetOrderReceipt()" style="line-height: 30px;margin-left: -2px;"> Search </button>*@
                                    <button type="submit" name="SearchButton" title="Search" id="btnsearch" class="btn-text btn-bg-primary">@Admin_Resources.TitleSearch</button>

                                </span>
                            </div>
                            @*<input id="globalfiltercolumn" class="globalfiltercolumn" name="@serchableCoumnName" maxlength="130" data-test-selector="txtGlobalSearch" value="@filteredValue" data-datype="String" type="text" placeholder="Search..." />*@
                            @*<input id="QuoteNumber" name="QuoteNumber" type="text" value="" />

                                <button type="submit" name="SearchButton" title="Search" id="btnsearch" class="btn-text">@Admin_Resources.TitleSearch</button>*@

                        }
                    </div>
                    
                    <div class="list-container p-0">
                        
                        @Html.Partial("_DynamicGrid", Model.GridModel)
                    </div>
                    @Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.Quotes)

                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-3 p-0 mt-4 pt-3">
        <div class="col-12"><p class="key-PromoSpot">@Html.RenderMessage("PromoSpot")</p></div>


    </div>
</div>