﻿@charset "UTF-8";
/* 
 |   
 | Theme Name: Znode Dashboard.
 | Theme URI: http://znode.com
 | Description: Znode e-commerce framework Dashboard theme. 
 | Author: Znode.
 | Author URI: www.mrrsoft.com
 | Version: 1.0.0.1
 | 
*/
html, body { height: 100%; font-family: arial, helvetica, sans-serif; font-size: 12px; color: #2d333b; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; }

.nopadding { padding: 0; margin: 0; }

.required:after { content: ' * '; color: #ea2f25; }

a { outline: medium none !important; text-decoration: none !important; color: #3085db; cursor: pointer; }

a:hover { outline: medium none; text-decoration: none; color: #e72e25; }

h1, h2, h3, h4, h5 { color: #2d333b; font-family: arial, helvetica, sans-serif; }

h1, h2 { margin: 5px 0; font-size: 18px; }

h3, h4 { margin: 5px 0; font-size: 16px; }

h5 { margin: 4px 0; font-size: 14px; }

label { margin-bottom: 0; }

.padding-top { padding-top: 10px; }

.padding-bottom { padding-bottom: 10px; }

.padding-top-bottom { padding-top: 10px; padding-bottom: 10px; }

.padding-left { padding-left: 10px; }

.padding-right { padding-right: 10px; }

.margin-top { margin-top: 10px; }

.margin-bottom { margin-bottom: 10px; }

.margin-top-bottom { margin-top: 10px; margin-bottom: 10px; }

.error-msg, .field-validation-error, .field-validation-error span { color: #ea2f25; }

.success-msg { color: #5cb85c; }

.input-validation-error { border: 1px solid #ea2f25 !important; }

.field-validation-valid, .validation-summary-valid { display: none; }

.field-validation-error span { position: absolute; top: 2px; margin-left: 5px; font-size: 11px; padding: 2px 4px; background-color: #fff; border: 1px solid #ea2f25; border-radius: 4px; z-index: 999; margin-left: 5px; background: #fdeeee; }

.field-validation-error span:after { content: ''; display: block; position: absolute; top: 4px; left: -10px; width: 0; height: 0; border-color: transparent #ea2f25 transparent transparent; border-style: solid; border-width: 5px; }

.btn-text { display: inline-block; min-width: 90px; text-align: center; font-family: arial, helvetica, sans-serif; border: none; color: #fff; border-radius: 0; font-size: 12px; font-weight: 700; padding: 0 10px; margin-left: 5px; height: 26px; line-height: 26px; text-transform: capitalize; color: #2e3e4d; overflow: hidden; float: left; }

.btn-text:hover, .btn-text:focus, .btn-text:active { color: #fff; }

.btn-text-icon { display: inline-block; min-width: 90px; text-align: center; font-family: arial, helvetica, sans-serif; border: none; color: #fff; border-radius: 0; font-size: 12px; font-weight: 700; position: relative; padding: 0 15px 0 41px; overflow: hidden; margin-left: 5px; height: 26px; line-height: 26px; text-transform: capitalize; color: #2e3e4d; float: left; }

.btn-text-icon:hover, .btn-text-icon:focus, .btn-text-icon:active { color: #fff; }

.btn-text-icon i { position: absolute; top: 0; left: 0; width: 26px; height: 26px; line-height: 24px; margin: 0; background-color: #5d6e7e; color: #fff; }

.btn-narrow-icon { border: 1px solid #f1f1f1; border-radius: 3px; display: inline-block !important; height: 26px; line-height: 26px; margin-left: 5px; padding: 0 10px; text-align: center; }

.btn-narrow-icon:hover { color: #e72e25; }

.red { background-color: #e72e25; color: #fff; }

.red:hover { background-color: #fa443b; }

.grey { background-color: #979a97; color: #fff; }

.grey:hover { background-color: #b5b6b5; }

.btn-dropdown { display: inline-block; border-radius: 3px; font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: 400; padding: 0 10px; height: 24px; line-height: 24px; text-transform: capitalize; background-color: #fff; color: #2d333b; border: 1px solid #c3c3c3; text-align: left; }

.btn-dropdown:hover, .btn-dropdown:focus, .btn-dropdown:active { color: #e72e25; }

.btn-dropdown .z-down { font-size: 10px; padding-left: 2px; }

.dropdown-list-ul { border-radius: 3px; border: 1px solid #c3c3c3; margin: 0; padding: 0; box-shadow: 2px 3px 2px #716d6e; /*left:0*/ font-size: 12px; list-style: none !important; min-width: 100px; max-height: 200px; overflow-y: auto !important; overflow-x: hidden; }

.dropdown-list-ul li { list-style: none !important; }

.dropdown-list-ul li a { color: #2d333b; text-transform: capitalize; padding: 3px 10px; border-bottom: 1px solid #929292; }

.dropdown-list-ul li label { font-weight: normal; width: 100%; }

.dropdown-list-ul li label span { width: 100%; }

.dropdown-list-ul li:hover { background-color: #3085db; color: #fff; }

.dropdown-list-ul li:nth-last-child(1) a { border-bottom: 0 !important; }

.dropdown-list-ul label { margin-bottom: 0; padding: 3px 20px 3px 5px; }

.dropdown-list-ul:after { content: ''; display: block; position: absolute; top: -16px; left: 8px; width: 0; height: 0; border-color: transparent transparent #fff transparent; border-style: solid; border-width: 8px; }

.dropdown-list-multiselect li { display: -webkit-box; display: -moz-box; display: -ms-flexbox; width: 100%; }

.pull-right .dropdown-list-container { left: auto; right: 0; }

.pull-right .dropdown-list-container:after { left: auto; right: 8px; }

.dropdown-list-container { left: 0; right: auto; margin: 0; padding: 0; overflow: hidden !important; }

.dropdown-list-container .dropdown-wrapper { position: static; }

.dropdown-list-container .dropdown-search { background-color: #f5f5f5; padding: 5px; border-top: 1px solid #f1f1f1; min-width: 150px; }

.dropdown-list-container .dropdown-submit { background-color: #f5f5f5; padding: 5px; border-top: 1px solid #f1f1f1; text-align: right; float: left; width: 100%; }

.dropdown-list-container .dropdown-submit button.btn-text { color: #fff; }

.dropdown-list-container .dropdown-list-ul { box-shadow: none; border: 0; position: relative; }

select { color: #606d7a; font-size: 12px; height: 24px; min-width: 100%; padding: 2px 20px 2px 2px; border: 1px solid #f1f1f1; border-radius: 3px; box-shadow: none; outline: medium none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; background: #fff url("../Images/drop-arrow.png") no-repeat 98% center; text-indent: 0.01px; text-overflow: ""; border: 1px solid #c3c3c3; -webkit-transition: all 0.0s ease; -moz-transition: all 0.0s ease; -o-transition: all 0.0s ease; -ms-transition: all 0.0s ease; transition: all 0.0s ease; }

select option { padding: 3px 8px; }

.ie select { display: none; }

.multiselect-dropdown { background: none; padding: 0 1px; }

.multiselect { color: #2d333b; font-size: 12px; height: 24px; min-width: 120px; width: 100%; padding: 2px 20px 2px 0; border: 1px solid #f1f1f1; border-radius: 3px; box-shadow: none; outline: medium none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; background: #fff url("../Images/drop-arrow.png") no-repeat 98% center; text-indent: 0.01px; text-overflow: ""; border: 1px solid #c3c3c3; }

.multiselect:hover, .multiselect:focus, .multiselect:active { background-color: transparent !important; }

.multiselect .caret { display: none; }

.multiselect-container { position: absolute; list-style-type: none; margin: 0; padding: 0; max-height: 200px; overflow-y: auto; }

.multiselect-container .input-group { margin: 5px; }

.multiselect-container li { padding: 0; }

.multiselect-container li a { padding: 0; }

.multiselect-container li a:hover { background-color: #3085db; color: #fff; }

.multiselect-container > li.multiselect-group label { margin: 0; padding: 3px 20px; height: 100%; font-weight: 700; }

.multiselect-container > li.multiselect-group-clickable label { cursor: pointer; }

.multiselect-container > li > a > label { margin: 0; height: 100%; cursor: pointer; font-weight: 400; padding: 3px 20px 3px 25px; }

.multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox { margin: 0; }

.multiselect-container > li > a > label > input[type=checkbox] { margin-bottom: 5px; }

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"] { color: #606d7a; padding: 0 5px; font-family: arial, helvetica, sans-serif; font-size: 12px; width: 100%; border: 1px solid #c3c3c3; box-shadow: none; outline: medium none; height: 24px; border-radius: 3px; }

textarea { color: #606d7a; padding: 0 5px; font-family: arial, helvetica, sans-serif; font-size: 12px; width: 100%; border: 1px solid #c3c3c3; box-shadow: none; outline: medium none; resize: none; overflow-y: auto; border-radius: 3px; }

html input[disabled], html select[disabled], html textarea[disabled], html input[readonly], html select[readonly], html textarea[readonly] { cursor: not-allowed; background-color: #efefef; }

.left-inner-icon { position: relative; }

.left-inner-icon input { padding-left: 36px; }

.left-inner-icon i { position: absolute; padding: 8px 5px; height: 24px; pointer-events: none; top: 0; color: #e72e25; line-height: 4px; }

.left-inner-icon .unit { background-color: #2d333b; color: #fff; width: 32px; height: 24px; text-align: center; line-height: 8px; }

.right-inner-icon { position: relative; }

.right-inner-icon input { padding-right: 36px; }

.right-inner-icon i { position: absolute; right: 0; top: 0; padding: 10px; height: 24px; pointer-events: none; color: #e72e25; line-height: 4px; }

.right-inner-icon .unit { background-color: #2d333b; color: #fff; width: 32px; height: 24px; text-align: center; line-height: 8px; }

.right-inner-icon .unit-text { background-color: #2d333b; color: #fff; width: 35px; height: 24px; text-align: center; padding: 7px 5px; font-size: 10px; line-height: 10px; }

input[type=checkbox], input[type=radio] { opacity: 0; position: absolute; z-index: 12; width: 18px; height: 18px; cursor: pointer; margin: 0; }

input[type=checkbox]:checked, input[type=radio]:checked, input[type=checkbox]:focus, input[type=radio]:focus { outline: none !important; cursor: pointer; }

input[type=checkbox] + .lbl, input[type=radio] + .lbl { z-index: 11; display: inline-block; margin: 0; line-height: 20px; min-height: 14px; min-width: 14px; font-weight: normal; cursor: pointer; }

input[type=checkbox] + .lbl.padding-8::before, input[type=radio] + .lbl.padding-8::before { margin-right: 8px; }

input[type=checkbox] + .lbl::before { font-family: Glyphicons Halflings; font-weight: normal; font-size: 11px; color: #e72e25; content: "\a0"; background-color: #fafafa; border: 1px solid #c3c3c3; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); border-radius: 0; display: inline-block; text-align: center; vertical-align: baseline; height: 15px; line-height: 10px; min-width: 16px; margin-right: 1px; margin-top: -5px; }

input[type=radio] + .lbl::before { font-family: Glyphicons Halflings; font-weight: normal; font-size: 11px; color: #e72e25; content: "\a0"; background-color: #fafafa; border: 1px solid #c3c3c3; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); border-radius: 0; display: inline-block; text-align: center; vertical-align: baseline; height: 16px; line-height: 15px; min-width: 16px; margin-right: 1px; margin-top: -5px; }

input[type=radio] + .lbl::before { vertical-align: middle; }

input[type=checkbox]:checked + .lbl::before, input[type=radio]:checked + .lbl::before { display: inline-block; content: '\e013'; background-color: #F5F8FC; border-color: #c3c3c3; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); cursor: pointer; }

input[type=checkbox]:hover + .lbl::before, input[type=radio]:hover + .lbl::before, input[type=checkbox] + .lbl:hover::before, input[type=radio] + .lbl:hover::before { border-color: #c3c3c3; cursor: pointer; }

input[type=checkbox]:active + .lbl::before, input[type=radio]:active + .lbl::before, input[type=checkbox]:checked:active + .lbl::before, input[type=radio]:checked:active + .lbl::before { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

input[type=checkbox]:disabled + .lbl::before, input[type=radio]:disabled + .lbl::before, input[type=checkbox][disabled] + .lbl::before, input[type=radio][disabled] + .lbl::before, input[type=checkbox].disabled + .lbl::before, input[type=radio].disabled + .lbl::before { background-color: #DDD !important; border-color: #f1f1f1 !important; box-shadow: none !important; color: #BBB; }

input[type=radio] + .lbl::before { border-radius: 32px; font-family: arial, helvetica, sans-serif; font-size: 34px; }

input[type=radio]:checked + .lbl::before { content: "\2022"; }

.tooltip { font-family: arial, helvetica, sans-serif; font-size: 11px; }

.tooltip.in { opacity: 1; filter: alpha(opacity=100); }

.tooltip-inner { color: #fff; background-color: #2d333b; border: 1px solid #f1f1f1; }

.loader { z-index: 100; border-radius: 10px; padding: 0 5px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 150px; min-height: 60px; border: 1px solid #f1f1f1; background-color: #fff; color: #2d333b; font-weight: 600; }

.loader img { width: 50px; margin: 5px; }

.overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.8); z-index: 9999; }

.switch-field { overflow: hidden; }

.switch-field input { display: none; }

.switch-field label { float: left; display: inline-block; width: 30px; background-color: #fff; color: #2d333b; line-height: 16px !important; font-size: 10px; font-weight: 600 !important; text-align: center; text-shadow: none; padding: 1px; border: 1px solid rgba(0, 0, 0, 0.2); -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -ms-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.switch-field label:hover { cursor: pointer; }

.switch-field label:first-of-type { border-radius: 4px 0 0 4px; }

.switch-field label:last-of-type { border-radius: 0 4px 4px 0; }

.switch-title { margin-bottom: 6px; }

.switch-field input:checked + label { background-color: #979a97; color: #fff; -webkit-box-shadow: none; box-shadow: none; }

.panel-heading { padding: 0; }

.panel-heading h4 { padding: 8px 10px; cursor: pointer; font-size: 13px; font-weight: bold; }

.panel-body { padding: 10px; }

.panel-heading .accordion-toggle:after { font-family: "znode-icons"; content: "\f068"; float: right; color: grey; }

.panel-heading .accordion-toggle.collapsed:after { content: "\f067"; }

.ui-autocomplete { position: absolute; top: 0; left: 0; cursor: default; max-height: 200px; overflow: auto; padding: 0; margin: 0; background-color: #fff; border: 1px solid #c3c3c3; z-index: 999999; }

.ui-autocomplete li { list-style: none; padding: 3px 15px 3px 10px; cursor: pointer; color: #3085db; font-weight: 600; vertical-align: middle; }

.ui-autocomplete li:hover { background-color: #3085db; color: #fff; }

.table { margin-bottom: 0; }

.table thead { color: #2d333b; border-left: 2px solid #2d333b; border-bottom: 3px solid #c3c3c3; }

.table thead tr { min-height: 30px; }

.table thead tr th { padding: 5px; }

.table thead a { color: #2d333b; display: block; }

.table thead a i { color: #c3c3c3; padding-left: 2px; font-size: 10px; }

.table thead a.selected i { color: #2d333b; padding-left: 2px; font-size: 10px; }

.table tbody tr td { color: #2d333b; padding: 5px; border-bottom: 0.5px solid #f1f1f1; vertical-align: middle; }

.table tbody tr td a { color: #3085db; }

.table tbody tr td .z-close { color: #ea2f25; }

.table tbody tr td .z-ok { color: #5cb85c; }

.table tbody tr td .z-audio { font-size: 32px; color: #3085db; }

.table tbody tr td .z-video { font-size: 32px; color: #e72e25; }

.table tbody tr td .z-file-text { font-size: 32px; }

.table tbody tr td .z-check-circle { color: #5cb85c; font-size: 18px; }

.table tbody tr td .z-close-circle { color: #ea2f25; font-size: 18px; }

.table tfoot { display: none; }

.table tbody tr:hover { background-color: #f8f6f6; }

.pagination { padding: 4px 0; padding-right: 15px; border-top: 1px solid #f1f1f1; border-left: 2px solid #2d333b; border-bottom: 2px solid #c3c3c3; }

.pagination i { color: #3085db; }

.pagination i:hover { color: #e72e25; }

.pagination .page-limit { padding-right: 20px; }

.pagination .page-limit input[type=text] { width: 30px; float: none; }

.pagination .show-per-page select { min-width: 30px; float: none; }

.action-ui { margin: 0; padding: 0; }

.action-ui li { padding: 0 3px; list-style: none; display: inline-block; }

.action-ui li a:hover { color: #e72e25; }

.grid-action { width: 110px; }

.imageicon { /*text-align:center;*/ text-align: left; }

.imageicon .grid-img { max-width: 50px; max-height: 50px; }

.navgation-control a, .navgation-control button { display: inline-block; text-align: center; border: 1px solid #f1f1f1; border-radius: 4px; padding: 0 10px; margin-left: 5px; height: 26px; line-height: 26px; }

.navgation-control a:hover, .navgation-control button:hover { color: #e72e25; cursor: pointer; }

.navgation-control p { line-height: 26px; margin: 0 5px; }

.dynamic-tabs { float: left; width: 100%; padding: 0; }

.dynamic-tabs .nav-tabs { border-bottom: 2px solid #c3c3c3; }

.dynamic-tabs .nav-tabs li a { padding: 5px 10px; border-color: #c3c3c3 #c3c3c3 transparent; margin-right: 5px; font-weight: 600; color: #2d333b; }

.dynamic-tabs .nav-tabs li a:hover, .dynamic-tabs .nav-tabs li a:active, .dynamic-tabs .nav-tabs li a:focus { border-bottom: 2px solid #2d333b; color: #e72e25; }

.dynamic-tabs .nav-tabs li.ui-state-active a { border-bottom: 2px solid #2d333b; color: #e72e25; }

.dynamic-tabs .ui-tabs-panel { float: left; width: 100%; background-color: #fff; min-height: 400px; padding: 10px; }

.datepicker { top: 0; left: 0; padding: 4px; margin-top: 0; background-color: #fff !important; cursor: pointer !important; -webkit-transition: all 0s ease; -moz-transition: all 0s ease; -o-transition: all 0s ease; -ms-transition: all 0s ease; transition: all 0s ease; }

.datepicker-orient-top:before { content: ''; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #c3c3c3; border-bottom-color: rgba(0, 0, 0, 0.2); position: absolute; top: -7px; left: 6px; }

.datepicker-orient-top:after { content: ''; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #fff; position: absolute; top: -6px; left: 7px; }

.datepicker-orient-bottom:before { content: ''; display: inline-block; position: absolute; bottom: -12px; left: 6px; width: 0; height: 0; border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent; border-style: solid; border-width: 6px; }

.datepicker-orient-bottom:after { content: ''; display: inline-block; position: absolute; bottom: -12px; left: 7px; width: 0; height: 0; border-color: #fff transparent transparent transparent; border-style: solid; border-width: 6px; }

.datepicker > div { display: none; }

.datepicker table { width: 100%; margin: 0; }

.datepicker td, .datepicker th { text-align: center; width: 30px; height: 20px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.datepicker td.day:hover { background: #c3c3c3; cursor: pointer; }

.datepicker td.old, .datepicker td.new { color: #999; }

.datepicker td.active, .datepicker td.active:hover { background-color: #e72e25; background-image: -moz-linear-gradient(top, #e83125, #f32d23); background-image: -ms-linear-gradient(top, #e83125, #f32d23); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e83125), to(#f32d23)); background-image: -webkit-linear-gradient(top, #e83125, #f32d23); background-image: -o-linear-gradient(top, #e83125, #f32d23); background-image: linear-gradient(top, #e83125, #f32d23); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',GradientType=0); border-color: #04c #0044cc #002a80; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] { background-color: #04c; }

.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active { background-color: #039 \9; }

.datepicker td span { display: block; width: 47px; height: 54px; line-height: 54px; float: left; margin: 2px; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.datepicker td span:hover { background: #fff; }

.datepicker td span.active { background-color: #3085db; background-image: -moz-linear-gradient(top, #08c, #04c); background-image: -ms-linear-gradient(top, #08c, #04c); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c)); background-image: -webkit-linear-gradient(top, #08c, #04c); background-image: -o-linear-gradient(top, #08c, #04c); background-image: linear-gradient(top, #08c, #04c); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',GradientType=0); border-color: #04c #0044cc #002a80; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] { background-color: #04c; }

.datepicker td span.active:active, .datepicker td span.active.active { background-color: #039 \9; }

.datepicker td span.old { color: #999; }

.datepicker th.switch { width: 145px; }

.datepicker thead tr:first-child th { cursor: pointer; }

.datepicker thead tr:first-child th:hover { background: #fff; }

.datepicker-months table tbody tr td, .datepicker-years table tbody tr td { width: 220px !important; }

.modal { z-index: 999999; }

.modal-dialog { left: 50%; margin: 0 auto; position: fixed; top: 50%; transform: translate(-50%, -50%) !important; -webkit-transform: translate(-50%, -50%) !important; -moz-transform: translate(-50%, -50%) !important; }

.modal-backdrop { z-index: 9988; }

.modal-body, .modal-footer, .modal-content { float: left; width: 100%; }

.modal-title { font-size: 14px; font-weight: 600; display: block; line-height: 26px; color: #fff; }

.modal-header { float: left; width: 100%; background-color: #3085db; border-top-right-radius: 4px; border-top-left-radius: 4px; }

.modal-header .close { color: #fff; }

.modal-content .modal-body .show-per-page { opacity: 0.6; cursor: not-allowed; }

.modal-content .modal-body .show-per-page select, .modal-content .modal-body .show-per-page a { pointer-events: none; }

@media all and (min-width: 992px) { .modal .modal-body { max-height: 430px; overflow-y: auto; } }

@media all and (min-width: 1300px) { .modal .modal-body { max-height: 450px; overflow-y: auto; } }

@media all and (min-width: 1500px) { .modal .modal-body { max-height: 550px; overflow-y: auto; } }

@font-face { font-family: 'Glyphicons Halflings'; src: url("../../fonts/glyphicons-halflings-regular.eot"); src: url("../../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@font-face { font-family: "znode-icons"; src: url("../../fonts/znode-icons.eot?wvnuw4"); src: url("../../fonts/znode-icons.eot?wvnuw4#iefix") format("embedded-opentype"), url("../../fonts/znode-icons.ttf?wvnuw4") format("truetype"), url("../../fonts/znode-icons.woff?wvnuw4") format("woff"), url("../../fonts/znode-icons.svg?wvnuw4#znode-icons") format("svg"); font-weight: normal; font-style: normal; }

[class^="z-"], [class*=" z-"] { font-family: 'znode-icons' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.z-hamburger:before { font-family: "znode-icons"; content: ""; }

.z-backward:before { font-family: "znode-icons"; content: ""; }

.z-forward:before { font-family: "znode-icons"; content: ""; }

.z-delete:before, .z-Delete:before { font-family: "znode-icons"; content: ""; }

.z-detail-view:before { font-family: "znode-icons"; content: ""; }

.z-edit:before, .z-Edit:before { font-family: "znode-icons"; content: ""; }

.z-export:before { font-family: "znode-icons"; content: ""; }

.z-folder-close:before { font-family: "znode-icons"; content: ""; }

.z-folder-open:before { font-family: "znode-icons"; content: ""; }

.z-info:before { font-family: "znode-icons"; content: ""; }

.z-left-navigation:before { font-family: "znode-icons"; content: ""; }

.z-list-view:before { font-family: "znode-icons"; content: ""; }

.z-menu-hamburger:before { font-family: "znode-icons"; content: ""; }

.z-refresh:before { font-family: "znode-icons"; content: ""; }

.z-search:before { font-family: "znode-icons"; content: ""; }

.z-setting:before, .z-manage:before, .z-Setup:before { font-family: "znode-icons"; content: ""; }

.z-tile-view:before { font-family: "znode-icons"; content: ""; }

.z-user:before { font-family: "znode-icons"; content: ""; }

.z-first:before { font-family: "znode-icons"; content: ""; }

.z-last:before { font-family: "znode-icons"; content: ""; }

.z-left-all:before { font-family: "znode-icons"; content: ""; }

.z-right-all:before { font-family: "znode-icons"; content: ""; }

.z-up-all:before { font-family: "znode-icons"; content: ""; }

.z-down-all:before { font-family: "znode-icons"; content: ""; }

.z-left:before { font-family: "znode-icons"; content: ""; }

.z-right:before { font-family: "znode-icons"; content: ""; }

.z-up:before { font-family: "znode-icons"; content: ""; }

.z-down:before { font-family: "znode-icons"; content: ""; }

.z-close-circle:before { font-family: "znode-icons"; content: ""; }

.z-add:before { font-family: "znode-icons"; content: ""; }

.z-close:before { font-family: "znode-icons"; content: ""; }

.z-back:before { font-family: "znode-icons"; content: ""; }

.z-calendar:before { font-family: "znode-icons"; content: ""; }

.z-minus:before { font-family: "znode-icons"; content: ""; }

.z-view:before, .z-View:before { font-family: "znode-icons"; content: ""; }

.z-ok:before { font-family: "znode-icons"; content: ""; }

.z-disable:before { font-family: "znode-icons"; content: ""; }

.z-enable:before { font-family: "znode-icons"; content: ""; }

.z-sortable:before { font-family: "znode-icons"; content: ""; }

.z-admin:before, .z-Admin:before { font-family: "znode-icons"; content: ""; }

.z-cms:before, .z-CMS:before { font-family: "znode-icons"; content: ""; }

.z-media-manager:before, .z-Media:before { font-family: "znode-icons"; content: ""; }

.z-oms:before, .z-OMS:before { font-family: "znode-icons"; content: ""; }

.z-pim:before, .z-PIM:before { font-family: "znode-icons"; content: ""; }

.z-customers:before { font-family: "znode-icons"; content: ""; }

.z-dashboard:before, .z-Dashboard:before { font-family: "znode-icons"; content: ""; }

.z-promotinons-and-coupons:before { font-family: "znode-icons"; content: ""; }

.z-provider-engine:before { font-family: "znode-icons"; content: ""; }

.z-roles:before { font-family: "znode-icons"; content: ""; }

.z-supplier:before { font-family: "znode-icons"; content: ""; }

.z-taxes:before { font-family: "znode-icons"; content: ""; }

.z-attribute:before { font-family: "znode-icons"; content: ""; }

.z-attribute-family:before { font-family: "znode-icons"; content: ""; }

.z-attribute-group:before { font-family: "znode-icons"; content: ""; }

.z-clear-cache:before { font-family: "znode-icons"; content: ""; }

.z-upload:before { font-family: "znode-icons"; content: ""; }

.z-copy:before { font-family: "znode-icons"; content: ""; }

.z-preview:before { font-family: "znode-icons"; content: ""; }

.z-audio:before { font-family: "znode-icons"; content: ""; }

.z-video:before { font-family: "znode-icons"; content: ""; }

.z-file-text:before { font-family: "znode-icons"; content: ""; }

.z-reports:before, .z-Reports:before { font-family: "znode-icons"; content: ""; }

.z-download:before { font-family: "znode-icons"; content: ""; }

.z-angle-up:before { font-family: "znode-icons"; content: ""; }

.z-angle-down:before { font-family: "znode-icons"; content: ""; }

.z-check-circle:before { font-family: "znode-icons"; content: ""; }

.z-question-circle:before { font-family: "znode-icons"; content: ""; }

.z-inventory:before { font-family: "znode-icons"; content: ""; }

.z-payment:before { font-family: "znode-icons"; content: ""; }

.z-price:before { font-family: "znode-icons"; content: ""; }

.z-profiles:before { font-family: "znode-icons"; content: ""; }

.z-shipping:before { font-family: "znode-icons"; content: ""; }

.z-stores:before { font-family: "znode-icons"; content: ""; }

.z-tax:before { font-family: "znode-icons"; content: ""; }

.z-warehouse:before { font-family: "znode-icons"; content: ""; }

.z-account:before { font-family: "znode-icons"; content: ""; }

.z-attribute-configuration:before { font-family: "znode-icons"; content: ""; }

.z-media-list:before { font-family: "znode-icons"; content: ""; }

.z-contents:before { font-family: "znode-icons"; content: ""; }

.z-customer-configuration:before { font-family: "znode-icons"; content: ""; }

.z-customer-review:before { font-family: "znode-icons"; content: ""; }

.z-email-templates:before { font-family: "znode-icons"; content: ""; }

.z-slider-configuration:before { font-family: "znode-icons"; content: ""; }

.z-theme-configuration:before { font-family: "znode-icons"; content: ""; }

.z-website-configuration:before { font-family: "znode-icons"; content: ""; }

.z-menu-list:before { font-family: "znode-icons"; content: ""; }

.z-role-access-right:before { font-family: "znode-icons"; content: ""; }

.z-store-admin:before { font-family: "znode-icons"; content: ""; }

.z-tree-view:before { font-family: "znode-icons"; content: ""; }

body { padding-top: 38px; padding-bottom: 45px; background-color: #f8f6f6; }

body.nav-open aside { left: 0; }

body.nav-open section.main-container { margin-left: 255px; }

body .main-container { margin-left: 50px; }

.body-wrapper { padding-left: 2px; padding-right: 10px; }

header { position: fixed; top: 0; left: 0; width: 100%; z-index: 9988; line-height: 26px; color: #2d333b; background-size: 100%; background-color: #2d333b; }

header .logo { float: left; height: 38px; background-color: #fff; }

header .logo img { padding: 10px 31px; height: 42px; }

header nav { float: left; margin: 0; padding: 0; }

header nav ul { margin: 0; padding: 0; }

header nav ul li { display: inline-block; border-right: 1px solid #4ca1c6; padding: 0; float: left; position: relative; }

header nav ul li a { padding: 5px 10px; text-transform: capitalize; color: #fff; font-weight: 700; text-decoration: none; font-size: 12px; float: left; }

header nav ul li a i { padding-right: 5px; }

header nav ul li a:focus { color: #fff; }

header nav ul li:hover, header nav ul li:focus, header nav ul li:active { background-color: #fff; border-bottom: 2px solid #e72e25; outline: none; color: #e72e25; }

header nav ul li:hover i, header nav ul li:focus i, header nav ul li:active i { color: #e72e25; }

header nav ul li:hover a, header nav ul li:focus a, header nav ul li:active a { color: #2d333b; }

header nav ul li ul { display: none; margin-top: -1px; padding: 0; min-width: 140px; }

header nav ul li ul li { width: 100%; border-right: 0; }

header nav ul li ul li:hover { border-bottom: none; }

header nav ul li ul li:hover i { color: #3085db; }

header nav ul li ul li a { text-transform: capitalize; padding: 5px 10px !important; width: 100%; }

header nav ul li .dropdown-menu { border-radius: 0; top: 106%; min-width: 120px; }

header nav .current-page { background-color: #fff; border-bottom: 2px solid #e72e25; outline: none; color: #e72e25; }

header nav .current-page i { color: #e72e25; }

header nav .current-page a { color: #2d333b; }

header nav ul li:hover ul { display: block; margin-top: -1px; padding: 0; }

header nav ul li:hover ul li a { border-bottom: 1px solid #f1f1f1; color: #2d333b; }

.top-search-field { width: 250px; }

.top-search-field li { width: 100%; }

.top-search-field .form-group { margin: 10px 0; float: left; width: 100%; }

.top-search-field .form-group span { line-height: 26px; color: #3085db; }

.top-search-field:after { content: ''; display: block; position: absolute; top: -20px; right: 8px; width: 0; height: 0; border-color: transparent transparent #fff transparent; border-style: solid; border-width: 10px; }

.top-user-details { float: left; margin: 0; padding: 0; }

.top-user-details .dropdown-list-ul { overflow-y: visible !important; }

.top-user-details li { display: inline-block; padding: 0 10px; height: 38px; position: relative !important; }

.top-user-details li:nth-child(1) { border-left: 1px solid #f1f1f1; }

.top-user-details li:nth-child(4) { border-left: 1px solid #f1f1f1; }

.top-user-details li:nth-child(2) { border-left: 1px solid #f1f1f1; border-right: 1px solid #f1f1f1; }

.top-user-details li a { color: #fff; line-height: 38px; }

.top-user-details li a i { font-size: 12px; }

.top-user-details li.user-details .user-dropdown-menu { left: auto; right: 0; width: 350px; border-radius: 4px; margin: 0; padding: 0; min-height: 150px; }

.top-user-details li.user-details .user-dropdown-menu li { width: 100%; padding: 0; height: 100%; }

.top-user-details li.user-details .user-dropdown-menu .user-profile { float: left; border-radius: 4px; height: 100%; width: 100%; }

.top-user-details li.user-details .user-dropdown-menu .user-profile .title { background-color: #3085db; color: #fff; padding: 8px 15px; margin: 0; font-weight: 600; }

.top-user-details li.user-details .user-dropdown-menu .user-profile a { line-height: 26px; }

.top-user-details li.user-details .user-dropdown-menu .user-profile a .btn-text-default { margin-left: 0; }

.top-user-details li.user-details .user-dropdown-menu .user-profile .user-profile-img { border-radius: 100px; border: 2px solid #3085db; padding: 5px; margin: 5px auto; max-width: 90px; }

.top-user-details li.user-details .user-dropdown-menu .user-profile .profile-details { padding: 6px; font-size: 12px; }

.top-user-details li.user-details .user-dropdown-menu .user-profile .profile-details h4 { font-size: 13px; color: #e72e25; font-weight: 600; text-transform: capitalize; }

.top-user-details li.user-details .user-dropdown-menu .user-profile .action-container { padding: 5px 10px; border-top: 1px solid #c3c3c3; }

.top-user-details li.user-details .user-dropdown-menu .user-profile .socal-media-links { color: #3085db; padding-right: 5px; }

.top-user-details .user-dropdown-menu:after { content: ''; display: block; position: absolute; top: -20px; right: 8px; width: 0; height: 0; border-color: transparent transparent #fff transparent; border-style: solid; border-width: 10px; }

aside { position: fixed; height: 100%; width: 100%; color: #fff; left: -206px; background-color: #fff; top: 0; padding-top: 50px; width: 246px; z-index: 100; -moz-transition: left 0.5s ease, width 0.6s cubic-bezier(0.525, -0.35, 0.115, 1.335); -o-transition: left 0.5s ease, width 0.6s cubic-bezier(0.525, -0.35, 0.115, 1.335); -webkit-transition: left 0.5s ease, width 0.6s cubic-bezier(0.525, -0.35, 0.115, 1.335); transition: left 0.5s ease, width 0.6s cubic-bezier(0.525, -0.35, 0.115, 1.335); }

aside .slide-menu-btn { float: right; cursor: pointer; color: #2d333b; outline: none; -webkit-appearance: none; padding: 0; border: none; height: 18px; width: 40px; vertical-align: top; line-height: 27px; background: transparent; -moz-transition: background-color 0.5s linear; -o-transition: background-color 0.5s linear; -webkit-transition: background-color 0.5s linear; transition: background-color 0.5s linear; }

aside .slide-container { margin-top: 26px; }

aside .slide-container h3 { display: block; background-color: #2d333b; color: #fff; padding: 8px 5px; font-weight: 600; font-size: 13px; border-left: 5px solid #e72e25; }

aside .slide-container .aside-panel { margin: 0; padding: 0; }

aside .slide-container .aside-panel li { border-left: 3px solid #c3c3c3; margin-bottom: 4px; }

aside .slide-container .aside-panel li a { padding: 5px; display: block; width: 100%; background-color: #fbfbfb; border-bottom: 1px solid #c3c3c3; border-left: 5px solid #2d333b; letter-spacing: 1.5px; }

aside .slide-container .aside-panel li a:hover, aside .slide-container .aside-panel li a:focus, aside .slide-container .aside-panel li a:active { background-color: #fff; font-weight: bold; border-left: 5px solid #e72e25; color: #e72e25; }

aside .slide-container .aside-panel li .active, aside .slide-container .aside-panel li .tab-selected { background-color: #fff; font-weight: bold; border-left: 5px solid #e72e25; color: #e72e25; }

aside .slide-container .aside-panel .active a, aside .slide-container .aside-panel .active-tab a, aside .slide-container .aside-panel .tab-selected a { background-color: #fff; font-weight: bold; border-left: 5px solid #e72e25; color: #e72e25; }

aside .slide-container .aside-panel .active-tab-validation a { background-color: #fff; font-weight: bold; border-left: 5px solid #e72e25; border-bottom: 1px solid #e72e25; color: #e72e25; }

aside .slide-container .aside-panel .sub-tab { margin-left: 8px; }

aside .slide-container .aside-panel .sub-tab a { padding: 2px 5px; color: #979a97; }

aside .slide-container i { display: inline-block; font-size: 16px; margin-right: 5px; }

body.nav-open aside .aside-panel i { display: none; }

section { -moz-transition: margin-left 0.5s ease; -o-transition: margin-left 0.5s ease; -webkit-transition: margin-left 0.5s ease; transition: margin-left 0.5s ease; }

.main-wrapper { min-height: 100%; }

footer { z-index: 500; border-top: 1px solid #f1f1f1; background-color: #2d333b; color: #fff; height: 45px; position: relative; line-height: 34px; padding: 0 15px; font-size: 12px; }

footer .footer-container { margin-top: 5px; }

footer .footer-container p { margin-bottom: 0; }

.footer-login { position: fixed; bottom: 0; width: 100%; text-align: center; }

.page-container { padding: 0; }

.page-container .title-container { padding: 0; margin: 10px 0; }

.page-container .title-container h1 { font-size: 18px; float: left; margin: 0; line-height: 26px; color: #e72e25; }

.page-container .title-container .title-action { color: #2d333b; text-transform: capitalize; }

.page-container .title-container .title-item { color: #3085db; text-transform: capitalize; }

.page-container .title-container .separator { color: #c3c3c3; }

.page-container .title-container .section-heading { display: inline-block; }

.page-container .section-heading { font-size: 14px; font-weight: 600; display: block; margin: 0 0 2px; line-height: 26px; color: #2d333b; padding: 12px 0 0; border-bottom: 1px solid #f1f1f1; }

.page-container .filter-component { padding: 5px 70px 5px 5px; background-color: #fff; line-height: 26px; margin-bottom: 5px; border-left: 2px solid #2d333b; border-bottom: 2px solid #c3c3c3; }

.page-container .filter-component .manage-filter { float: left; min-width: 150px; border-right: 1px solid #f1f1f1; margin: 2px 0; }

.page-container .filter-component .manage-filter a { background-color: transparent; border: 0; font-weight: 600; color: #3085db; }

.page-container .filter-component .manage-filter .dropdown-search .right-inner-icon i { line-height: 7px; }

.page-container .filter-component .filter-option { position: relative; }

.page-container .filter-component .filter-option .popover, .page-container .filter-component .filter-option .popover-content { display: inline-table !important; border-radius: 4px; }

.page-container .filter-component .filter-option .parent-content-popover { float: left; width: 100%; display: inline-flex; }

.page-container .filter-component .filter-option .parent-content-popover select { min-width: 30px; border-top-right-radius: 0; border-bottom-right-radius: 0; }

.page-container .filter-component .filter-option .parent-content-popover input[type='text'] { border-radius: 0; }

.page-container .filter-component .filter-option .parent-content-popover button { margin-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; }

.page-container .filter-component .filter-option label { margin: 2px 5px; }

.page-container .filter-component .filter-option .option-close i { position: absolute; top: -5px; font-size: 14px; cursor: pointer; right: -2px; }

.page-container .filter-component .filter-option button.btn-text { height: 24px; line-height: 24px; border: 1px solid #c3c3c3; }

.page-container .list-container { padding: 0; margin-bottom: 10px; background-color: #fff; padding-top: 5px; }

.page-container .list-container table { margin-top: 10px; }

.page-container .list-container .no-record { text-align: center; padding: 10px 0; font-size: 16px; color: #2d333b; }

.page-container .list-container .manage-column .dropdown-toggle, .page-container .list-container .action-dropdown .btn-dropdown { color: #3085db; font-weight: 600; }

.page-container .box-container { padding: 5px 10px; background-color: #fff; float: left; width: 100%; border-top: 2px solid #c3c3c3; }

.page-container .box-container label { font-weight: normal; }

.page-container .form-group { margin-top: 4px; margin-bottom: 4px; display: inline-block; width: 100%; vertical-align: text-top; }

.page-container .form-group label { font-weight: normal; line-height: 22px; }

.page-container .form-group .z-ok { color: #5cb85c; }

.page-container .form-group .z-close { color: #ea2f25; }

.page-container .form-group .control-label { float: left; width: 200px; }

.page-container .form-group .control-non { margin-left: 200px; }

.page-container .form-group .control-lg { float: left; width: 70%; }

.page-container .form-group .control-md { float: left; width: 60%; }

.page-container .form-group .control-sm { float: left; width: 20%; }

.page-container .sub { font-size: 11px; display: block; color: #707070; }

.page-container .background-white { background-color: #fff; }

.notification-msg { z-index: 999; }

.notification-msg .alert { position: absolute; padding: 5px; line-height: 21px; margin-bottom: 0; }

.notification-msg .alert-success .close { margin-top: -2px; }

.grid-view-option { position: relative; float: left; }

.grid-view-option button { color: #3085db; }

.help-text { display: inline-block; }

.help-text i { font-size: 14px; line-height: 24px; margin-left: 8px; color: #3085db; }

body.nav-open .breadcrumb-container { margin-left: 240px; margin-top: 8px; -moz-transition: margin-left 0.5s ease; -o-transition: margin-left 0.5s ease; -webkit-transition: margin-left 0.5s ease; transition: margin-left 0.5s ease; }

.breadcrumb-container { margin-left: 30px; margin-top: 8px; -moz-transition: margin-left 0.5s ease; -o-transition: margin-left 0.5s ease; -webkit-transition: margin-left 0.5s ease; transition: margin-left 0.5s ease; }

.breadcrumb-container ul { list-style: none; margin: 0; padding: 0; }

.breadcrumb-container ul li { display: inline; color: #2d333b; font-size: 13px; }

.breadcrumb-container ul li:nth-last-child(1) { display: none; }

.breadcrumb-container ul > li + li::before { color: #2d333b; content: "/ "; padding: 0 5px; }

.aside-popup { width: 450px; border: none; border-radius: 4px; background-color: #fff; position: fixed; right: 2px; bottom: 0; z-index: 9999; }

.aside-popup input[type="checkbox"] { display: block; margin: 0 0; padding: 0 0; position: absolute; top: 0; right: 0; left: 0; width: 95%; height: 30px; z-index: 4; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }

.aside-popup label { display: block; height: 30px; line-height: 30px; background-color: #5cb85c; color: #fff; font-weight: bold; padding: 0 5px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

.aside-popup label:before { content: attr(data-collapsed); }

.aside-popup .popup-close { float: right; color: #fff; margin-top: -25px; font-size: 18px; z-index: 999; padding-right: 3px; }

.aside-popup .aside-popup-container { padding: 10px 5px; display: none; }

.aside-popup > input[type="checkbox"]:hover + label { background-color: #e72e25; }

.aside-popup > input[type="checkbox"]:checked + label { background-color: #2d333b; }

.aside-popup > input[type="checkbox"]:checked + label:before { content: attr(data-expanded); }

.aside-popup > input[type="checkbox"]:checked ~ .aside-popup-container { display: block; }

.checkbox-loop label { width: 48%; }

@media all and (max-width: 1200px) { header nav ul li a { padding: 5px; }
  .top-user-details li { padding: 0 6px; }
  header .logo img { height: 35px; }
  aside { width: 187px; left: -150px; }
  body.nav-open section.main-container { margin-left: 195px; }
  body.nav-open .breadcrumb-container { margin-left: 180px; }
  .page-container .form-group .control-md { width: 55%; } }

@media all and (min-width: 1500px) { .page-container .form-group .control-lg { width: 50%; }
  .page-container .form-group .control-md { width: 40%; }
  .page-container .form-group .control-sm { width: 15%; } }

.login-container { position: fixed; top: 50%; left: 50%; width: 360px; transform: translate(-50%, -55%); -moz-transform: translate(-50%, -55%); -webkit-transform: translate(-50%, -55%); border: 1px solid #c3c3c3; }

.login-container .login-header { padding: 10px; background-color: #fff; }

.login-container .login-header img { height: 20px; }

.login-container .login-footer { padding: 6px 10px; background-color: #2d333b; }

.login-container .login-main { padding: 10px 60px; }

.login-container .login-btn { width: 100%; margin-left: 0; margin-bottom: 9px; }

.login-container h3 { color: #2d333b; font-weight: 600; }

.login-container .form-group { float: left; width: 100%; margin-bottom: 8px; }

.login-container .field-validation-error span { min-width: 120px; }

.sorting-container ul { padding: 0; margin: 0; list-style: none; }

.sorting-container ul li { float: left; }

.sorting-container ul li:nth-child(2n+1) { width: 300px; }

.sorting-container ul li:nth-child(2n+2) { width: 50px; }

.sorting-container .sort-box { border: 1px solid #c3c3c3; height: 250px; overflow-y: scroll; }

.sorting-container .sort-box li { display: block; margin: 2px 0 !important; width: 98%; padding: 5px 10px; cursor: pointer; list-style: none; width: 100% !important; }

.sorting-container .sort-box li:hover { background-color: #2d333b; color: #fff; }

.sorting-container .sort-box li.selected { background-color: #2d333b; color: #fff; }

.sorting-container .add-remove { height: 250px; line-height: 60px; text-align: center; margin-top: 38px; }

.sorting-container .add-remove i { color: #e72e25; font-size: 28px; vertical-align: middle; cursor: pointer; }

.flip-scroll table td { border: 1px solid #f1f1f1; height: 35px; }

.flip-scroll table tbody { border-bottom: none; }

.flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.flip-scroll * html .cf { zoom: 1; }

.flip-scroll *:first-child + html .cf { zoom: 1; }

.flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; display: block; position: relative; width: 100%; }

.flip-scroll th, .flip-scroll td { margin: 0; vertical-align: top; }

.flip-scroll table tbody tr td input[type="text"] { width: 100% !important; }

.flip-scroll th { text-align: left; }

.flip-scroll thead { display: block; float: left; }

.flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }

.flip-scroll thead tr { display: block; }

.flip-scroll th { display: block; text-align: right; border-bottom: 0; border-left: 0; }

.flip-scroll tbody tr { display: inline-block; vertical-align: top; border-left: 1px solid #f1f1f1; }

.flip-scroll td { display: block; min-height: 1.25em; text-align: left; }

.flip-scroll th:last-child, .flip-scroll td:last-child { border-bottom: 1px solid #f1f1f1; }

.flip-scroll .table-heading { width: 200px; }

.flip-scroll .table-heading label { font-weight: bold; }

.flip-scroll table thead th { height: 35px; width: 150px; }

.collapsible-grid table thead tr th:nth-child(1) { width: 200px; }

.collapsible-grid table thead tr th:nth-child(2) { width: 200px; }

.collapsible-grid table thead tr th:nth-child(3) { width: 50px; }

.collapsible-grid table thead tr th:nth-child(4) { width: 50px; }

.collapsible-grid table .child-table { float: left; width: 100%; margin-top: 0; }

.collapsible-grid table .child-table td { padding: 3px 5px; }

.collapsible-grid table .child-table td .z-delete { color: #2d333b; }

.collapsible-grid table .child-table td .z-delete:hover { color: #e72e25; }

.collapsible-grid table .child-table td.td-header { line-height: 26px; padding: 0 5px 0 0; }

.collapsible-grid table .child-table td.td-header button { margin-right: 5px; }

.collapsible-grid table .child-table tbody tr td:nth-child(1) { width: 150px; }

.collapsible-grid table .child-table tbody tr td:nth-child(2) { width: 150px; }

.collapsible-grid table .child-table tbody tr td:nth-child(3) { width: 50px; }

.collapsible-grid table .child-table tbody tr td:nth-child(4) { width: 50px; }

.drop-area { width: 95%; min-height: 170px; margin: 15px auto; border: 2px dashed #c3c3c3; padding-top: 35px; }

.drop-area h3 { font-size: 30px; }

.drop-area .media-upload { display: block; margin: 0.3% 40%; cursor: pointer; width: 20%; }

.dropdown-tool { float: left; position: relative; }

.dynamic-checkbox .btn-dropdown { width: 100%; }

.dynamic-checkbox .btn-dropdown .z-down { float: right; padding: 5px 0; }

.media-upload-popup { z-index: 999999; }

.media-upload-popup .modal-body { padding: 0 !important; border-bottom: 1px solid #f1f1f1; float: left; width: 100%; }

.media-upload-popup aside { position: absolute; padding-top: 0; margin-top: 2px; border-right: 1px solid #f1f1f1; height: 100%; }

.media-upload-popup aside .slide-menu-btn { display: none; }

.media-upload-popup aside .slide-container { margin-top: 0; }

.media-upload-popup aside .slide-container .tree-search { position: relative; }

.media-upload-popup aside .slide-container .tree-container .jstree-default { margin-top: 0; }

.media-upload-popup #AddMediabtn { display: none; }

.media-upload-popup .title-container { display: none; }

.media-upload-popup .page-container .list-container, .media-upload-popup .filter-component { margin-bottom: 0; }

.media-upload-popup .main-container .drop-area { margin: 5px auto; min-height: 100px; padding-top: 5px; }

.media-upload-popup .main-container .drop-area h3 { font-size: 22px; }

.media-upload-popup .main-container .tile-view { margin-top: 0; }

.media-upload-popup .main-container .tile-view table tbody tr { width: 16.33%; }

.media-upload-popup .main-container .tile-view table tbody tr td { padding: 0 6px; }

.media-upload-popup .main-container .tile-view table tbody tr .tile-view-container { width: 80px; margin-bottom: 15px; }

.media-upload-popup .main-container .tile-view table tbody tr .tile-view-container .img { height: 90px; padding: 10px 5px; }

.media-upload-popup .main-container .tile-view table tbody tr .tile-view-container .img i { font-size: 56px; }

.media-upload-popup .main-container .tile-view :hover .action-ui { display: none; }

.media-upload-popup .dropdown-export, .media-upload-popup .dropdown-tool, .media-upload-popup .grid-view-option { display: none; }

.media-upload-popup .modal-content .modal-body .show-per-page { opacity: 1; cursor: auto; }

.media-upload-popup .modal-content .modal-body .show-per-page select, .media-upload-popup .modal-content .modal-body .show-per-page a { pointer-events: all; }

.media-upload-panel { position: fixed; background-color: #fff; top: 0; right: 0; width: 520px; height: 100%; border-left: 2px solid #c3c3c3; display: none; z-index: 9999; }

.media-upload-panel aside { position: absolute; height: 100%; padding-top: 5px; width: 200px; }

.media-upload-panel aside #slide-menu { display: none; }

.media-upload-panel aside .slide-container { margin-top: 0; }

.media-upload-panel .main-container { margin-left: 200px !important; }

.media-upload-panel .main-container .page-container .list-container { padding-top: 0; margin-bottom: 0; }

.media-upload-panel .dropdown-export, .media-upload-panel .dropdown-tool { display: none; }

.media-upload-panel #AddMediabtn, .media-upload-panel .filter-component, .media-upload-panel #grid-view-type, .media-upload-panel .action-ui, .media-upload-panel .title-container { display: none; }

.media-upload-panel .tile-view { margin-top: 0; max-height: 430px; overflow-y: auto; overflow-x: hidden; }

.media-upload-panel .tile-view table tbody tr { width: 33.33%; }

.media-upload-panel .tile-view table tbody tr td { padding: 0 6px; }

.media-upload-panel .tile-view table tbody tr .tile-view-container { width: 80px; margin-bottom: 15px; }

.media-upload-panel .tile-view table tbody tr .tile-view-container .img { height: 90px; padding: 10px 5px; }

.media-upload-panel .tile-view table tbody tr .tile-view-container .img i { font-size: 56px; }

.media-upload-panel .drop-area { margin: 5px auto; padding-top: 20px; min-height: 135px; }

.media-upload-panel .drop-area h3 { font-size: 22px; }

.media-upload-panel .drop-area .media-upload { margin: 0.3% 34%; }

.media-upload-panel .media-upload-footer { position: fixed; bottom: 10px; z-index: 999; }

.media-upload-panel .pagination { padding: 5px; }

.media-upload-panel .pagination .page-limit { margin-bottom: 4px; }

.media-upload-panel .jstree-default .jstree-anchor { font-size: 11px; }

.media-upload-panel .media-upload-close { position: absolute; z-index: 999; top: 0; left: -40px; border: none; background-color: #979a97; padding: 8px 12px; }

.media-upload-panel .media-upload-close .z-close { color: #fff; font-size: 20px; }

.media-upload-panel .media-upload-close:hover { background-color: #e72e25; }

.upload-btn { margin-left: 0; }

.upload-images { min-width: 90px; max-width: 100px; margin-bottom: 10px; border: 5px solid #f1f1f1; position: relative; cursor: pointer; }

.upload-images .upload-images-close { position: absolute; top: -12px; right: -10px; }

.upload-images .upload-images-close i { color: #2d333b; font-size: 16px; }

.upload-images .upload-images-close i:hover { color: #e72e25; }

.upload-images img { min-height: 70px; min-width: 70px; }

.upload-video { margin-bottom: 10px; display: block; }

input[type="file"] { position: absolute; top: 0; margin: 0; opacity: 0; cursor: pointer; width: 101px; min-height: 25px; }

.file-upload { position: relative; }

.file-upload-btn { position: relative; overflow: hidden; cursor: pointer; margin-left: 0; }

.attribut-table-container { overflow-x: auto; overflow-y: hidden; }

.attribut-table-container .attribut-table thead tr th:last-child { width: 100px; display: inline-block; }

.attribut-table-container .attribut-table tbody tr:hover { background-color: #fff; }

.attribut-table-container .attribut-table .dynamic-row label { display: none; width: 175px; }

.attribut-table-container .attribut-table div { height: 40px; float: left; width: 100%; }

.attribut-table-container .attribut-table label { width: 175px; border: 1px solid #c3c3c3; border-radius: 3px; font-size: 12px; height: 24px; padding: 0 5px; line-height: 24px; background-color: #efefef; cursor: not-allowed; overflow: hidden; }

.attribut-table-container .attribut-table input[type="text"] { margin-bottom: 5.6px; width: 175px; }

.attribut-table-container .attribut-table .btn-narrow-icon { margin-bottom: 4px; }

@media all and (max-width: 1200px) { .media-upload-panel { width: 400px; }
  .media-upload-panel .tile-view table tbody tr { width: 50%; }
  .media-upload-panel .drop-area h3 { font-size: 18px; }
  .media-upload-panel .drop-area .media-upload { margin: 0.3% 28%; } }

@media all and (min-width: 1500px) { .media-upload-panel .tile-view { max-height: 580px; overflow-y: auto; overflow-x: hidden; }
  .attribut-table-container .attribut-table label, .attribut-table-container .attribut-table input[type="text"], .attribut-table-container .attribut-table .dynamic-row label { width: 250px; } }

.tree-container { color: #2d333b; overflow: auto; height: 530px; }

.slide-container .tree-container { padding: 0; }

.slide-container .tree-container .tree-search { background-color: #f5f5f5; padding: 5px; border-bottom: 1px solid #f1f1f1; margin-bottom: 5px; position: absolute; width: 100%; }

.slide-container .tree-container .tree-search i { margin-right: 0; line-height: 6px; }

.slide-container .tree-container .jstree-default { margin-top: 40px; }

.modal-content .tree-container { height: 450px; }

@media all and (min-width: 1500px) { .tree-container { overflow: auto; height: 750px; } }

.jstree-node, .jstree-children, .jstree-container-ul { display: block; margin: 0; padding: 0; list-style-type: none; list-style-image: none; }

.jstree-node { white-space: nowrap; }

.jstree-anchor { display: inline-block; white-space: nowrap; padding: 0 4px 0 1px; margin: 0; vertical-align: top; }

.jstree-anchor:focus { outline: 0; }

.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active { text-decoration: none; color: inherit; }

.jstree-icon { display: inline-block; text-decoration: none; margin: 0; padding: 0; vertical-align: top; text-align: center; }

.jstree-icon:empty { display: inline-block; text-decoration: none; margin: 0; padding: 0; vertical-align: top; text-align: center; }

.jstree-ocl { cursor: pointer; }

.jstree-leaf > .jstree-ocl { cursor: default; }

.jstree .jstree-open > .jstree-children { display: block; }

.jstree .jstree-closed > .jstree-children, .jstree .jstree-leaf > .jstree-children { display: none; }

.jstree-anchor > .jstree-themeicon { margin-right: 2px; }

.jstree-no-icons .jstree-themeicon, .jstree-anchor > .jstree-themeicon-hidden { display: none; }

.jstree-rtl .jstree-anchor { padding: 0 1px 0 4px; }

.jstree-rtl .jstree-anchor > .jstree-themeicon { margin-left: 2px; margin-right: 0; }

.jstree-rtl .jstree-node { margin-left: 0; }

.jstree-rtl .jstree-container-ul > .jstree-node { margin-right: 0; }

.jstree-wholerow-ul { position: relative; display: inline-block; min-width: 100%; }

.jstree-wholerow-ul .jstree-leaf > .jstree-ocl { cursor: pointer; }

.jstree-wholerow-ul .jstree-anchor, .jstree-wholerow-ul .jstree-icon { position: relative; }

.jstree-wholerow-ul .jstree-wholerow { width: 100%; cursor: pointer; position: absolute; left: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.vakata-context { display: none; }

.vakata-context, .vakata-context ul { margin: 0; padding: 2px; position: absolute; background: #f5f5f5; border: 1px solid #979797; box-shadow: 2px 2px 2px #999; z-index: 500; }

.vakata-context ul { list-style: none; left: 100%; margin-top: -2.7em; margin-left: -4px; }

.vakata-context .vakata-context-right ul { left: auto; right: 100%; margin-left: auto; margin-right: -4px; }

.vakata-context li { list-style: none; display: inline; }

.vakata-context li > a { display: block; padding: 0 20px; text-decoration: none; width: auto; color: #000; white-space: nowrap; line-height: 2.4em; text-shadow: 1px 1px 0 #fff; border-radius: 1px; }

.vakata-context li > a:hover { position: relative; background-color: #e8eff7; box-shadow: 0 0 2px #0a6aa1; }

.vakata-context li > a.vakata-context-parent { background-image: url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==); background-position: right center; background-repeat: no-repeat; }

.vakata-context li > a:focus { outline: 0; }

.vakata-context .vakata-context-hover > a { position: relative; background-color: #e8eff7; box-shadow: 0 0 2px #0a6aa1; }

.vakata-context .vakata-context-separator > a, .vakata-context .vakata-context-separator > a:hover { background: #fff; border: 0; border-top: 1px solid #e2e3e3; height: 1px; min-height: 1px; max-height: 1px; padding: 0; margin: 0 0 0 2.4em; border-left: 1px solid #e0e0e0; text-shadow: 0 0 0 transparent; box-shadow: 0 0 0 transparent; border-radius: 0; }

.vakata-context .vakata-contextmenu-disabled a, .vakata-context .vakata-contextmenu-disabled a:hover { color: silver; background-color: transparent; border: 0; box-shadow: 0 0 0; }

.vakata-context li > a > i { text-decoration: none; display: inline-block; width: 2.4em; height: 2.4em; background: 0 0; margin: 0 0 0 -2em; vertical-align: top; text-align: center; line-height: 2.4em; }

.vakata-context li > a > i:empty { width: 2.4em; line-height: 2.4em; }

.vakata-context li > a .vakata-contextmenu-sep { display: inline-block; width: 1px; height: 2.4em; background: #fff; margin: 0 .5em 0 0; border-left: 1px solid #e2e3e3; }

.vakata-context .vakata-contextmenu-shortcut { font-size: .8em; color: silver; opacity: .5; display: none; }

.vakata-context-rtl ul { left: auto; right: 100%; margin-left: auto; margin-right: -4px; }

.vakata-context-rtl li > a.vakata-context-parent { background-image: url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7); background-position: left center; background-repeat: no-repeat; }

.vakata-context-rtl .vakata-context-separator > a { margin: 0 2.4em 0 0; border-left: 0; border-right: 1px solid #e2e3e3; }

.vakata-context-rtl .vakata-context-left ul { right: auto; left: 100%; margin-left: -4px; margin-right: auto; }

.vakata-context-rtl li > a > i { margin: 0 -2em 0 0; }

.vakata-context-rtl li > a .vakata-contextmenu-sep { margin: 0 0 0 .5em; border-left-color: #fff; background: #e2e3e3; }

#jstree-marker { position: absolute; top: 0; left: 0; margin: -5px 0 0; padding: 0; border-right: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid; width: 0; height: 0; font-size: 0; line-height: 0; z-index: 9999 !important; }

#jstree-dnd { line-height: 16px; margin: 0; padding: 4px; }

#jstree-dnd .jstree-icon, #jstree-dnd .jstree-copy { display: inline-block; text-decoration: none; margin: 0 2px 0 0; padding: 0; width: 16px; height: 16px; }

#jstree-dnd .jstree-ok { background: green; }

#jstree-dnd .jstree-er { background: red; }

#jstree-dnd .jstree-copy { margin: 0 2px; }

.jstree-default .jstree-node, .jstree-default .jstree-icon { background-repeat: no-repeat; background-color: transparent; }

.jstree-default .jstree-anchor, .jstree-default .jstree-wholerow { transition: background-color .15s,box-shadow .15s; }

.jstree-default .jstree-hovered { font-weight: bold; color: #3085db; }

.jstree-default .jstree-clicked { font-weight: bold; color: #e72e25; }

.jstree-default .jstree-no-icons .jstree-anchor > .jstree-themeicon { display: none; }

.jstree-default .jstree-disabled { background: 0 0; color: #666; }

.jstree-default .jstree-disabled.jstree-hovered { background: 0 0; box-shadow: none; }

.jstree-default .jstree-disabled.jstree-clicked { background: #efefef; }

.jstree-default .jstree-disabled > .jstree-icon { opacity: .8; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='jstree-grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#jstree-grayscale"); filter: gray; -webkit-filter: grayscale(100%); }

.jstree-default .jstree-search { font-style: italic; color: #099309; font-weight: bold; }

.jstree-default .jstree-no-checkboxes .jstree-checkbox { display: none !important; }

.jstree-default.jstree-checkbox-no-clicked .jstree-clicked { background: 0 0; box-shadow: none; }

.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered { background: #e7f4f9; }

.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked { background: 0 0; }

.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered { background: #e7f4f9; }

.jstree-default > .jstree-striped { min-width: 100%; display: inline-block; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==) left top repeat; }

.jstree-default > .jstree-wholerow-ul .jstree-hovered, .jstree-default > .jstree-wholerow-ul .jstree-clicked { background: 0 0; box-shadow: none; border-radius: 0; }

.jstree-default .jstree-wholerow { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.jstree-default .jstree-wholerow-hovered { background: #e7f4f9; }

.jstree-default .jstree-wholerow-clicked { background: #beebff; background: -webkit-linear-gradient(top, #beebff 0, #a8e4ff 100%); background: linear-gradient(to bottom, #beebff 0, #a8e4ff 100%); }

.jstree-default .jstree-node { min-height: 24px; line-height: 24px; margin-left: 24px; min-width: 24px; }

.jstree-default .jstree-anchor { line-height: 24px; height: 24px; }

.jstree-default .jstree-icon { width: 24px; height: 24px; line-height: 24px; }

.jstree-default .jstree-icon:empty { width: 24px; height: 24px; line-height: 24px; }

.jstree-default.jstree-rtl .jstree-node { margin-right: 24px; }

.jstree-default .jstree-wholerow { height: 24px; }

.jstree-default .jstree-node, .jstree-default .jstree-icon { background-image: url(../Images/tree-images.png); }

.jstree-default .jstree-node { background-position: -292px -4px; background-repeat: repeat-y; }

.jstree-default .jstree-last { background: 0 0; }

.jstree-default .jstree-open > .jstree-ocl { background-position: -132px -4px; }

.jstree-default .jstree-closed > .jstree-ocl { background-position: -100px -4px; }

.jstree-default .jstree-leaf > .jstree-ocl { background-position: -68px -4px; }

.jstree-default .jstree-themeicon { background-position: -215px -60px; }

.jstree-default > .jstree-no-dots .jstree-node, .jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl { background: 0 0; }

.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl { background-position: -36px -4px; }

.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl { background-position: -4px -4px; }

.jstree-default .jstree-disabled { background: 0 0; }

.jstree-default .jstree-disabled.jstree-hovered { background: 0 0; }

.jstree-default .jstree-disabled.jstree-clicked { background: #efefef; }

.jstree-default .jstree-checkbox { background-position: -164px -4px; }

.jstree-default .jstree-checkbox:hover { background-position: -164px -36px; }

.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox, .jstree-default .jstree-checked > .jstree-checkbox { background-position: -228px -4px; }

.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover, .jstree-default .jstree-checked > .jstree-checkbox:hover { background-position: -228px -36px; }

.jstree-default .jstree-anchor > .jstree-undetermined { background-position: -196px -4px; }

.jstree-default .jstree-anchor > .jstree-undetermined:hover { background-position: -196px -36px; }

.jstree-default > .jstree-striped { background-size: auto 48px; }

.jstree-default.jstree-rtl .jstree-node { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==); background-position: 100% 1px; background-repeat: repeat-y; }

.jstree-default.jstree-rtl .jstree-last { background: 0 0; }

.jstree-default.jstree-rtl .jstree-open > .jstree-ocl { background-position: -132px -36px; }

.jstree-default.jstree-rtl .jstree-closed > .jstree-ocl { background-position: -100px -36px; }

.jstree-default.jstree-rtl .jstree-leaf > .jstree-ocl { background-position: -68px -36px; }

.jstree-default.jstree-rtl > .jstree-no-dots .jstree-node, .jstree-default.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl { background: 0 0; }

.jstree-default.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl { background-position: -36px -36px; }

.jstree-default.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl { background-position: -4px -36px; }

.jstree-default .jstree-themeicon-custom { background-color: transparent; background-image: none; background-position: 0 0; }

.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl { background: url(../Images/throbber.gif) center center no-repeat; }

.jstree-default .jstree-file { background: url(../Images/tree-images.png) -100px -68px no-repeat; }

.jstree-default .jstree-folder { background: url(../Images/tree-images.png) -260px -4px no-repeat; }

.jstree-default > .jstree-container-ul > .jstree-node { margin-left: 0; margin-right: 0; }

#jstree-dnd.jstree-default { line-height: 24px; padding: 0 4px; }

#jstree-dnd.jstree-default .jstree-ok, #jstree-dnd.jstree-default .jstree-er { background-image: url(../Images/tree-images.png); background-repeat: no-repeat; background-color: transparent; }

#jstree-dnd.jstree-default i { background: 0 0; width: 24px; height: 24px; line-height: 24px; }

#jstree-dnd.jstree-default .jstree-ok { background-position: -4px -68px; }

#jstree-dnd.jstree-default .jstree-er { background-position: -36px -68px; }

.jstree-default.jstree-rtl .jstree-node { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==); }

.jstree-default.jstree-rtl .jstree-last { background: 0 0; }

/*.jstree-default-small .jstree-node{min-height:18px;line-height:18px;margin-left:18px;min-width:18px}
.jstree-default-small .jstree-anchor{line-height:18px;height:18px}
.jstree-default-small .jstree-icon{width:18px;height:18px;line-height:18px}
.jstree-default-small .jstree-icon:empty{width:18px;height:18px;line-height:18px}
.jstree-default-small.jstree-rtl .jstree-node{margin-right:18px}
.jstree-default-small .jstree-wholerow{height:18px}
.jstree-default-small .jstree-node,.jstree-default-small .jstree-icon{background-image:url(../Images/tree-images.png)}
.jstree-default-small .jstree-node{background-position:-295px -7px;background-repeat:repeat-y}
.jstree-default-small .jstree-last{background:0 0}
.jstree-default-small .jstree-open>.jstree-ocl{background-position:-135px -7px}
.jstree-default-small .jstree-closed>.jstree-ocl{background-position:-103px -7px}
.jstree-default-small .jstree-leaf>.jstree-ocl{background-position:-71px -7px}
.jstree-default-small .jstree-themeicon{background-position:-263px -7px}
.jstree-default-small>.jstree-no-dots .jstree-node,.jstree-default-small>.jstree-no-dots .jstree-leaf>.jstree-ocl{background:0 0}
.jstree-default-small>.jstree-no-dots .jstree-open>.jstree-ocl{background-position:-39px -7px}
.jstree-default-small>.jstree-no-dots .jstree-closed>.jstree-ocl{background-position:-7px -7px}
.jstree-default-small .jstree-disabled{background:0 0}
.jstree-default-small .jstree-disabled.jstree-hovered{background:0 0}
.jstree-default-small .jstree-disabled.jstree-clicked{background:#efefef}
.jstree-default-small .jstree-checkbox{background-position:-167px -7px}
.jstree-default-small .jstree-checkbox:hover{background-position:-167px -39px}
.jstree-default-small.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox,.jstree-default-small .jstree-checked>.jstree-checkbox{background-position:-231px -7px}
.jstree-default-small.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox:hover,.jstree-default-small .jstree-checked>.jstree-checkbox:hover{background-position:-231px -39px}
.jstree-default-small .jstree-anchor>.jstree-undetermined{background-position:-199px -7px}
.jstree-default-small .jstree-anchor>.jstree-undetermined:hover{background-position:-199px -39px}
.jstree-default-small>.jstree-striped{background-size:auto 36px}
.jstree-default-small.jstree-rtl .jstree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==);background-position:100% 1px;background-repeat:repeat-y}
.jstree-default-small.jstree-rtl .jstree-last{background:0 0}
.jstree-default-small.jstree-rtl .jstree-open>.jstree-ocl{background-position:-135px -39px}
.jstree-default-small.jstree-rtl .jstree-closed>.jstree-ocl{background-position:-103px -39px}
.jstree-default-small.jstree-rtl .jstree-leaf>.jstree-ocl{background-position:-71px -39px}
.jstree-default-small.jstree-rtl>.jstree-no-dots .jstree-node,.jstree-default-small.jstree-rtl>.jstree-no-dots .jstree-leaf>.jstree-ocl{background:0 0}
.jstree-default-small.jstree-rtl>.jstree-no-dots .jstree-open>.jstree-ocl{background-position:-39px -39px}
.jstree-default-small.jstree-rtl>.jstree-no-dots .jstree-closed>.jstree-ocl{background-position:-7px -39px}
.jstree-default-small .jstree-themeicon-custom{background-color:transparent;background-image:none;background-position:0 0}
.jstree-default-small>.jstree-container-ul .jstree-loading>.jstree-ocl{background:url(../Images/throbber.gif) center center no-repeat}
.jstree-default-small .jstree-file{background:url(../Images/tree-images.png) -103px -71px no-repeat}
.jstree-default-small .jstree-folder{background:url(../Images/tree-images.png) -263px -7px no-repeat}
.jstree-default-small>.jstree-container-ul>.jstree-node{margin-left:0;margin-right:0}*/
/*#jstree-dnd.jstree-default-small{line-height:18px;padding:0 4px}
#jstree-dnd.jstree-default-small .jstree-ok,#jstree-dnd.jstree-default-small .jstree-er{background-image:url(../Images/tree-images.png);background-repeat:no-repeat;background-color:transparent}
#jstree-dnd.jstree-default-small i{background:0 0;width:18px;height:18px;line-height:18px}
#jstree-dnd.jstree-default-small .jstree-ok{background-position:-7px -71px}
#jstree-dnd.jstree-default-small .jstree-er{background-position:-39px -71px}*/
/*.jstree-default-small.jstree-rtl .jstree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAACAQMAAABv1h6PAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMHBgAAiABBI4gz9AAAAABJRU5ErkJggg==)}
.jstree-default-small.jstree-rtl .jstree-last{background:0 0}*/
/*.jstree-default-large .jstree-node{min-height:32px;line-height:32px;margin-left:32px;min-width:32px}
.jstree-default-large .jstree-anchor{line-height:32px;height:32px}
.jstree-default-large .jstree-icon{width:32px;height:32px;line-height:32px}
.jstree-default-large .jstree-icon:empty{width:32px;height:32px;line-height:32px}
.jstree-default-large.jstree-rtl .jstree-node{margin-right:32px}
.jstree-default-large .jstree-wholerow{height:32px}
.jstree-default-large .jstree-node,.jstree-default-large .jstree-icon{background-image:url(../Images/tree-images.png)}
.jstree-default-large .jstree-node{background-position:-288px 0;background-repeat:repeat-y}
.jstree-default-large .jstree-last{background:0 0}
.jstree-default-large .jstree-open>.jstree-ocl{background-position:-128px 0}
.jstree-default-large .jstree-closed>.jstree-ocl{background-position:-96px 0}
.jstree-default-large .jstree-leaf>.jstree-ocl{background-position:-64px 0}
.jstree-default-large .jstree-themeicon{background-position:-256px 0}
.jstree-default-large>.jstree-no-dots .jstree-node,.jstree-default-large>.jstree-no-dots .jstree-leaf>.jstree-ocl{background:0 0}
.jstree-default-large>.jstree-no-dots .jstree-open>.jstree-ocl{background-position:-32px 0}
.jstree-default-large>.jstree-no-dots .jstree-closed>.jstree-ocl{background-position:0 0}
.jstree-default-large .jstree-disabled{background:0 0}
.jstree-default-large .jstree-disabled.jstree-hovered{background:0 0}
.jstree-default-large .jstree-disabled.jstree-clicked{background:#efefef}
.jstree-default-large .jstree-checkbox{background-position:-160px 0}
.jstree-default-large .jstree-checkbox:hover{background-position:-160px -32px}
.jstree-default-large.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox,.jstree-default-large .jstree-checked>.jstree-checkbox{background-position:-224px 0}
.jstree-default-large.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox:hover,.jstree-default-large .jstree-checked>.jstree-checkbox:hover{background-position:-224px -32px}
.jstree-default-large .jstree-anchor>.jstree-undetermined{background-position:-192px 0}
.jstree-default-large .jstree-anchor>.jstree-undetermined:hover{background-position:-192px -32px}
.jstree-default-large>.jstree-striped{background-size:auto 64px}
.jstree-default-large.jstree-rtl .jstree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAACAQMAAAB49I5GAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjAAMOBgAAGAAJMwQHdQAAAABJRU5ErkJggg==);background-position:100% 1px;background-repeat:repeat-y}
.jstree-default-large.jstree-rtl .jstree-last{background:0 0}
.jstree-default-large.jstree-rtl .jstree-open>.jstree-ocl{background-position:-128px -32px}
.jstree-default-large.jstree-rtl .jstree-closed>.jstree-ocl{background-position:-96px -32px}
.jstree-default-large.jstree-rtl .jstree-leaf>.jstree-ocl{background-position:-64px -32px}
.jstree-default-large.jstree-rtl>.jstree-no-dots .jstree-node,.jstree-default-large.jstree-rtl>.jstree-no-dots .jstree-leaf>.jstree-ocl{background:0 0}
.jstree-default-large.jstree-rtl>.jstree-no-dots .jstree-open>.jstree-ocl{background-position:-32px -32px}
.jstree-default-large.jstree-rtl>.jstree-no-dots .jstree-closed>.jstree-ocl{background-position:0 -32px}
.jstree-default-large .jstree-themeicon-custom{background-color:transparent;background-image:none;background-position:0 0}
.jstree-default-large>.jstree-container-ul .jstree-loading>.jstree-ocl{background:url(../Images/throbber.gif) center center no-repeat}
.jstree-default-large .jstree-file{background:url(../Images/tree-images.png) -96px -64px no-repeat}
.jstree-default-large .jstree-folder{background:url(../Images/tree-images.png) -256px 0 no-repeat}
.jstree-default-large>.jstree-container-ul>.jstree-node{margin-left:0;margin-right:0}*/
/*#jstree-dnd.jstree-default-large{line-height:32px;padding:0 4px}
#jstree-dnd.jstree-default-large .jstree-ok,#jstree-dnd.jstree-default-large .jstree-er{background-image:url(../Images/tree-images.png);background-repeat:no-repeat;background-color:transparent}
#jstree-dnd.jstree-default-large i{background:0 0;width:32px;height:32px;line-height:32px}
#jstree-dnd.jstree-default-large .jstree-ok{background-position:0 -64px}
#jstree-dnd.jstree-default-large .jstree-er{background-position:-32px -64px}
.jstree-default-large.jstree-rtl .jstree-node{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAACAQMAAAAD0EyKAAAABlBMVEUAAAAdHRvEkCwcAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjgIIGBgABCgCBvVLXcAAAAABJRU5ErkJggg==)}
.jstree-default-large.jstree-rtl .jstree-last{background:0 0}*/
@media (max-width: 768px) { /*#jstree-dnd.jstree-dnd-responsive{line-height:40px;font-weight:700;font-size:1.1em;text-shadow:1px 1px #fff}
#jstree-dnd.jstree-dnd-responsive>i{background:0 0;width:40px;height:40px}
#jstree-dnd.jstree-dnd-responsive>.jstree-ok{background-image:url(../sass/40px.png);background-position:0 -200px;background-size:120px 240px}
#jstree-dnd.jstree-dnd-responsive>.jstree-er{background-image:url(../sass/40px.png);background-position:-40px -200px;background-size:120px 240px}
#jstree-marker.jstree-dnd-responsive{border-left-width:10px;border-top-width:10px;border-bottom-width:10px;margin-top:-10px}
.jstree-default-responsive .jstree-icon{background-image:url(../sass/40px.png)}
.jstree-default-responsive .jstree-node,.jstree-default-responsive .jstree-leaf>.jstree-ocl{background:0 0}
.jstree-default-responsive .jstree-node{min-height:40px;line-height:40px;margin-left:40px;min-width:40px;white-space:nowrap}
.jstree-default-responsive .jstree-anchor{line-height:40px;height:40px}
.jstree-default-responsive .jstree-icon,.jstree-default-responsive .jstree-icon:empty{width:40px;height:40px;line-height:40px}
.jstree-default-responsive>.jstree-container-ul>.jstree-node{margin-left:0}
.jstree-default-responsive.jstree-rtl .jstree-node{margin-left:0;margin-right:40px}
.jstree-default-responsive.jstree-rtl .jstree-container-ul>.jstree-node{margin-right:0}
.jstree-default-responsive .jstree-ocl,.jstree-default-responsive .jstree-themeicon,.jstree-default-responsive .jstree-checkbox{background-size:120px 240px}
.jstree-default-responsive .jstree-leaf>.jstree-ocl{background:0 0}
.jstree-default-responsive .jstree-open>.jstree-ocl{background-position:0 0!important}
.jstree-default-responsive .jstree-closed>.jstree-ocl{background-position:0 -40px!important}
.jstree-default-responsive.jstree-rtl .jstree-closed>.jstree-ocl{background-position:-40px 0!important}
.jstree-default-responsive .jstree-themeicon{background-position:-40px -40px}
.jstree-default-responsive .jstree-checkbox,.jstree-default-responsive .jstree-checkbox:hover{background-position:-40px -80px}
.jstree-default-responsive.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox,.jstree-default-responsive.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox:hover,.jstree-default-responsive .jstree-checked>.jstree-checkbox,.jstree-default-responsive .jstree-checked>.jstree-checkbox:hover{background-position:0 -80px}
.jstree-default-responsive .jstree-anchor>.jstree-undetermined,.jstree-default-responsive .jstree-anchor>.jstree-undetermined:hover{background-position:0 -120px}
.jstree-default-responsive .jstree-anchor{font-weight:700;font-size:1.1em;text-shadow:1px 1px #fff}
.jstree-default-responsive>.jstree-striped{background:0 0}
.jstree-default-responsive .jstree-wholerow{border-top:1px solid rgba(255,255,255,.7);border-bottom:1px solid rgba(64,64,64,.2);background:#ebebeb;height:40px}
.jstree-default-responsive .jstree-wholerow-hovered{background:#e7f4f9}
.jstree-default-responsive .jstree-wholerow-clicked{background:#beebff}
.jstree-default-responsive .jstree-children .jstree-last>.jstree-wholerow{box-shadow:inset 0 -6px 3px -5px #666}
.jstree-default-responsive .jstree-children .jstree-open>.jstree-wholerow{box-shadow:inset 0 6px 3px -5px #666;border-top:0}
.jstree-default-responsive .jstree-children .jstree-open+.jstree-open{box-shadow:none}
.jstree-default-responsive .jstree-node,.jstree-default-responsive .jstree-icon,.jstree-default-responsive .jstree-node>.jstree-ocl,.jstree-default-responsive .jstree-themeicon,.jstree-default-responsive .jstree-checkbox{background-image:url(../sass/40px.png);background-size:120px 240px}
.jstree-default-responsive .jstree-node{background-position:-80px 0;background-repeat:repeat-y}
.jstree-default-responsive .jstree-last{background:0 0}
.jstree-default-responsive .jstree-leaf>.jstree-ocl{background-position:-40px -120px}
.jstree-default-responsive .jstree-last>.jstree-ocl{background-position:-40px -160px}
.jstree-default-responsive .jstree-themeicon-custom{background-color:transparent;background-image:none;background-position:0 0}
.jstree-default-responsive .jstree-file{background:url(../sass/40px.png) 0 -160px no-repeat;background-size:120px 240px}
.jstree-default-responsive .jstree-folder{background:url(../sass/40px.png) -40px -40px no-repeat;background-size:120px 240px}
.jstree-default-responsive>.jstree-container-ul>.jstree-node{margin-left:0;margin-right:0}*/ }

.tile-view { border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; margin-top: 10px; overflow-x: hidden; }

.tile-view table { width: 100%; }

.tile-view table tbody tr { float: left; width: 180px; }

.tile-view table tbody tr td { margin: 0 auto; padding: 0 26px; }

.tile-view table tbody tr .tile-view-container { border: 1px solid #f1f1f1; margin-bottom: 30px; width: 150px; position: relative; }

.tile-view table tbody tr .tile-view-container .img { height: 150px; width: 100%; border-bottom: 1px solid #f1f1f1; position: relative; padding: 16px 5px; margin: 0 auto; text-align: center; }

.tile-view table tbody tr .tile-view-container .img img { height: 100%; margin: 0 auto; }

.tile-view table tbody tr .tile-view-container .img label { position: absolute; top: 0; right: 0; width: 100%; height: 100%; cursor: pointer; }

.tile-view table tbody tr .tile-view-container .img label input[type="checkbox"] + .lbl::before { float: right; margin-top: 6px; margin-right: 2px; background-color: transparent; border: none; }

.tile-view table tbody tr .tile-view-container .img label input[type=checkbox]:checked + .lbl::before, .tile-view table tbody tr .tile-view-container .img label input[type=radio]:checked + .lbl::before { font-family: "znode-icons"; content: '\f058'; background-color: transparent; border: none; font-size: 22px; }

.tile-view table tbody tr .tile-view-container .img .z-audio { font-size: 100px; cursor: pointer; color: #3085db; }

.tile-view table tbody tr .tile-view-container .img .z-video { font-size: 100px; cursor: pointer; color: #e72e25; }

.tile-view table tbody tr .tile-view-container .img .z-file-text { font-size: 100px; }

.tile-view table tbody tr .tile-view-container .title { padding: 8px 5px; white-space: nowrap; overflow: hidden; max-width: 150px; text-overflow: ellipsis; }

.tile-view table tbody tr .tile-view-container .tile-action { display: none; position: absolute; bottom: 32px; left: 0; right: 0; z-index: 100; }

.tile-view table tbody tr .tile-view-container:hover { border: 1px solid #e72e25; box-shadow: 2px 3px 2px #716d6e; }

.tile-view table tbody tr .tile-view-container:hover .tile-action { display: block; }

.tile-view table tbody tr .tile-view-container:hover .action-ui { text-align: center; }

.tile-view table tbody tr .img-checked { border: 1px solid #f1f1f1; box-shadow: 2px 3px 2px #716d6e; }

.uploader-tile-view .img label { display: none; }

@media all and (min-width: 1500px) { .tile-view table tbody tr { float: left; width: 202px; } }

.detail-view { margin-top: 10px; border-top: 2px solid #c3c3c3; padding: 0; }

.detail-view .table-partial { border-right: 1px solid #f1f1f1; }

.detail-view .table-partial table tbody tr td { padding: 0; }

.detail-view .table-partial table tbody tr td a { width: 100%; display: block; padding: 5px; }

.detail-view .table-partial table tbody tr td a:hover { border-left: 3px solid #3085db; }

.detail-view .result-partial { padding-left: 8px; }

.detail-view .image-details .product-image img { padding-bottom: 10px; padding-right: 20px; vertical-align: middle; margin: 0 auto; width: auto !important; }

.detail-view .attribute-action { width: 80px; }

.detail-view-container { padding: 0; }

.detail-view-container .section-heading { padding: 0; }

.detail-view-container .image-details .product-image { vertical-align: middle; /*img{padding-bottom:10px;padding-right:20px; vertical-align: middle;margin:10px auto;width:360px;}*/ }

.detail-view-container .image-details .product-image .grid-video { padding-bottom: 50%; margin: 10px; }

.detail-view-container .image-details .product-image .grid-audio { margin: 10px 30px; text-align: center; }

.detail-view-container .image-details .product-image .grid-audio audio { width: 100%; }

.detail-view-container .image-details .product-image .grid-video-edit { padding-bottom: 20%; margin: 10px 0; position: relative; }

.detail-view-container .image-details .product-image .grid-video-edit .embed-responsive-item { width: auto; left: 50%; transform: translate(-50%, 0%); }

.detail-view-container .image-details .product-image .grid-audio-edit { margin: 10px 30%; text-align: center; position: relative; }

.detail-view-container .image-details .product-image .grid-audio-edit audio { width: 100%; }

.detail-view-container .image-details .product-image .grid-file { position: relative; padding-bottom: 10px; margin: 10px auto 0 auto; text-align: center; }

.detail-view-container .image-details .product-image .grid-file .z-file-text { font-size: 100px; }

.detail-view-container .image-details .product-image .grid-img { padding-bottom: 10px; vertical-align: middle; margin: 10px auto 0 auto; height: 290px; position: relative; }

.detail-view-container .image-details .product-image .grid-img img { height: 100%; margin-left: auto; margin-right: auto; display: block; }

.detail-view-container .image-details .product-image .grid-img img:hover { text-align: center; opacity: 0.5; -webkit-transition: opacity .25s ease; -moz-transition: opacity .25s ease; }

.detail-view-container .image-details .product-image .z-download { color: #e72e25; padding-right: 5px; }

.preview-link { cursor: pointer; }

.media-preview { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 750px; max-height: 500px; padding: 5px; border: 3px solid #c3c3c3; background-color: #fff; z-index: 999; border-radius: 5px; box-shadow: 5px 5px 6px #716d6e; }

.media-preview img { display: block; margin-left: auto; margin-right: auto; max-width: 700px; max-height: 500px; }

.media-preview button { position: absolute; top: -12px; right: -10px; }

/*.preview-overlay{ bottom: 0;display: none;left: 0;outline: 0 none;overflow: hidden;position: fixed;right: 0;top: 0;z-index: 9999;background-color:rgba(0,0,0,0.5);}*/
.category-assocation .left-panel, .category-assocation .right-panel { float: left; width: 450px; background: #fff; border: 1px solid #f1f1f1; border-radius: 5px; padding: 0 6px; margin: 10px 0; }

.category-assocation .left-panel h3, .category-assocation .right-panel h3 { float: left; width: 100%; padding: 5px; }

.category-assocation .left-panel .list, .category-assocation .right-panel .list { height: 500px; overflow: auto; width: 100%; }

.category-assocation .left-panel .list .jstree-default, .category-assocation .right-panel .list .jstree-default { min-height: 200px; }

.category-assocation .left-panel .list input[type='text'], .category-assocation .right-panel .list input[type='text'] { float: none; }

.category-assocation .left-panel .unassocated-list { padding: 0; }

.category-assocation .left-panel .unassocated-list li { padding: 5px; border-bottom: 1px solid #f1f1f1; }

.category-assocation .left-panel .unassocated-list li:hover { background-color: #3085db; color: #fff; cursor: pointer; }

.category-assocation .left-panel .unassocated-list .selected { background-color: #3085db; color: #fff; cursor: pointer; }

.category-assocation .nav-panel { float: left; width: 60px; height: 250px; padding: 0 10px; }

.category-assocation .nav-panel .navgation-control { margin-top: 250px; }

.category-assocation .nav-panel .navgation-control button { background-color: #fff; margin-bottom: 6px; }

.multi-upload, .attribut-container { width: 100%; min-height: 75px; border: 2px dashed #c3c3c3; text-align: center; padding-top: 5px; }

.multi-upload h3, .attribut-container h3 { font-size: 14px; font-weight: 600; margin-bottom: 10px; }

.multi-upload button, .multi-upload .btn-text-icon, .attribut-container button, .attribut-container .btn-text-icon { position: relative; left: 50%; transform: translate(-50%, 0%); }

.multi-upload-images { float: left; margin-right: 15px; margin-top: 15px; }

.add-on-container { padding: 5px; margin: 10px 0; background-color: #fff; border: 1px solid #c3c3c3; }

.add-on-container .form-group { padding-right: 20px; }

.view-icon { float: left; border: 1px solid #f1f1f1; border-radius: 4px; display: inline-block; height: 26px; line-height: 26px; margin-left: 5px; padding: 0 10px; text-align: center; background-color: #fff; }

.dashboard-container { padding: 0 5px; background-color: #fff; border-top: 2px solid #c3c3c3; border-bottom: 2px solid #c3c3c3; }

.dashboard-container .title-container { padding: 0; margin: 10px 0; }

.dashboard-container .title-container h1 { font-size: 20px; margin: 0; line-height: 26px; color: #2d333b; margin: 20px 0; }

.dashboard-container .quick-link { display: flex; background: #3085db none repeat scroll 0 0; border-radius: 2px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6); margin: 15px 0; min-height: 90px; width: 100%; }

.dashboard-container .quick-link .icon { background-color: #fff; border-radius: 2px 0 0 2px; display: block; float: left; text-align: center; padding: 0 20px; max-width: 110px; }

.dashboard-container .quick-link .icon i { font-size: 45px; line-height: 90px; color: #e72e25; }

.dashboard-container .quick-link .info-box-content { padding: 5px 10px; }

.dashboard-container .quick-link .info-box-content h3 { font-size: 20px; color: #fff; }

.dashboard-container .quick-link .info-box-content span { color: #fff; }

.dashboard-container .quick-link:hover .icon i { color: #2d333b; cursor: pointer; }

.dashboard-container .alert-container { min-height: 300px; border-top: 2px solid #c3c3c3; margin: 20px 0; }

.dashboard-container .quick-status-container { min-height: 300px; border-top: 2px solid #c3c3c3; margin: 20px 0; }

.page-container .quick-link { display: flex; background: #3085db none repeat scroll 0 0; border-radius: 2px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6); margin: 15px 0; min-height: 70px; width: 100%; }

.page-container .quick-link .icon { background-color: #fff; border-radius: 2px 0 0 2px; display: block; float: left; text-align: center; padding: 0 15px; max-width: 110px; }

.page-container .quick-link .icon i { font-size: 35px; line-height: 70px; color: #e72e25; }

.page-container .quick-link .info-box-content { padding: 5px 10px; }

.page-container .quick-link .info-box-content h3 { font-size: 14px; font-weight: 600; color: #fff; }

.page-container .quick-link .info-box-content span { color: #fff; font-size: 11px; }

.page-container .quick-link:hover .icon i { color: #2d333b; cursor: pointer; }

.page-container .alert-container { min-height: 300px; border-top: 2px solid #c3c3c3; margin: 20px 0; }

.page-container .quick-status-container { min-height: 300px; border-top: 2px solid #c3c3c3; margin: 20px 0; }

.file-preview { background-color: #5d6e7e; color: #fff; height: 26px; line-height: 32px; margin: 0 auto; width: 32px; border: none; margin-left: 5px; }

.file-preview i { font-size: 16px; }

.import-list { float: left; width: 100%; max-height: 300px; overflow-y: auto; }

.catalog-tree { float: left; width: 24%; padding: 5px; height: 500px; overflow: auto; background-color: #fff; border-top: 2px solid #c3c3c3; }

.publish-details { float: right; width: 75.50%; padding: 0 5px; background-color: #fff; border-top: 2px solid #c3c3c3; min-height: 500px; }

.publish-details .publish-data .control-label label { font-weight: 600; }

.tire-price-data .display-none { display: none; }

@media all and (min-width: 1500px) { .catalog-tree { height: 700px; }
  .publish-details { min-height: 700px; } }

.layout-box { float: left; border: 2px solid #c3c3c3; margin: 20px; width: 152px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.layout-box label { cursor: pointer; width: 100%; margin: 0 auto; }

.layout-box label img { padding: 10px 10px 0; }

.layout-box label .layout-name { padding: 5px; background-color: #3085db; margin-top: 10px; color: #fff; }

.layout-box:hover { box-shadow: 2px 3px 2px #716d6e; }

