﻿@model Znode.Engine.Admin.ViewModels.CategoryProductsListViewModel
@using Znode.Engine.Admin.Models

<div id="@Model.GridModel.FrontObjectName">
    <div id="divCategoryProduct" class="aside-popup-panel modal-dialog modal-lg">
        @*Don't delete this div, used to render Edit Category Product and Display Unassociated Product List*@
    </div>
    <div id="divDisplayOrder" class="modal fade">
        @*Don't delete this div, used to render Edit Category Product Edit and Display Unassociated Product List*@
    </div>
    <div class="col-sm-12 nopadding">
        <div>
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "DeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk,ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Category.prototype.DeleteMultipleAssociatedProducts(this)" },
                           }
                    })
        </div>
        @using (Ajax.BeginForm("GetAssociatedCategoryProducts", "Category", new { pimCategoryId = Model.PimCategoryId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        <div class="col-sm-12 list-container">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
    </div>
    @Html.HiddenFor(model => model.PimCategoryId)
</div>
<script>
    ZnodeBase.prototype.SetNoImageForList();
</script>
