﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  List<GroupProductViewModel>
@{
    Layout = null;
    string message = Convert.ToString(ViewBag.GroupProductMessage);
    bool isMainProductCallForPricing = Convert.ToBoolean(ViewBag.IsMainProductCallForPricing);
    string productTotalPrice = Helper.FormatPriceWithCurrency(Model.Sum(x => (x.ChangedQuantity != string.Empty) ? !Equals(x.SalesPrice, null) ? x.SalesPrice : x.RetailPrice : 0M), Model.FirstOrDefault()?.CultureCode);
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    bool showPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
    bool isParentProductObsolete = Convert.ToBoolean(ViewBag.IsObsolete);
    string obsoleteClass = isParentProductObsolete ? "cut-price" : "";
}


@if (Model?.Count > 0)
{
    <div class="col-12 b2b-select-quantity">@WebStore_Resources.LabelSelectQuantity</div>
    <div class="col-12 p-0 b2b-group-product-details" id="dynamic-product-variations">
        @foreach (GroupProductViewModel product in Model?.OrderBy(x => x.AssociatedProductDisplayOrder))
        {
            string UOM = Attributes.ValueFromSelectValue(product?.Attributes, "UOM");
            bool isOutOfStock = (Attributes.CodeFromSelectValue(product?.Attributes, ZnodeConstant.OutOfStockOptions) == "DontTrackInventory");
            string maxQty = product.Attributes?.Value(ZnodeConstant.MaximumQuantity);
            string minQty = product.Attributes?.Value(ZnodeConstant.MinimumQuantity);
            <div class="form-group m-0 px-3">
                <div class="col-12 group-product-list d-flex">
                    <img src="@product.ImageThumbNailPath" class="img-fluid" />
                    @if (product.IsCallForPricing)
                    {
                        <div class="group-item-details">
                            <h4>@Html.RenderBlock(product.Name)</h4>
                        </div>
                        <div class="price"><label>@Html.RenderMessage(WebStoreConstants.ProductCallForPricing)</label></div>
                    }
                    else if (isMainProductCallForPricing)
                    {
                        <div class="group-item-details">
                            <h4>@Html.RenderBlock(product.Name)</h4>
                        </div>
                    }
                    else
                    {
                        <div class="group-item-details">
                            <h4>@Html.RenderBlock(product.Name)</h4>
                        </div>
                        <div class="group-item-price">
                            @*if store level flag - 'show price to logged-in users only' is set to yes and user is logged off then do not show price to users.*@
                            @if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
                            {
                                <div class="loged-out-product-details">
                                    <div class="loged-out-product-text">
                                        <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                                        @WebStore_Resources.TextOR
                                        <a href="/User/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")">@WebStore_Resources.LabelRegister</a>
                                        @WebStore_Resources.TextForPricing
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (!Equals(product.SalesPrice, null))
                                {
                                    <span class="dynamic-product-price_@product.SKU pull-right original-price text-right @obsoleteClass">@Helper.FormatPriceWithCurrency(product.SalesPrice, product.CultureCode, UOM)</span>
                                    if (product.SalesPrice != @product.RetailPrice)
                                    {
                                        <span class="cut-price pull-right text-right">
                                            @Helper.FormatPriceWithCurrency(product.RetailPrice, product.CultureCode, UOM)
                                        </span>
                                    }
                                }
                                else
                                {
                                    <span class="dynamic-product-price_@product.SKU pull-right original-price text-right @obsoleteClass">@Helper.FormatPriceWithCurrency(product.RetailPrice, product.CultureCode, UOM)</span>
                                }
                            }
                        </div>
                    }
                    @if (product.ShowAddToCart)
                    {
                        <div class="product-details-quantity">
                            <input data-test-selector="txtGroupedQuantity" type="text" data-inventory="@isOutOfStock" class="quantity" @(isParentProductObsolete ? "disabled" : "") name="@product.SKU" data-sku="@product.SKU" data-inventoryRoundOff="@inventoryRoundOff" data-maxquantity="@maxQty" data-minquantity="@minQty" data-productId="@product.PublishProductId" onchange="Product.prototype.OnAssociatedProductQuantityChange(this)" />
                            @*<span class="quantity-state">@WebStore_Resources.ColumnTitleQuantity</span>*@
                            @*<div id="instock-count" class="status-outofstock hvr-pulse error-msg pull-left inventory-stock">
                                    <span class="product-count-inventory padding-left">@Html.RenderBlock(WebStore_Resources.TextInstock)</span>
                                    @if (product.Quantity > 0)
                                    {
                                        <span class="padding-left-5">@Html.RenderBlock("(" + product.Quantity + ")")</span>
                                    }
                                </div>*@
                        </div>
                        <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg pull-left inventory-stock inventory-error-msg">
                        </div>
                    }
                    else
                    {
                        <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg">@Html.RenderBlock(product.InventoryMessage)</div>
                    }
                </div>
            </div>
        }
    </div>

}

<script>
    $("#groupproductmessage").ready(function(){
        $("#groupproductmessage").html('@message');
        $("#dynamic-inventory").hide();
        var mainProductId = $("#scrollReview form").children("#dynamic-productid").val();
        jQuery('img').on('error', function (e) {
            this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
        });
    });
</script>
