﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    bool isLiteVersion = false;
    if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }
}

<div class="col-12 p-0 image-view">
    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
    {
        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
    }
    @if (Model.IsAddedInWishList)
    {
        <button type="button" id="btnAddToWishList" data-id="@Model.PublishProductId" data-sku="@Model.SKU" class="btn-wishlist button-wishlist added-to-wishlist" onclick="Product.prototype.RemoveFromFavourites(@Model.WishListId)"><span class="heart-icon" title="Wishlist"></span></button>
    }
    else
    {
        <button type="button" id="btnAddToWishList" data-id="@Model.PublishProductId" data-sku="@Model.SKU" class="btn-wishlist button-wishlist" onclick="Product.prototype.AddToFavourites(this)"><span class="heart-icon" title="Wishlist"></span></button>
    }
    @*<a class="b2b-email-to-friend" data-toggle="modal" data-target="#modelEmailToFriend"><span class="envelop-icon" title="Email A Friend"></span></a>*@
    <div class="easyzoom easyzoom-overlay easyzoom-with-thumbnails">
        <a href="@Model.ImageLargePath" class="easyzoom-img">
            <img src="@Model.ImageLargePath" class="img-fluid" />
        </a>
    </div>
    <div class="col-12 p-0 product-altimages">
        <div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages">
            @if (isLiteVersion)
            {
                @Ajax.Partial("AlternateImages", "AlternateProductImagesZoomEffect", "Product", new { id = ViewBag.ProductId, expands = "ProductImage", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState })
            }
            else
            {
                if (Model.AlternateImages?.Count > 0)
                {
                    <div class="item">
                        <a href="@Model.ImageLargePath" data-standard="@Model.ImageLargePath">
                            <img src="@Model.ImageMediumPath" />
                        </a>
                    </div>

                    foreach (var image in Model.AlternateImages)
                    {
                        <div class="item">
                            <a href="@image.OriginalImagePath" data-standard="@image.OriginalImagePath">
                                <img src="@image.ImageThumbNailPath" alt="" />
                            </a>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var wishlistStatus = localStorage.getItem("Status")
        //get it if Status key found
        if (!(wishlistStatus == null) && !(wishlistStatus == "undefined")) {
            ZnodeNotification.prototype.DisplayNotificationMessagesHelper(wishlistStatus ? "Product added to wishlist." : "Product could not be added to wishlist.", wishlistStatus ? "success" : "error", true, fadeOutTime);
            localStorage.clear();
        }
    });

    $(function () {
        // Instantiate EasyZoom instances
        var $easyzoom = $('.easyzoom').easyZoom();
        // Setup thumbnails example
        var api1 = $easyzoom.filter('.easyzoom-with-thumbnails').data('easyZoom');

        $('.item').on('click', 'a', function (e) {
            var $this = $(this);
            e.preventDefault();
            // Use EasyZoom's `swap` method
            api1.swap($this.data('standard'), $this.attr('href'));
        });

        $(".Product_Altimages").owlCarousel({
            autoPlay: false,
            navigation: true,
            items: 4,
            itemsCustom: [
                [0, 1],
                [320, 3],
                [480, 4],
                [600, 4],
                [768, 4],
                [992, 5],
                [1200, 5]
            ],
            navigationText: [
                "<span class='left-icon'></span>",
                "<span class='right-icon'></span>"
            ]
        });
    });
</script>
