﻿<footer id="layout-footer" itemtype="http://schema.org/WebPage" itemscope="">
    <span itemprop="name" style="display:none">Footer</span>
    <z-widget>@Html.WidgetPartial("Footer", "Footer", "102", "PortalMapping")</z-widget>
</footer>