﻿@using Znode.Engine.Admin.ViewModels
@model ReportListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = Admin_Resources.LabelReport + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@Admin_Resources.TitleDynamicReports</h1>
        <div class="pull-right">
            @Html.AuthorizedRawActionLink("<i class='z-add-circle'></i>" + Admin_Resources.AddNew, "DynamicReport", "MyReports", null, new { @class = "btn-text-icon" })
        </div>
    </div>
    <!--Main Container-->
    <div id="share-btn" style="display:none"></div>
    <section class="col-sm-12 page-container">
        @using (Ajax.BeginForm("list", "MyReports", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                   new PopupModel()
                   {
                       Title = Admin_Resources.HeaderConfirmDelete,
                       Description = Admin_Resources.TextConfirmDelete,
                       ModalPopUpId = "ReportPopup",
                       Buttons = new List<PopUpButtonModel>() {
                       new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "MyReports.prototype.DeleteDynamicReport(this)"}
                       }
                   })
        <div class="col-sm-12 list-container">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
    </section>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        MyReports.prototype.RemoveHrefAttributes();
    });
</script>