﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Newtonsoft.Json
@using Znode.Engine.WebStore.Agents
@using Newtonsoft.Json;
@using System.Configuration;
@model OrdersViewModel

@{
    int shippingId = 0;
    int count = 1;
    string imagePath = string.Empty;
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isLoggedInUser = User.Identity.IsAuthenticated;
    var address = Model.BillingAddressHtml;
    var _portal = PortalAgent.CurrentPortal;
    TempData["redirectbit"] = true;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_Layout-Checkout.cshtml";
    string ExclusionCategory =  "Value,Clearance";//ConfigurationManager.AppSettings["ExclusionCategory"].ToString();//
    decimal ExclusionTotal = Convert.ToDecimal(Model.OrderLineItems.Where(x => !ExclusionCategory.Split(',').Contains(x.Custom1)).Sum(x => x.Price * x.Quantity));
    Model.CSRDiscountAmount = ExclusionTotal;
}

@if (!Equals(Model, null))
{
        <div class="main-wrapper sp-accounts">
            <div class="container-fluid">
                <div class="checkout-reciept margin-bottom">
                    <div class="col-sm-12 nopadding">
                        <h4 data-test-selector="lblThanksMsg">Thank You For Your Purchase</h4>                      
                        <p data-test-selector="lblOrderNoMsg">
                            Your order number is <b>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a data-test-selector="lblOrderNo" href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId" class="sp-num">#@Model.OrderNumber</a>
                                }
                                else
                                {
                                    <span data-test-selector="lblOrderNo" class="sp-num">#@Model.OrderNumber</span>
                                }
                            </b>
                        </p>
                        <p data-test-selector="lblEmailReceiptMsg">
                            An email receipt has been sent to <b data-test-selector="lblReceiptEmail">@Model.EmailAddress</b>, please keep this email for your records.
                        </p>
                    <div>&nbsp;</div>
                    <div class="col-xs-12  nopadding margin-bottom">
                        <a href="/CaseRequest/customerfeedback">@WebStore_Resources.TextCustomerFeedback</a>
                    </div>
                </div>
            </div>
            <div id="layout-account-receipt" class="sp-checkout-receipt padding-top-bottom">
                <div class="user-account">
                    <div class="col-xs-12 nopadding">
                        <h3 class="page-title">@Html.RenderBlock(string.Format(WebStore_Resources.TitleOrderReceipt.ToString(), Model.OrderNumber.ToString())) - @ViewBag.Title <small>on @Model.OrderDate.ToDateTimeFormat()</small></h3>
                    </div>

                    <div class="col-xs-12 account-dashboard nopadding">
                        <div class="col-xs-12 order-receipt nopadding">
                            <div class="col-xs-12 nopadding order-receipt-address">
                                <div class="col-xs-12 col-sm-4 nopadding receipt-info">
                                    <h4 class="section-header-color">@WebStore_Resources.TextDetails:</h4>
                                    <div><p><strong>@WebStore_Resources.TitleDate:</strong> @Model.OrderDate.ToDateTimeFormat()</p></div>
                                    <div><p><strong>@WebStore_Resources.TitleOrder:</strong> @Model.OrderNumber </p></div>
                                    <div><p><strong>@WebStore_Resources.TitlePayment:</strong> @Model.PaymentDisplayName </p></div>
                                    @if (Model.PaymentType == ZnodeConstant.PurchaseOrder)
                                    {<div><p><strong>@Admin_Resources.LabelPurchaseOrderNumber:</strong> @Model.PurchaseOrderNumber</p></div>}
                                    <div><p><strong>@WebStore_Resources.TitleTracking:</strong> @Html.RenderBlock(Model.TrackingNumber)</p></div>
                                    @if (HelperUtility.IsNotNull(Model.CouponCode))
                                    {
                                        <div><strong>@WebStore_Resources.LabelCouponCode:</strong> @Html.RenderBlock(Model.CouponCode)</div>
                                    }
                                </div>
                                <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                </div>
                                <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                    <h4 class="section-header-color">@WebStore_Resources.TitleBillingTo</h4>
                                    <p>@Html.RenderBlock(Model.BillingAddressHtml)</p>
                                </div>
                            </div>

                            <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                                <div class="table-responsive">
                                    <table class="table table-tr">

                                        @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                        {
                                            if (!Equals(items.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString()))
                                            {                                              
                                                bool headerFlag = false;
                                                if (!Equals(shippingId, items.OmsOrderShipmentId))
                                                {
                                                    <tr class="shipment-address">
                                                        <td colspan="9">
                                                            <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                                <div class="user-receipt">
                                                                    @*<h3>@WebStore_Resources.ShipmentLable #@count</h3>*@
                                                                    <h3>Ship To</h3>
                                                                    @Html.RenderBlock(items.ShippingAddressHtml)
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    shippingId = items.OmsOrderShipmentId;
                                                    count++;
                                                    headerFlag = true;
                                                }
                                                if (headerFlag)
                                                {

                                                    <tr class="table-heading" style="border-bottom:1px solid #c3c3c3;">
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleItem</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelDescription</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleEstimateShipDate</th>
                                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                                        <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                        <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                        <th class="table-td receipt-column-total text-right">@WebStore_Resources.ColumnTitleTotal</th>
                                                        @*<th class="table-td receipt-column-action"></th>*@
                                                    </tr>

                                                }

                                                <tr class="receipt-item table-tr">
                                                    <td class="table-td receipt-column-item">
                                                        @Html.RenderBlock(items.ProductName)
                                                        @if (!string.IsNullOrEmpty(items.DownloadableProductKey))
                                                        {
                                                            List<string> keys = items.DownloadableProductKey.Split(',').ToList();
                                                            <h5 style="color:red">Product Keys</h5>
                                                            foreach (string item in keys)
                                                            {
                                                                <div>@Html.RenderBlock(item)</div>
                                                            }
                                                        }
                                                        <br />
                                                        <div class="cart-item-description">
                                                           @{
                                                               string PersonaliseValues = "";
                                                              }
                                                        @if (items?.PersonaliseValueList?.Count > 0)
                                                        {
                                                            foreach (var item in items?.PersonaliseValueList)
                                                            {
                                                                if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                                {
                                                                    if (item.Key.ToString().Contains("OptionValue"))
                                                                    {
                                                                        PersonaliseValues += item.Value.ToString();

                                                                    }

                                                                }
                                                            }
                                                        }
                                                        @Html.RenderBlock(PersonaliseValues.ToString().Replace("\\n", "<br />"))
                                                        </div>

                                                    </td>
                                                    <td class="table-td">
                                                        @*<div>@Html.RenderBlock(@items.Description.Replace("Awct_", ""))</div>*@
                                                        @{
                                                            string cartDesc = items.Description.Replace("Awct_Size", "Size").Replace("Awct_Color", "Color");
                                                            //writen for the EstimateDate and ColorNum to show on Cart:start
                                                            string ColorNum = ""; string EstimateDate = "";

                                                            string Custom4Value = items.Custom3;
                                                            string[] stringArray = Custom4Value.Split('-');
                                                            if (stringArray.Length > 1)
                                                            {
                                                                EstimateDate = Convert.ToString(stringArray[0]);//EstimateDate
                                                                EstimateDate = EstimateDate.Replace("&#", "");
                                                                if (EstimateDate.IndexOf("/") == -1)
                                                                {
                                                                    EstimateDate = "&#" + EstimateDate;
                                                                }
                                                                ColorNum = "" + Convert.ToString(stringArray[1]);//ColorValue
                                                                ColorNum = ColorNum.Replace("-", " - ");
                                                            }


                                                            //writen for the EstimateDate and ColorNum to show on Cart:End
                                                            cartDesc = cartDesc.Replace("Color", "Color " + ColorNum);
                                                        }
                                                        <div>@Html.RenderBlock(cartDesc)</div>
                                                    </td>
                                                    <td class="table-td">
                                                        <div>@items.OrderLineItemState</div>
                                                    </td>
													 <td class="table-td">
                                                        <div>@Html.RenderBlock(@EstimateDate)</div>
                                                    </td>
                                                    <td class="table-td">
                                                        <div>@Html.RenderBlock(items.TrackingNumber)</div>
                                                    </td>
                                                    <td class="table-td receipt-column-quantity">
                                                        @if ((items.Quantity) % 1 == 0)
                                                        {
                                                            @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                        }
                                                        else
                                                        {
                                                            var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                            @orderedQuantity
                                                        }
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency(items.Price, Model.CultureCode, items.UOM)
                                                    </td>
                                                    <td class="table-td receipt-column-total text-right">
                                                        @Helper.FormatPriceWithCurrency(items.Quantity * items.Price, Model.CultureCode)
                                                    </td>

                                                    @*<td class="table-td receipt-column-action">
                                                            <a href="/user/ReorderOrderLineItem/@items.OmsOrderLineItemsId">@WebStore_Resources.TextReoder</a>
                                                        </td>*@
                                                </tr>
                                            }
                                        }
                                    </table>
                                </div>
                                @Html.Partial("../User/_ReceiptCalculation", Model)
                            </div>

                            <div class="col-xs-12 margin-top-bottom nopadding return-item-list shopping-cart">
                                @if (Model?.ReturnItemList?.ReturnItemList?.Count > 0)
                                {
                                    <h3>@WebStore_Resources.LabelReturnItemList</h3>
                                    <div class="table-responsive">
                                        <table class="table table-tr">
                                            <tr class="table-heading">
                                                <th class="table-td receipt-column-item">Product SKU</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelProductName</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelReason</th>
                                                <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                                <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTax</th>
                                                <th class="table-td receipt-column-price">@WebStore_Resources.ColumnShipping</th>
                                                <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                            </tr>

                                            @foreach (var items in Model?.ReturnItemList?.ReturnItemList)
                                            {
                                                <tr>
                                                    @if (items?.GroupProducts?.Count > 0)
                                                    {
                                                        string mainProductName = items.ProductName;
                                                        foreach (var product in items.GroupProducts)
                                                        {
                                                            <td>
                                                                @product.Sku
                                                            </td>
                                                                <td>
                                                                    <div class="">@Html.RenderBlock(mainProductName)</div>
                                                                    <div>@Html.DisplayTextFor(model => product.ProductName)</div>
                                                                    <div class="cart-item-description">@Html.RenderBlock(items.CartDescription)</div>
                                                                </td>
                                                                <td>
                                                                    @items.OrderLineItemStatus
                                                                </td>
                                                                <td>
                                                                    @items.ReasonForReturn
                                                                </td>
                                                                <td>
                                                                    @items.TrackingNumber
                                                                </td>
                                                                <td class="table-td receipt-column-quantity">
                                                                    @if ((items.Quantity) % 1 == 0)
                                                                    {
                                                                        @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                                    }
                                                                    else
                                                                    {
                                                                        var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                        @orderedQuantity
                                                                    }
                                                                </td>
                                                                <td class="table-td receipt-column-price">
                                                                    @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode, items.UOM)
                                                                </td>
                                                                <td class="table-td receipt-column-price">
                                                                    @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CultureCode)
                                                                </td>
                                                                <td class="table-td receipt-column-price">
                                                                    @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                                </td>
                                                                <td class="table-td receipt-column-total">
                                                                    @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                                </td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(items?.ConfigurableProductSKUs))
                                                            {
                                                                <span>@items.ConfigurableProductSKUs</span>
                                                            }
                                                            else
                                                            {
                                                                <span>@items.SKU</span>
                                                            }
                                                        </td>
                                                            <td>
                                                                <span>@Html.RenderBlock(items.ProductName)</span>
                                                                <div class="cart-item-description">
                                                                    @if (items?.PersonaliseValuesList?.Count > 0)
                                                                    {
                                                                        <p>
                                                                            <img src="@imagePath" style="max-height:45px;max-width:45px;" alt="Alternate Text" />
                                                                        </p>
                                                                    }
                                                                </div>
                                                                @Html.RenderBlock(items.CartDescription)
                                                            </td>
                                                            <td>
                                                                <span>@items.OrderLineItemStatus</span>
                                                            </td>
                                                            <td>
                                                                <span>@items.ReasonForReturn</span>
                                                            </td>
                                                            <td>
                                                                <span>@items.TrackingNumber</span>
                                                            </td>
                                                            <td class="table-td receipt-column-quantity">
                                                                @if ((items.Quantity) % 1 == 0)
                                                                {
                                                                    @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                                }
                                                                else
                                                                {
                                                                    var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                    @orderedQuantity
                                                                }
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CultureCode, items.UOM)
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CultureCode)
                                                            </td>
                                                            <td class="table-td receipt-column-price">
                                                                @Helper.FormatPriceWithCurrency((items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                            </td>
                                                            <td class="table-td receipt-column-total">
                                                                @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost + (items.IsShippingReturn ? items.ShippingCost : 0), Model.CultureCode)
                                                            </td>
                                                    }
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-right nopadding">
                    <a href="/" class="btn-text btn-bg-primary pdpbtn margin-bottom">@WebStore_Resources.ButtonContinueShopping</a>
                    <a class="receipt-print btn-text btn-bg-primary pdpbtn" href="#" onclick="window.print();return false;"><i class="zf-printer"></i> <span>Print</span></a>
                </div>
            </div>
            @Html.Hidden("portalId", portalId)
        </div>
    </div>
    @Html.Hidden("isLoggedInUser", isLoggedInUser)
    @Html.TrackingPixelHtml(ZnodePortalTrackingPixelEnum.CJ.ToString(), new object[] { Guid.NewGuid().ToString(), Helper.GetPixelId(ZnodePortalTrackingPixelEnum.CJ.ToString())?.Split(',')?.First(), Helper.GetPixelId(ZnodePortalTrackingPixelEnum.CJ.ToString())?.Split(',')?.Last(), Model.CultureCode, Model.OmsOrderId, Model.OrderLineItemQueryString }, Model.OrderLineItemQueryString)
}
    @* To DO - Need to move in checkout.ts *@
    <script>
        $(document).ready(function () {
            // DataLayer creation and PUSH to GTM.
            var modelData = Checkout.prototype.prepareDataLayer(@Html.RenderBlock(Json.Encode(Model)));
            Checkout.prototype.PutDataIntoDatalayer(modelData);

            $(window).scrollTop(0);
            if ("@isLoggedInUser" == "False") {
                ArtifiAPI.prototype.UpdateUserId(localStorage.getItem("UserId"), '@Model.UserId',@Model.PortalId);
            }
            if ("@address"=="") {
                window.location.href = document.location.origin + "/checkout/ordercheckoutreciept?omsorderid=" + @Model.OmsOrderId;
            }

        })
    </script>