﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.Resources
@using Znode.Engine.Admin.Models
@model PromotionListViewModel
@{
    ViewBag.Title = Admin_Resources.TitleMarketing + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@Admin_Resources.TitlePromotionsCouponsList<span class="total-count"><p>@Model.GridModel.TotalRecordCount</p></span></h1>
        <div class="pull-right btn-container">
            @*To Do : For Future Reference*@
            @*@Html.AuthorizedRawActionLink("<i class='z-export'></i>" + Admin_Resources.LabelExport, "ExportPromotionData", "Promotion", null, new { @class = "btn-text-icon", @id = "exportPromotionDataId" })*@
            @Html.AuthorizedRawActionLink(Admin_Resources.ButtonAdd, "Create", "Promotion", null, new { @class = "btn-text btn-text-secondary", @data_test_selector = "linkAddNew"})
        </div>
    </div>
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        @using (Ajax.BeginForm("List", "Promotion", new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
        {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                 new PopupModel()
                 {
                     Title = Admin_Resources.HeaderConfirmDelete,
                     Description = Admin_Resources.TextConfirmDelete,
                     ModalPopUpId = "PromotionDeletePopup",
                     Buttons = new List<PopUpButtonModel>() {
                     new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "javscript: var promotion = new Promotion(); promotion.DeleteMultiplePromotion(this)"}
                     }
                 })

        <div class="col-sm-12 list-container">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
    </section>
</div>