﻿@import "_base.scss";

.shopping-cart{
    .cart-total-title h2{border:1px solid $border-bgcolor-default;font-size:16px;color:$base-color-primary;font-weight:bold;padding:15px; background: $base-color-white;background: -moz-linear-gradient(top,  #ffffff 0, #f0f0f0 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f0f0f0)); background: -webkit-linear-gradient(top,  #ffffff 0,#f0f0f0 100%); background: -o-linear-gradient(top,  #ffffff 0,#f0f0f0 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f0f0f0 100%);background: linear-gradient(to bottom,  #ffffff 0,#f0f0f0 100%);}
    .cart-products{
        table{background-color:#f7f7f7;border:1px solid $border-bgcolor-default;margin-bottom:0;
              tr td,tr th{border:1px solid $border-bgcolor-default;vertical-align:middle;padding:5px;}
              tr th:first-child{width:30px;}
        }
    } 
    .remove-item a{float:left; width:100%; text-align:center;color:$base-color-primary;}
    .cart-item-details{
        .cart-item-description{font-size:$base-font-size;line-height:26px;}
        a{display: block;font-size:$base-font-size;font-weight: bold;line-height:26px;overflow:hidden;width:100%;}
        .group-product-list p{line-height:32px;font-weight:600;
            i{font-size:13px;color:$base-color-primary;}
        }
        .cart-image {
            a {max-height:100%;overflow:visible;}
        }
    }    
    .cart-summary{background-color:#f7f7f7;border:1px solid $border-bgcolor-default;border-top:0;padding:20px;
        .cart-total{text-align:right;color:$base-color-secondary;
            .form-group{float:left; width:100%; margin-bottom:5px;line-height:32px;}
            .total{border-top:1px solid $border-bgcolor-default; float:left;width:100%;
                   h2{color:$base-color-primary;font-size:28px;}
            }
        }        
        .cart-item-remove-all i{color:$base-color-primary;padding-right:5px;}
    }
    .cart-promocode,.cart-giftcart{padding-right:25px;
        p{font-weight:bold;padding:10px 0;}
        .input-group{max-width:300px;}
    }
    .shipping-estimate-details{line-height:20px;
        .styled-input input[type=radio] + label {padding-right:10px;margin-bottom:0;}
    }
    .cart-apply-promocode {
        .right-inner-icon{
            i {line-height:1;}
            .cancel-shipping-estimator {position:absolute; top:0; right:0; padding:9px 15px; height:34px;}
        } 
    }
} 

.cart-item-quantity{        
        input[type="text"]{width:48px;}
}

// Media Query.
@include screensize(x-small) {
    .shopping-cart{padding:0 5px;
        .cart-summary{padding:5px;}
    }
    .cart-item-details{
        .cart-image {
            img {max-width:50px;}
        }
        .cart-description {padding:10px 0 0;}
     }
}
@include screensize(small) {
    .shopping-cart{padding:0;
            .cart-summary{padding:10px;}
            .cart-item-quantity{max-width:60px;}
    }    
    .cart-item-details{
        .cart-image {
            img {max-width:90px;}
        }
         .cart-description {padding:0 0 0 10px;}
    }
}
@include screensize(medium) {
.shopping-cart{
        .cart-summary{padding:20px;}
    }
}