﻿ .bootstrap-tagsinput {padding:0 5px;width:100%;border:1px solid $border-bgcolor-primary;box-shadow:none;outline:medium none;border-radius:0;
    input {border:none;box-shadow:none;outline:none;background-color:transparent;padding:0 6px;margin:0;width:auto;max-width:inherit;}
    .tag {margin-right:2px; color:$base-color-white;font-size:11px;background:$base-color-primary;padding:2px 5px;border-radius:0;}
    .tag [data-role="remove"] {margin-left:8px;cursor:pointer;
        &:hover{box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
        &:hover:active{box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}
    }
    .tag [data-role="remove"]:after{content:"x";padding:0px 2px;}
    /*.form-control input::-moz-placeholder {color:#777;opacity:1;}
    .form-control input:-ms-input-placeholder {color:#777;}
    .form-control input::-webkit-input-placeholder{color:#777;}
     input:focus {border:none;box-shadow:none;}*/
}

