﻿@using Znode.WebStore.Custom.ViewModel;
@model AWCTModelSearchViewModel
@{
    ViewBag.Title = @WebStore_Resources.LinkTextModelSearch;
    Layout = "~/Views/Themes/AWCT/Views/Shared/_Layout.cshtml";
}
<div id="layout-modelsearch" class="main-wrapper">

    <div class="container-fluid">
        <div class="contain-pages">
            <div class="col-xs-12 nopadding">
                <!--Footer Title Info Model Search Block-->
                @*<div class="col-xs-12 col-md-5 col-lg-6 nopadding">
                        @Html.RenderMessage("FormNewCustApplicationinfo")
                    </div>*@

                <!--Model Search Form Code here-->
                <div class="col-xs-12 col-md-7 col-lg-8 margin-bottom">
                    <div class="col-xs-12 nopadding">
                        <h1 class="page-title">@WebStore_Resources.LinkTextModelSearch</h1>
                    </div>
                    <div class="col-xs-12 nopadding margin-bottom">
                        <p>@WebStore_Resources.TextSubModelSearch</p>
                    </div>

                    @using (Html.BeginForm("ModelSearch", "AWCTCustomizedForm", FormMethod.Post, new { @id = "frmmodelsearch" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-xs-12 nopadding kmirrort">
                            <div class="col-xs-12 nopadding backbackgroundset Setbordernone">
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.ModelName, new { @maxlength = 100, @id = "valModelName", @class = "floating-input", @placeholder = "Model Name *" })
                                            <span id="valModelNameErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelModelName, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.ContactName, new { @maxlength = 100, @id = "valContactName", @class = "floating-input", @placeholder = "Contact Name *" })
                                            <span id="valContactNameErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelContactName, new { @class = "required" })*@
                                            <p class="sub">@WebStore_Resources.ContactNameSubText</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.Address, new { @maxlength = 100, @id = "valAddress", @class = "floating-input", @placeholder = "Address" })
                                            @*<span id="valAddressErr" class="field-validation-error"></span>*@
                                            @*@Html.Label(WebStore_Resources.LabelAddress)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.City, new { @maxlength = 100, @id = "valCity", @class = "floating-input", @placeholder = "City" })
                                            <span id="valCityErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelCity)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.StateProvince, new { @maxlength = 100, @id = "valStateProvince", @class = "floating-input", @placeholder = "State" })
                                            <span id="valStateProvinceErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelStateProvince)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.ZipCode, new { @maxlength = 100, @id = "valZipCode", @class = "floating-input", @placeholder = "Zip Code" })
                                            <span id="valZipCodeErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelZipCode)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.DayPhone, new { @maxlength = 100, @id = "valDayPhone", @class = "floating-input", @placeholder = "Day Phone *" })
                                            <span id="valDayPhoneErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelDayPhone, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.EveningPhone, new { @maxlength = 100, @id = "valEveningPhone", @class = "floating-input", @placeholder = "Evening Phone" })
                                            <span id="valEveningPhoneErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelEveningPhone)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.CellPhone, new { @maxlength = 100, @id = "valCellPhone", @class = "floating-input", @placeholder = "Cell Phone" })
                                            <span id="valCellPhoneErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelCellPhone)*@

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.EmailAddress, new { @maxlength = 100, @id = "valEmailAddress", @class = "floating-input", @placeholder = "Email Address *" })
                                            <span id="valEmailAddressErr" class="field-validation-error"></span>
                                            <p class="sub">@WebStore_Resources.ContactNameSubText</p>
                                        </div>
                                    </div>
                                </div>
                                <!--Statistics-->
                                @*<div class="col-xs-12 nopadding">
                                        <div class="form-group Forms-Title">
                                            @WebStore_Resources.TitleFormsStatistics
                                        </div>
                                    </div>*@
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.ArmLength, new { @maxlength = 100, @id = "valArmLength", @class = "floating-input", @placeholder = "Arm Length *" })
                                            <span id="valArmLengthErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelArmLength, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.ChestMeasurement, new { @maxlength = 100, @id = "valChestMeasurement", @class = "floating-input", @placeholder = "Chest Measurement *" })
                                            <span id="valChestMeasurementErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelChestMeasurement, new { @class = "required" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.GirthMeasurement, new { @maxlength = 100, @id = "valGirthMeasurement", @class = "floating-input", @placeholder = "Girth Measurement *" })
                                            <span id="valGirthMeasurementErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelGirthMeasurement, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.HipMeasurement, new { @maxlength = 100, @id = "valHipMeasurement", @class = "floating-input", @placeholder = "Hip Measurement *" })
                                            <span id="valHipMeasurementErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelHipMeasurement, new { @class = "required" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.InseamMeasurement, new { @maxlength = 100, @id = "valInseamMeasurement", @class = "floating-input", @placeholder = "Inseam Measurement *" })
                                            <span id="valInseamMeasurementErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelInseamMeasurement, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.WaistMeasurement, new { @maxlength = 100, @id = "valWaistMeasurement", @class = "floating-input", @placeholder = "Waist Measurement *" })
                                            <span id="valWaistMeasurementErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelWaistMeasurement, new { @class = "required" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.Age, new { @maxlength = 100, @id = "valAge", @class = "floating-input", @placeholder = "Age" })
                                            <span id="valAgeErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelAge)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.HairColor, new { @maxlength = 100, @id = "valHairColor", @class = "floating-input", @placeholder = "Hair Color" })
                                            <span id="valHairColorErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelHairColor)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.EyeColor, new { @maxlength = 100, @id = "valEyeColor", @class = "floating-input", @placeholder = "Eye Color" })
                                            <span id="valEyeColorErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelEyeColor)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.Height, new { @maxlength = 100, @id = "valHeight", @class = "floating-input", @placeholder = "Height *" })
                                            <span id="valHeightErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelHeight, new { @class = "required" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.Weight, new { @maxlength = 100, @id = "valWeight", @class = "floating-input", @placeholder = "Weight" })
                                            <span id="valWeightErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelWeight)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.LeotardSize, new { @maxlength = 100, @id = "valLeotardSize", @class = "floating-input", @placeholder = "Leotard Size" })
                                            <span id="valLeotardSizeErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelLeotardSize)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.ShoeSize, new { @maxlength = 100, @id = "valShoeSize", @class = "floating-input", @placeholder = "Shoe Size" })
                                            <span id="valShoeSizeErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelShoeSize)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.DanceStudioYouAttend, new { @maxlength = 100, @id = "valDanceStudioYouAttend", @class = "floating-input", @placeholder = "Dance Studio You Attend" })
                                            <span id="valDanceStudioYouAttendErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelDanceStudioYouAttend)*@
                                        </div>
                                    </div>
                                </div>
                                <!--Additional Photo Upload-->
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.Label(WebStore_Resources.LabelAdditionalPhotoUpload)
                                        <p class="sub">@WebStore_Resources.AdditionalPhotoSubText</p>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.AdditionalPhotoUpload, new { @type = "file", @id = "valAdditionalPhotoUpload" })
                                        <span id="valAdditionalPhotoUploadErr" class="field-validation-error"></span>
                                    </div>
                                </div>
                                <!--Head Shot Photo Upload-->
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.Label(WebStore_Resources.LabelHeadShotPhotoUpload, new { @class = "required" })
                                        <p class="sub">@WebStore_Resources.HeadShotPhotoSubText</p>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.HeadShotPhotoUpload, new { @type = "file", @id = "valHeadShotPhotoUpload" })
                                        <span id="valHeadShotPhotoUploadErr" class="field-validation-error"></span>
                                    </div>
                                </div>
                                <!--Full Length Photo Upload-->
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.Label(WebStore_Resources.LabelFullLengthPhotoUpload, new { @class = "required" })
                                        <p class="sub">@WebStore_Resources.FullLenghPhotoSubText</p>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.FullLengthPhotoUpload, new { @type = "file", @id = "valFullLengthPhotoUpload" })
                                        <span id="valFullLengthPhotoUploadErr" class="field-validation-error"></span>
                                    </div>
                                </div>
                                <!--Additional Information-->
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label> Additional Details, Modeling Experience, Groups</label>
                                    </div>
                                    <div class="form-group floating-label">
                                        @Html.TextAreaFor(model => model.AdditionalDetails, new { @rows = 2, @class = "floating-input", @placeholder = "" })
                                        @*@Html.Label(WebStore_Resources.LabelAdditionalDetails, new { @class = "required" })*@
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label" style="overflow: hidden">
                                            <div class="g-recaptcha" data-sitekey="6Lcwg4gUAAAAAKeuIU3Au1Qixfwvi39Fe4FE18Sv"></div>
                                            <span id="ErrCaptcha" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Contact Form div-->
                        <div class="form-group floating-label">
                            <div class="pull-left margin-top-bottom">
                                <button type="submit" class="btn-text btn-bg-primary" id="model-search" onclick="return CaseRequest.prototype.ValidationForModelSearchForm();">@WebStore_Resources.ButtonSubmit</button>
                                <a href="/Home/Index" class="btn-text btn-bg-secondary">@WebStore_Resources.ButtonCancel</a>
                            </div>
                        </div>

                    }
                </div>

            </div>
        </div>
    </div>
</div>


<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    var form = document.getElementById("frmmodelsearch"); form.addEventListener("submit", function (e) { "" === grecaptcha.getResponse() ? (e.preventDefault(), $("#ErrCaptcha").text("Please check the recaptcha.")) : $("#ErrCaptcha").text("") }, !1);
</script>

