﻿<div class="newsletter-widget" style="display:none">
        <div class="col-xs-12 col-sm-3">
            <strong>@Html.Label("Subscribe To Our Newsletter", new { @data_test_selector = "lblSubscribeNewsLetter", @class = "SubscribeLbl" })</strong>
        </div>
        <div class="col-xs-12 col-sm-8 input-field" style="margin-top: 5px;">
            @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
            {
                <div class="input-group Setbordernone" id="newsletter" style="margin: 10px 0">
                    @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = WebStore_Resources.LabelSenderMailId, @data_test_selector = "txtNewsLetterEmail", @title = "Your Email Address" })
                    <span class="input-group-btn">
                        <button class="btn btn_search btn-bg-primary" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();" data-test-selector="btnNewsLetterSignUp" style="margin-left: 10px" title="Subscribe">Subscribe</button>
                    </span>
                </div>
            }
            <p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
        </div>
    </div>


    @*Code For Signup by KV
@*<style>

        .link,
        .link a,
        .signupframe {
            color: #ED18D0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
        }

            .link,
            .link a {
                text-decoration: none;
            }

        .signupframe {
            border: 1px solid #000000;
            background: #ffffff;
        }

            .signupframe .required {
                font-size: 10px;
            }
    </style>*@

@* //** NIVI Code **//*@
@*<div style=" display :none ">
    <form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup6383" accept-charset="UTF-8">
        @*<input type="hidden" name="redirect" value="http://www.awishcometrue.com/cgi-bin/team/cp-app.cgi?&amp;amp;amp;amp;amp;amp;pg=ste_maillist_confirm">*@
@*<input type="hidden" name="errorredirect" value="https://www.icontact.com/www/signup/error.html">*@
@*<input type="hidden" name="redirect" value="http://localhost:3288">*@
@*<input type="hidden" name="redirect" value="http://awishcometrue.com/">

        <div id="SignUp">
            <table width="260" class="signupframe" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td valign="top" align="right">
                        <span class="required">*</span> Email
                    </td>
                    <td align="left">
                        <input type="text" name="fields_email" id="fields_email">
                    </td>
                </tr>

                <input type="hidden" name="listid" value="89212">
                <input type="hidden" name="specialid:89212" value="HMT7">

                <input type="hidden" name="clientid" value="267769">
                <input type="hidden" name="formid" value="6383">
                <input type="hidden" name="reallistid" value="1">
                <input type="hidden" name="doubleopt" value="0">

                <tr>
                    <td> </td>
                    <td><input id="btnicontactsubmit" type="submit" name="Submit" value="Submit"></td>
                </tr>
            </table>
        </div>
    </form>
        </div>*@

@*<script type="text/javascript">

        var icpForm6383 = document.getElementById('icpsignup6383');

        if (document.location.protocol === "https:")

            icpForm6383.action = "https://app.icontact.com/icp/signup.php";


        function validDate6383(value) {

            if (value == "") {
                return true;
            }

            var dateSections = value.split('/');
            if (dateSections.length != 3) {
                return false;
            }

            var month = dateSections[0];
            if (month && (month.length > 2 || month < 1 || month > 12)) {
                return false;
            }

            var day = dateSections[1];
            if (day && (day.length > 2 || day < 1 || day > 31)) {
                return false;
            }

            var year = dateSections[2];
            if (!year || (year && year.length != 4)) {
                return false;
            }

            var dateValue = new Date(value);
            if (month != (dateValue.getMonth() + 1) || day != dateValue.getDate() || year != dateValue.getFullYear()) {
                return false;
            }

            return true;
        }
    </script>*@

<script type="text/javascript" src="//app.icontact.com/icp/static/form/javascripts/validation-captcha.js"></script>

<script type="text/javascript" src="//app.icontact.com/icp/static/form/javascripts/tracking.js"></script>

<link rel="stylesheet" type="text/css" href="//app.icontact.com/icp/static/human/css/signupBuilder/formGlobalStyles.css">

<style type="text/css" id="signupBuilderAdvancedStyles">
</style>

<style type="text/css" id="signupBuilderStyles">
    #ic_signupform .elcontainer {
        background: #ffffff;
        text-align: left;
        max-width: 450px;
        padding: 30px 30px;
        border-radius: 3px;
        border: 1px solid #acacac;
        font-size: 12px;
        color: #5a5a5e;
        font-family: lucida grande;
    }

        #ic_signupform .elcontainer.center-aligned .formEl {
            margin-right: auto;
            margin-left: auto;
        }

        #ic_signupform .elcontainer.right-aligned .formEl {
            margin-left: auto;
        }

    #ic_signupform .form-header {
        background: #ffffff;
        margin-top: -30px;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 30px; /* using padding on purpose */
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
        text-align: center;
        font-size: 150%;
        color: #333333;
        border-bottom: 1px solid #dddddd;
    }

    #ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-input label,
    #ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-dropdown label,
    #ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-radio h3,
    #ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-checkbox h3,
    #ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-input label,
    #ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-dropdown label,
    #ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-radio h3,
    #ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-checkbox h3 {
        width: 30%;
    }

    #ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-radio h3,
    #ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-checkbox h3,
    #ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-radio h3,
    #ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-checkbox h3 {
        line-height: 3em;
    }

    #ic_signupform .elcontainer.tight.inline-label-left .formEl.fieldtype-radio h3,
    #ic_signupform .elcontainer.tight.inline-label-left .formEl.fieldtype-checkbox h3,
    #ic_signupform .elcontainer.tight.inline-label-right .formEl.fieldtype-radio h3,
    #ic_signupform .elcontainer.tight.inline-label-right .formEl.fieldtype-checkbox h3 {
        line-height: 2em;
    }

    #ic_signupform .elcontainer.generous.inline-label-left .formEl.fieldtype-radio h3,
    #ic_signupform .elcontainer.generous.inline-label-left .formEl.fieldtype-checkbox h3,
    #ic_signupform .elcontainer.generous.inline-label-right .formEl.fieldtype-radio h3,
    #ic_signupform .elcontainer.generous.inline-label-right .formEl.fieldtype-checkbox h3 {
        line-height: 4em;
    }

    #ic_signupform .elcontainer.inline-label-left .formEl input[type="text"],
    #ic_signupform .elcontainer.inline-label-left .formEl select,
    #ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-radio .option-container,
    #ic_signupform .elcontainer.inline-label-left .formEl.fieldtype-checkbox .option-container,
    #ic_signupform .elcontainer.inline-label-right .formEl input[type="text"],
    #ic_signupform .elcontainer.inline-label-right .formEl select,
    #ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-radio .option-container,
    #ic_signupform .elcontainer.inline-label-right .formEl.fieldtype-checkbox .option-container {
        width: 70%;
    }

    #ic_signupform .elcontainer.hidden-label .formEl.required:before {
        color: #bdbdbf;
    }

    #ic_signupform .elcontainer .formEl {
        font-size: 1em;
    }

        #ic_signupform .elcontainer .formEl.fieldtype-input label,
        #ic_signupform .elcontainer .formEl.fieldtype-dropdown label,
        #ic_signupform .elcontainer .formEl.fieldtype-radio h3,
        #ic_signupform .elcontainer .formEl.fieldtype-checkbox h3 {
            font-size: 100%;
            font-weight: bold;
            color: #5a5a5e;
        }

        #ic_signupform .elcontainer .formEl.fieldtype-input input[type="text"],
        #ic_signupform .elcontainer .formEl.fieldtype-dropdown select {
            background-color: #f5f5f5;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
        }

        #ic_signupform .elcontainer .formEl.fieldtype-input input[type="text"],
        #ic_signupform .elcontainer .formEl.fieldtype-dropdown select,
        #ic_signupform .elcontainer .formEl.fieldtype-radio label,
        #ic_signupform .elcontainer .formEl.fieldtype-checkbox label {
            font-size: 100%;
        }

        #ic_signupform .elcontainer .formEl input[type="text"]::-moz-placeholder {
            color: #bdbdbf;
            font-family: inherit;
        }

        #ic_signupform .elcontainer .formEl input[type="text"]::-webkit-input-placeholder {
            color: #bdbdbf;
            font-family: inherit;
        }

        #ic_signupform .elcontainer .formEl input[type="text"]:-ms-input-placeholder {
            color: #bdbdbf;
            font-family: inherit;
        }

        #ic_signupform .elcontainer .formEl input[type="text"],
        #ic_signupform .elcontainer .formEl select,
        #ic_signupform .elcontainer .formEl .option-container label {
            color: #bdbdbf;
            font-family: inherit;
        }

    #ic_signupform .elcontainer.inline-button .submit-container {
        display: inline-block;
        box-sizing: border-box;
        right: -.5em;
        padding: 0 1em 0 0;
        position: relative;
        vertical-align: bottom;
        margin-bottom: 1em;
    }

    #ic_signupform .elcontainer.inline-button.tight .sortables {
        margin-bottom: -.5em;
    }

    #ic_signupform .elcontainer.inline-button .sortables {
        margin-bottom: -1em;
    }

    #ic_signupform .elcontainer.inline-button.generous .sortables {
        margin-bottom: -1.5em;
    }

    #ic_signupform .elcontainer .submit-container {
        text-align: center;
    }

        #ic_signupform .elcontainer .submit-container input[type="submit"] {
            background: #e7cd4d;
            border: 0px solid #e7ce4d;
            border-radius: 10px;
            line-height: 1em;
            padding: 10px 25px;
            color: #ffffff;
            font-size: 100%;
            font-family: inherit;
            width: auto;
        }
</style>
<script type="text/javascript" src="//app.icontact.com/icp/core/mycontacts/signup/designer/form/automatic?id=0&cid=267769&lid=42770"></script>
<form id="ic_signupform" captcha-key="6LeCZCcUAAAAALhxcQ5fN80W6Wa2K3GqRQK6WRjA" captcha-theme="light" new-captcha="true" method="POST" action="https://app.icontact.com/icp/core/mycontacts/signup/designer/form/?id=0&cid=267769&lid=42770"><div class="elcontainer normal inline-label-left left-aligned"><div class="form-header"><h3>Form Heading</h3></div><div class="sortables"><div class="formEl fieldtype-input required" data-validation-type="1" data-label="Email" style="display: inline-block; width: 100%;"><label>Email<span class="indicator required">*</span></label><input type="text" placeholder="" name="data[email]" id="fields_email"></div><div class="formEl fieldtype-checkbox required" dataname="listGroups" data-validation-type="1" data-label="Lists" style="display: none; width: 100%;"><h3>Lists<span class="indicator required">*</span></h3><div class="option-container"></div></div><div class="submit-container"><input type="submit" value="Submit" class="btn btn-submit" id="btnicontactsubmit"></div></div><div class="hidden-container"></div></div></form><img src="//app.icontact.com/icp/core/signup/tracking.gif?id=null&cid=267769&lid=42770"/>
