﻿@using Znode.Engine.Admin.ViewModels
@model AddressViewModel

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmCreateUpdateUserAddress" };
}

<div id="divCustomerAddressPopup">
    <div id="aside-popup-panel">

        @using (Ajax.BeginForm("ChangeCustomerAddress", controllerName, new AjaxOptions() { HttpMethod = "post",OnBegin= "Order.prototype.ShowLoader()", OnSuccess = "Order.prototype.ChangeAddressSuccessCallback" }, new { @id = "frmUserAddress" }))
        {
            <div class="col-sm-12 nopadding">
                <div class="col-sm-12 title-container">
                    <h1 data-test-selector="hdgCustomerAddress">@Admin_Resources.LabelCustomerAddress</h1>
                    <div class="pull-right btn-container">
                        <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('addressDetails')" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                        <div class="pull-right padding-left">
                            <button type="submit" class="btn-text btn-text-secondary" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                        </div>
                    </div>
                </div>
                <div  id="asidePannelmessageBoxContainerId" style="display:none">
                    <div class=" col-sm-12 text-center error-msg " style="position:relative;"></div>
                </div>
                <div class="col-sm-12 page-container">
                    @if (Model?.UsersAddressNameList?.Count > 0)
                    {
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                <div class="control-label">
                                    <label data-test-selector="lblSelectCustomerAddress">@Admin_Resources.LabelSelectCustomerAddress</label>
                                </div>
                                <div class="control-md">
                                    @Html.DropDownListFor(model => model.AddressId, Model.UsersAddressNameList, new { @id = "UsersAddressNameList", @Onchange = "Order.prototype.GetUserAddressBySelectedAddress(this);", @data_test_selector = "drpSelectCustomerAddress" })
                                </div>
                            </div>
                        </div>
                    }
                    <div id="addressDiv">
                        @{
                            Html.RenderPartial("~/Views/Account/_Address.cshtml", Model);}
                    </div>
                </div>

                @Html.HiddenFor(model => model.SelectedBillingId)
                @Html.HiddenFor(model => model.SelectedShippingId)
                @Html.HiddenFor(model => model.PortalId)
                @Html.HiddenFor(model => model.IsShippingAddressChange)
            </div>
                            }
    </div>
</div>
<script>
    $(document).ready(function () {
        Order.prototype.CustomerAddressViewHandler($("#hdnIsShipping").val());
    });
</script>
@Scripts.Render("~/bundles/jqueryval")
