﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@model CMSWidgetsListViewModel
<div class="preview-btn-container">
    <input type="hidden" id="hdnPreviewUrl" value="@Model.PreviewUrl" />
    <button id="btnPreviewUrl" data-test-selector="btnPreviewUrl" onclick="javascript:window.open('@Model.PreviewUrl/@Model.ParentContentPageSEOUrl','_blank');" class="btn-text-icon"><strong><i class='z-preview'></i>@Admin_Resources.LabelLaunchPreview</strong></button>
    <button id="btnProductionUrl" data-test-selector="btnProductionUrl" onclick="javascript:window.open('@Model.ProductionUrl/@Model.ParentContentPageSEOUrl','_blank');" class="btn-text-icon"><strong><i class='z-preview'></i>@Admin_Resources.LabelLaunchProduction</strong></button>
</div>
<iframe src="@Model.PreviewUrl/@Model.ParentContentPageSEOUrl?preview=preview" id="iframePreview" width="100%" height="800" scrolling="no" style="border:none;"></iframe>

<script type="text/javascript">
    $(document).ready(function () {
        Content.prototype.ShowPreviewNotification();
    })
</script>
<script>   
   $(document).ready(function () {
       $("#iframePreview").each(function () {
           $(this).attr("src", $(this).attr("src").replace("http://", "https://"));
       });
   });
</script>

