﻿@model Znode.WebStore.Custom.ViewModel.QuoteViewModel

<div class="container-fluid">
    <div class="col-xs-12 login-container mobile-no-padding">
        <div class="col-xs-12 nopadding inner-container">
            <h1 class="page-title">Quote Lookup</h1>
            <p class="margin-bottom margin-top">Please complete the information below to lookup your quote.</p>
            <div class="col-xs-12 col-sm-6 col-md-6 nopadding">
                @using (Html.BeginForm("GetGuestQuoteReceipt", "Quote", FormMethod.Post))
                {
                    <div class="col-xs-12 col-sm-12 col-md-8 kmirrort nopadding">
                        <div class="col-xs-12 nopadding backbackgroundset Setbordernone">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.QuoteNumber, new { @data_test_selector = "QuoteNumber", @class = "floating-input", @placeholder = "Quote Number *",@required="required" })
                                    <p class="error-msg" data-test-selector="lblQuoteNumberErrMsg">@Html.ValidationMessageFor(m => m.QuoteNumber)</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.EmailId, new { @data_test_selector = "EmailQuote", @class = "floating-input", @placeholder = "Email Address on Quote *", @required = "required" })
                                    <p class="error-msg" data-test-selector="lblEmailAddressErrMsg">@Html.ValidationMessageFor(m => m.EmailId)</p>
                                </div>
                            </div>
                            <div class="col-xs-12 margin-top">
                                <button type="submit" class="btn-text-login btn-bg-primary" onclick="return Quote.prototype.ValidateQuote();">Submit</button>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
