﻿<div class="col-12 col-lg-5 p-0 ml-auto receipt-item-list shopping-cart pull-right margin-top">

    <div class="col-12 cart-total mt-4 cart-summary receipt-totals">
        <div class="form-group">
            <div class="row no-gutters">
                <div class="col-xs-8">@WebStore_Resources.ColumnSubTotal</div>
                <div class="col-xs-4 pr-3 pr-md-5" data-test-selector="divSubtotal">@Helper.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</div>
            </div>
        </div>
        @if (Model.TaxCost > 0)
        {
            <div class="form-group">
                <div class="row no-gutters">
                    <div class="col-xs-8">@WebStore_Resources.ColumnTax</div>
                    <div class="col-xs-4 pr-3 pr-md-5" data-test-selector="divTaxCost">@Helper.FormatPriceWithCurrency(Model.TaxCost, Model.CultureCode)</div>
                </div>
            </div>
        }
        @if (Model.ShippingCost > 0)
        {
            <div class="form-group">
                <div class="row no-gutters">
                    <div class="col-xs-8">@WebStore_Resources.LabelShippingCost </div>
                    <div class="col-xs-4 pr-3 pr-md-5" data-test-selector="divShippingCost">@Helper.FormatPriceWithCurrency(Model.ShippingCost, Model.CultureCode)</div>
                </div>
            </div>
        }
        <div class="form-group total receipt-total">
            <div class="row no-gutters">
                <div class="col-xs-8"><h2>@WebStore_Resources.ColumnOrderTotal</h2></div>
                <div class="col-xs-4 pr-3 pr-md-5" data-test-selector="divOrderTotal"><h2>@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.QuoteTotal), Model.CultureCode)</h2></div>
            </div>
        </div>
    </div>

</div>

