﻿@model Znode.Engine.WebStore.ViewModels.HighlightsViewModel
<div class="container-fluid">
    <div class="col-xs-12">
        <div id="kskin_main" class="bio-certified product-view-details main-wrapper">
            <div id="highlightInfo">
                <div class="location"><h3 class="location-title">@Model.HighlightName</h3></div>
                <div class="margin-top margin-bottom">@Html.RenderBlock(Model.Description)</div>
            </div>
                <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">@WebStore_Resources.BackNavigation</a>
            </div>
     </div>
</div>
