﻿@model Znode.Engine.WebStore.Models.GridPagerModel

<div class="pagination">
    <div class="paginationContent">
        <div class="PageLimit page-limit pull-left">
            <a id="first" href="javascript:void(0)" class="first hidden-xs"><i class="zf-backward" data-toggle="tooltip" data-placement="top" title="First"></i></a>
            <a id="previousPage" href="javascript:void(0)" class="Previous hidden-xs"><i class="zf-first" data-toggle="tooltip" data-placement="top" title="Previous Page"></i></a>
            <span> @Admin_Resources.LabelPage </span>
            @Html.TextBox("pagerTxt", null, new { @class = "pagerTxt", autocomplete = "off" })
            <span class="LowerCase">/ @Model.PageCount&nbsp;</span>
            <a id="nextPage" href="javascript:void(0)" class="Next hidden-xs"><i class="zf-last" data-toggle="tooltip" data-placement="top" title="Next Page"></i></a>
            <a id="last" href="javascript:void(0)" class="last hidden-xs"><i class="zf-forward" data-toggle="tooltip" data-placement="top" title="Last"></i></a>
        </div>
        <div class="ShowPerPage show-per-page pull-left">
            <span> @Admin_Resources.LabelShow </span>@Html.DropDownListFor(ob => ob.PageSize, Model.PageSizeOptions, new { @class = "pageSizeList", id = "pageSizeList" })<span> @Admin_Resources.LabelPerPage </span>&nbsp;|&nbsp;
            <a href="#" id="refreshGrid"><i class="zf-refresh" data-toggle="tooltip" data-placement="top" title="Refresh"></i></a>
        </div>
    </div>
</div>
@Html.HiddenFor(x => x.PageIndex)
@Html.HiddenFor(x => x.PageCount)
@Html.HiddenFor(x => x.PageSize)
@Html.HiddenFor(x => x.RecordPerPageFieldName)
@Html.HiddenFor(x => x.PageFieldName)
@Html.HiddenFor(x => x.Sort)
@Html.HiddenFor(x => x.SortDir)
@Html.HiddenFor(x => x.SortFieldName)
@Html.HiddenFor(x => x.SortDirFieldName)
<script type="text/javascript">
    PageIndex = parseInt('@Model.PageIndex');
    PageCount = parseInt('@Model.PageCount');
    PageSize = '@Model.PageSize';
    RecordPerPageFieldName = '@Model.RecordPerPageFieldName';
    PageFieldName = '@Model.PageFieldName';
    Sort = '@Model.Sort';
    SortDir = '@Model.SortDir';
    SortFieldName = '@Model.SortFieldName';
    SortDirFieldName = '@Model.SortDirFieldName';
</script>