﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
<div class="col-12 b2b-block">
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", new { isGiftCard = true }, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('giftcard')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyGiftCard" })
                        )
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            <div class="col-12 block-content">
                <div class="block-items-title">
                    @WebStore_Resources.LabelGiftCardNumber
                </div>
                <div id="cart-apply-giftCard" class="d-flex flex-wrap flex-md-nowrap block-items">
                    <div class="shipping-estimator-input row">
                        <div class="col-12 col-sm-6 pr-sm-2">
                            <input type="text" id="giftCard" name="discountCode" value="@Model.GiftCardNumber" class="mr-md-3" />
                        </div>
                        <div class="col-12 col-sm-6 mt-2 mt-sm-0 px-md-1">
                            <button type="submit" class="btn btn-secondary">@WebStore_Resources.ButtonApply</button>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    }
    <div id="giftCardMessageContainer" class="px-3"></div>
</div>