﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Helpers;
@model Znode.Engine.WebStore.ViewModels.CheckoutViewModel

@{
    string _display = Convert.ToString(Request.QueryString["mode"]) == "guest" ? Model.UserId < 1 ? "display:block;" : "display:none;" : "display:none;";
    bool enablePerOrderlimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderLimit)?.AttributeValue);
    bool enableUserOrderAnnualLimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderAnnualLimit)?.AttributeValue);
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    string cultureCode = PortalAgent.CurrentPortal.CultureCode;
    string perOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.PerOrderLimit, cultureCode);
    string annualOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.AnnualOrderLimit, cultureCode);
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isRegistered = User.Identity.IsAuthenticated;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    Layout = @_fileLocation + "/Views/Shared/_Layout-Checkout.cshtml";
}


<div id="divSinglePageCheckout" class="main-wrapper">
    <div class="container">
        <div class="row single-page-checkout">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="lblCheckoutHeading">Checkout</h1>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-md-8 nopadding shipping-address">
                    <div class="col-xs-12 nopadding">
                        @{ Html.RenderAction("AccountAddress", "Checkout");}
                        <div style="@_display">
                            @Ajax.ActionLink("Existing Customer Login", "Login", "User", null,
                                 new AjaxOptions
                                 {
                                     UpdateTargetId = "address-popup-content",
                                     InsertionMode = InsertionMode.Replace,
                                     HttpMethod = "GET",
                                     OnBegin = "$('.address-popup').modal('hide');",
                                     OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                                 }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup" })
                        </div>
                        <div style="@_display">
                            @Ajax.ActionLink("Create an account for later use", "Signup", "User", null,
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "address-popup-content",
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnBegin = "$('.address-popup').modal('hide');",
                                            OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                                        }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup" })
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding shipping-method checkout-box margin-bottom" id="dvShippingOptions">
                        <h3 class="title">@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>
                        <div id="loaderId"></div>
                    </div>

                    <div class="col-xs-12 nopadding signle-page-payment checkout-box margin-bottom">
                        @{ Html.RenderAction("PaymentOptions", "Checkout");}
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 nopadding">
                    <div class="col-xs-12 review-order nopadding" id="cart-review-content">
                        @{
                            if (Model.ShippingId > 0)
                            {
                                Html.RenderAction("CartReview", "Checkout", new { shippingOptionId = Model.ShippingId });
                            }
                            else
                            {
                                Html.RenderAction("CartReview", "Checkout");
                            }
                        }
                        @*<div class="form-group margin-top">
                            @Html.Partial("_DataCapture", "checkout")
                        </div>*@

                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.QuoteId)
        @Html.HiddenFor(m => m.OrderStatus)
        @Html.HiddenFor(m => m.PermissionCode)
        @Html.HiddenFor(m => m.RoleName)
        @Html.HiddenFor(m => m.ShippingId)
        @Html.HiddenFor(model => model.CreditCardNumber, new { @id = "hdnCreditCardNumber" })
        @Html.Hidden("EnablePerOrderlimit", enablePerOrderlimit)
        @Html.Hidden("EnableUserOrderAnnualLimit", enableUserOrderAnnualLimit)
        @Html.Hidden("PerOrderLimit", userViewModel?.PerOrderLimit)
        @Html.Hidden("AnnualOrderLimit", userViewModel?.AnnualOrderLimit)
        @Html.Hidden("AnnualBalanceOrderAmount", userViewModel?.AnnualBalanceOrderAmount)
        @Html.Hidden("PerOrderLimitWithCurrency", perOrderLimitWithCurrency)
        @Html.Hidden("AnnualOrderLimitWithCurrency", annualOrderLimitWithCurrency)
        @Html.HiddenFor(m => m.IsRequireApprovalRouting)
        @Html.HiddenFor(m => m.EnableApprovalRouting)
        @Html.Hidden("hdnPortalId", portalId)
        @Html.HiddenFor(m => m.OrderLimit)

        <!-- Modal -->
        <div class="modal fade" id="PaymentModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog compare-product-popup">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" data-test-selector="lblPaymentApplMsg">@WebStore_Resources.LabelPaymentApplication</h4>
                    </div>
                    <div class="modal-body">
                        <p data-test-selector="lblPaymentMethodMsg">@WebStore_Resources.TextPaymentMethod</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Error Payment Modal-->
        <div class="modal fade" id="ErrorPaymentModal" role="dialog">
            <div class="modal-dialog compare-product-popup">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                        <h4 class="modal-title" data-test-selector="lblPaymentApplErrMsg">@WebStore_Resources.LabelPaymentApplication</h4>
                    </div>
                    <div class="modal-body">
                        <p data-test-selector="lblPaymentMethodErrMsg"></p>
                        <div class="col-xs-12 margin-top-bottom nopadding">
                            <div class="pull-right">
                                <button data-test-selector="btnPaymentOk" type="button" class="btn-text btn-bg-primary btn" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Address Popup-->
    <div class="modal fade address-popup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="" id="address-popup-content">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            Checkout.prototype.ShippingOptions()
            Checkout.prototype.CalculateShipping("");
            $(".cart-item-remove").remove();
        });
        $(document).off("click", "#address-popup-content .close");
        $(document).on("click", "#address-popup-content .close", function () {
            location.reload();
        });
    </script>
