﻿@using Znode.Engine.WebStore.ViewModels
@model List<AssociatedProductsViewModel>
    @{
    Layout = null;
    }
    <div id="product-highlights">
        <ul class="product-highlight-list">
            @if (!Equals(Model, null))
            {
            foreach (AssociatedProductsViewModel highlight in Model)
            {

            <li>
                @if (highlight.OMSColorCode=="False")
                {
                <a href="../Product/GetHighlightInfo?highLightId=@highlight.PimProductId&productId=@highlight.PublishProductId&sku=''" id="highlightInfo">
                    <img title="@highlight.OMSColorSwatchText" src="@highlight.OMSColorPath" onclick="javascript:void(0)" class="" alt="@highlight.OMSColorSwatchText"/>
                </a>
                }
                else
                {
                <a href="@highlight.OMSColorValue" target="_blank">
                    <img title="@highlight.OMSColorSwatchText" src="@highlight.OMSColorPath" class="" alt="@highlight.OMSColorSwatchText"/>
                </a>
                }
            </li>
            }
            }
        </ul>
    </div>
    <script>
        jQuery('img').bind('error', function (e) {
            this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
        });
    </script>






