﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels

@{
var _portal = PortalAgent.CurrentPortal;
string _fileLocation = $"/Views/Themes/{_portal.Theme}";

bool isLiteVersion = false;
if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }

string defaultPrdImg = Model.ImageMediumPath;
string defaultorgImg = Model.ImageLargePath;
int indexnew = Model.ImageLargePath.LastIndexOf('/');
string ProductorgImage = Model.ImageLargePath.Substring(indexnew + 1);
defaultPrdImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;
defaultorgImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;
if (Model.AlternateImages.Where(x => x.FileName == "IsDefaultImage").Count() > 0)
{
ProductorgImage = Model.AlternateImages.Where(x => x.FileName == "IsDefaultImage")?.FirstOrDefault().ImageLargePath;
indexnew = ProductorgImage.LastIndexOf('/');
ProductorgImage = ProductorgImage.Substring(indexnew + 1);
//defaultPrdImg = Model.AlternateImages.Where(x => x.ImageThumbNailPath == "IsDefaultImage")?.FirstOrDefault().ImageLargePath;
//defaultorgImg = Model.AlternateImages.Where(x => x.ImageThumbNailPath == "IsDefaultImage")?.FirstOrDefault().OriginalImagePath
defaultPrdImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;
defaultorgImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;
}
/*Nivi Code start for On PDP Images are getting duplicated for 15091*/
    List<ProductAlterNateImageViewModel> distinctArray = new List<ProductAlterNateImageViewModel>();
    List<string> distinctimage = new List<string>();
    foreach (var element in Model.AlternateImages)
    {
        if (!distinctimage.Contains(element.ImageLargePath))
        {
            distinctimage.Add(element.ImageLargePath);
            distinctArray.Add(element);
        }
    }
    /*Nivi Code end for On PDP Images are getting duplicated for 15091*/
}

<div class="row margin-top-bottom">
<!-- Vertical slider Desktop-->

<div id="RenderDesktopPdp">
<div class="col-sm-2 item nopadding" id="slider-thumbs">
<div class="col-xs-12 nopadding product-altimages">
@if (isLiteVersion)
{
@Ajax.Partial("AlternateImages", "AlternateProductImages", "Product", new { id = ViewBag.ProductId, expands = "ProductImage", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState })
}
else
{
<ul class="hide-bullets ZoomImg" id="img-repo">
@foreach (var galimg in distinctArray)
{  
						
int index = 0;
index = galimg.ImageSmallPath.LastIndexOf('/');
string ProductImage =galimg.ImageSmallPath.Substring(index + 1);
string imagePath = PortalAgent.CurrentPortal.MediaServerUrl + ProductImage;
//This code is wriiten to handle mutiple Url.
string[] VideoPaths = galimg.ImageLargePath?.Split(',');
if (galimg.FileName == "videoThumb" && VideoPaths != null)
{
<li class="col-sm-12 nopadding col-xs-4 mobile-no-padding SlideSVG">
<a href="#myModal" class="thumbnail video" data-target="#videoModal" data-toggle="modal" data-video="@VideoPaths[0]" title="@Html.RenderBlock(Model.Name)">
<img src="@imagePath" class="img-responsive" alt="@Html.RenderBlock(Model.Name)"/>
</a>
</li>
}
else if(galimg.FileName != "videoThumb")
{
<li class="item col-sm-12 nopadding col-xs-4 mobile-no-padding SlideSVG" id="image-1">
<a onclick="ChangeImage('@galimg.OriginalImagePath','@galimg.OriginalImagePath')" href="@galimg.OriginalImagePath" title="@Html.RenderBlock(Model.Name)">
<img src=@imagePath class="img-responsive thumbnail" alt="@Html.RenderBlock(Model.Name)">
</a>
</li>
}
}
</ul>
}
</div>
</div>
</div>

<!-- Right side Image Desktop and Mobile-->
<div class="col-sm-10 col-xs-12 image-view mobile-no-padding nopadding">
<div class="col-xs-12 mobile-no-padding" id="slider">
<div>
<div class="col-sm-12 mobile-no-padding nopadding" id="carousel-bounding-box">
<div class="carousel slide" id="myCarousel">
<div class="simpleLens-gallery-container active item" id="ImageZoom" data-slide-number="0">
<div class="simpleLens-container">
@if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
{
<img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
}
<div class="simpleLens-big-image-container image-view">
<div class="easyzoom easyzoom-overlay easyzoom-with-thumbnails abc" id="image-1">
<a id="product-lens-image" href="@defaultorgImg" class="easyzoom-img" title="@Html.RenderBlock(Model.Name)">
<img id="product-image" src="@defaultPrdImg" data-src="@defaultPrdImg" class="img-responsive" alt="@Html.RenderBlock(Model.Name)"/>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- Horizontal slider PDP Image Mobile View--> 
<div class="margin-top visible-xs" style="width:auto;padding: 0 20px 0 20px;">
<div id="Rendermobilepdp"></div>
@if (Model.AlternateImages.Count > 3)
{
<a class="left" onclick="plusDivs(-1)">&#10094;</a>
<a class="right" onclick="plusDivs(1)">&#10095;</a>
}
</div>
	
</div>
<!--Show Video Modal-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm">
<div class="modal-content">
<div class="modal-header">
<button class="close" type="button" data-dismiss="modal">×</button>
<h4 class="modal-title">Video</h4>
</div>
<div class="modal-body">
<div class="col-xs-12 nopadding">
<div class="videomodal text-center">
<iframe width="270" height="480" src="" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Show Image Modal Desktop View-->
<div class="modal hidden-xs" id="modal-gallery" role="dialog">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<button class="close closeset" type="button" data-dismiss="modal" style="position:static">×</button>
<div class="modal-body">
<div id="modal-carousel" class="carousel">
<div class="carousel-inner"></div>
<a class="left text-primary" href="#modal-carousel" data-slide="prev"  style="top: 50%;">&#10094;</a>
<a class="right text-primary" href="#modal-carousel" data-slide="next" style="top: 50%;">&#10095;</a>
</div>
</div>
</div>
</div>
</div>

<script>
$(document).ready(function () {
screen.width > 600 ? $("#RenderDesktopPdp").append($("#slider-thumbs")) : $("#Rendermobilepdp").append($("#slider-thumbs"))
});
</script>

<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/easyzoom.js")"></script>
<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>
<!--Product Zoom Effect-->
<script>
$(function () { $("#ImageZoom .simpleLens-thumbnails-container img").simpleGallery(), $("#ImageZoom .simpleLens-big-image").simpleLens(), $(".Product_Altimages").owlCarousel({ autoPlay: !1, navigation: !0, items: 4, itemsCustom: [[0, 1], [320, 4], [480, 4], [600, 4], [768, 6], [992, 5], [1200, 6]], navigationText: ["<i class='zf-arrow-left-big'></i>", "<i class='zf-arrow-right-big'></i>"] }) });
</script>
<script>
//$("Product_Altimages").owlCarousel({ autoPlay: !0, navigation: !0, items: 4, itemsCustom: [[0, 2], [320, 4], [480, 4], [600, 4], [768, 6], [992, 5], [1200, 4]], navigationText: ["<i class='zf-arrow-left-big'></i>", "<i class='zf-arrow-right-big'></i>"] });

jQuery(document).ready(function (e) { e("#myCarousel").carousel({ interval: !1 }), e("[id^=carousel-selector-]").click(function () { var l = e(this).attr("id"); try { var o = /-(\d+)$/.exec(l)[1]; console.log(l, o), jQuery("#myCarousel").carousel(parseInt(o)) } catch (e) { console.log("Regex failed!", e) } }), e("#myCarousel").on("slid.bs.carousel", function (l) { var o = e(".item.active").data("slide-number"); e("#carousel-text").html(e("#slide-content-" + o).html()) }) 
// For vertical carusal Image in Desktop to left	
$('#slider-thumbs li').attr('style', '');
});

function ChangeImage(t, a) { $("#product-image").attr("src", t), $("#product-lens-image").attr("href", a) }

var $easyzoom = $(".easyzoom").easyZoom(), api1 = $easyzoom.filter(".easyzoom-with-thumbnails").data("easyZoom");

$(".item").on("click", "a", function (a) { var t = $(this); a.preventDefault(), api1.swap(t.data("standard"), t.attr("href")) });

$(function () { $(".video").click(function () { var t = $(this).data("target"), a = $(this).attr("data-video"), i = a + "?modestbranding=1&rel=0&controls=0&showinfo=0&html5=1&autoplay=0"; $(t + " iframe").attr("src", i), $(t + " button.close").click(function () { $(t + " iframe").attr("src", a) }) }) });

</script>
<!-- Show Image Modal Desktop View Script-->
<script>
$(document).ready(function () {
$("#modal-carousel").carousel({ interval: !1 }), $("#modal-carousel").on("slid.bs.carousel", function () { $(".modal-title").html($(this).find(".active img").attr("title")) }),
$(".row .abc").click(function () {
var t = $(".carousel-inner"), l = $(".modal-title"); t.empty();
//l.empty();
var a = this.id, i = $("#img-repo .item").filter("#" + a).clone(), e = i.first(); e.addClass("active"),
l.html(e.find("img").attr("title")), t.append(i), $("#modal-gallery").modal("show"),
// For  carusal Image  after click pdpImage open Modal in Desktop to left right carusal					
$('#modal-carousel li').attr('style', '');
})
});
</script>
<script>
var slideIndex = 3;
showDivs(slideIndex);
function plusDivs(n) {
showDivs(slideIndex += n);
}
function showDivs(n) {
var i;
var x = document.getElementsByClassName("SlideSVG");
if (n > x.length) { slideIndex = 1 }
if (n < 1) { slideIndex = x.length }
for (i = 0; i < x.length; i++) {
    /*Original Code*/
//x[i].style.display = "-webkit-box";
    /*Nivi Code start for all gallery images are not showing on PDP for left right navigation*/
    x[i].style.display = "none";
        /*Nivi Code end for all gallery images are not showing on PDP for left right navigation*/

    }
    /*Original Code*/
        //x[slideIndex - 1].style.display = "none";
        /*Nivi Code start for all gallery images are not showing on PDP for left right navigation*/
    x[slideIndex - 1].style.display = "-webkit-box";
    x[slideIndex].style.display = "-webkit-box";
    x[slideIndex + 1].style.display = "-webkit-box";
        /*Nivi Code end for all gallery images are not showing on PDP for left right navigation*/

}
</script>