﻿@using Znode.Engine.WebStore.Agents
@{
    int productId = Convert.ToInt32(ViewBag.ProductId);
    string _seo = Convert.ToString(ViewBag.Seo);
    bool _isQuickView = Convert.ToBoolean(ViewBag.IsQuickView);
bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
bool IsRequestValid = Request.IsAuthenticated;
<label id="IsLoginUser" hidden>@IsLoginUser</label>
 <label id="IsRequestValid" hidden>@IsRequestValid</label>
  
  try
    {
	Html.RenderAction("AWCTDetailsContent", "AWCTProduct", new { id = productId, seo = _seo, isQuickView = _isQuickView, publishState = PortalAgent.CurrentPortal.PublishState, isvalidrequest =  IsRequestValid  });
    //Html.RenderAction("BriefContent", "Product", new { id = productId, seo = _seo, isQuickView = _isQuickView, publishState = PortalAgent.CurrentPortal.PublishState });
    //Html.RenderAction("DetailsContent", "AWCTProduct", new { id = productId, seo = _seo, isQuickView = _isQuickView, publishState = PortalAgent.CurrentPortal.PublishState });
	}
	catch (Exception ex)
    {
        <label id="HiddenError" hidden>@ex.Message , StackTrace:@ex.StackTrace</label>
    }
	<!--Session Popup-->
    <div class="modal fade in" id="sessionPopup" role="dialog" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="User.prototype.LoginMethod()"><i class="zf-close"></i></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p></p><p style="padding:20px;">Your session timed out, please Login again.</p><p></p>
                </div>

                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" id="btn-cancel-popup" class="btn-text-icon btn-bg-tertiary" onclick="User.prototype.LoginMethod()"><i class="z-cancel"></i>Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {      
       var isLoginUser = $("#IsLoginUser").text();
       var isbecomecustomer = $(".becomeacustomer").text();
       //alert("isbecomecustomer=" + isbecomecustomer + ",isLoginUser=" + isLoginUser);
       if (isLoginUser == 'True' && isbecomecustomer != "") {            
           $("#PDPReview").hide();
           $("#divAddToCart").hide();
		   $("#CustomerLoginBox").show();
           $("#sessionPopup").modal("show");
		   console.log("logout called");
		   $.ajax({ url: "/CustomUser/Logout", type: "get", headers: { "cache-control": "no-cache", "Pragma": "no-cache" } }).done(function (t) {  });
       }
	   
	   //var productspresent = $("#categoryIds").val();
       //console.log("CheckReq:" + productspresent);

       //if (productspresent == "" || typeof (productspresent) == 'undefined') {            
          // window.location.reload();          
       //}
   });
</script>