﻿@using Znode.Engine.WebStore.ViewModels
@model IEnumerable<OrdersViewModel>

@if (Model.Any())
{

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@WebStore_Resources.TitleOrderNumber</th>
                    <th scope="col">@WebStore_Resources.TitleOrderStatus</th>
                    <th scope="col">@WebStore_Resources.TitlelPaymentStatus</th>
                    <th scope="col">@WebStore_Resources.TitleCreatedDate</th>
                    <th scope="col">@WebStore_Resources.TitleOrderTotal</th>
                    <th scope="col">@WebStore_Resources.TitleAction</th>
                </tr>
            </thead>
            <tbody>
                @foreach (OrdersViewModel order in Model)
                {
                    <tr>
                        <td>
                            <a href="/User/OrderReceipt?omsOrderId=@order.OmsOrderId">@order.OrderNumber</a>
                        </td>
                        <td>@order.OrderState</td>
                        <td>@order.PaymentStatus</td>
                        <td>@order.OrderDate.ToDateTimeFormat()</td>
                        <td>@order.Total</td>
                        <td>
                            <a href="/User/OrderReceipt?OmsOrderId=@order.OmsOrderId&portalId=@order.PortalId" class="remove-compare" onclick=""><span class="zf-view"></span></a>
                            <a href="/User/ReorderProducts?OmsOrderId=@order.OmsOrderId" class="cart-icon-block" onclick=""><span class="cart-icon"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-12 account-recent-orders">
        <div class="row">
            <div class="col-12 pl-2 py-4">
                <div class="b2b-recent-order-detail">@WebStore_Resources.TextNoOrders</div>
            </div>
        </div>
    </div>
}