﻿@{ 
    string _shippingTypeName = Model.ShippingTypeName;
}
<div class="col-12 cart-total mt-4 cart-summary receipt-totals">
    <div class="form-group">
        <div class="row no-gutters">
            <div class="col-6">@WebStore_Resources.ColumnSubTotal</div>
            <div class="col-6 pr-3 pr-md-5">@Helper.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</div>
        </div>
    </div>
    @if (Model.DiscountAmount != 0)
    {
        <div class="form-group">
            <div class="row no-gutters">
                <div class="col-6">@WebStore_Resources.ColumnDiscounts</div>
                <div class="col-6 pr-3 pr-md-5">@Helper.FormatPriceWithCurrency(0 - Model.DiscountAmount, Model.CultureCode)</div>
            </div>
        </div>
    }
    @if (Model.TaxCost > 0)
    {
        <div class="form-group">
            <div class="row no-gutters">
                <div class="col-6">@WebStore_Resources.ColumnTax</div>
                <div class="col-6 pr-3 pr-md-5">@Helper.FormatPriceWithCurrency(Model.TaxCost, Model.CultureCode)</div>
            </div>
        </div>
    }
    @if (Model.ShippingCost > 0)
    {
        <div class="form-group">
            <div class="row no-gutters">
                <div class="col-6">@WebStore_Resources.LabelShippingCost (@Html.RenderBlock(_shippingTypeName)) </div>
                <div class="col-6 pr-3 pr-md-5">@Helper.FormatPriceWithCurrency(Model.ShippingCost, Model.CultureCode)</div>
            </div>
        </div>
    }
    @if (Model.GiftCardAmount > 0)
    {
        <div class="form-group">
            <div class="row no-gutters">
                <div class="col-6">@WebStore_Resources.ColumnGiftCardAmount</div>
                <div class="col-6 pr-3 pr-md-5">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, Model.CultureCode)</div>
            </div>
        </div>
    }

    @if (Model.CSRDiscountAmount > 0)
    {
        <div class="form-group">
            <div class="row no-gutters">
                <div class="col-6">@WebStore_Resources.LabelCSRDiscountAmount</div>
                <div class="col-6 pr-3 pr-md-5">@Helper.FormatPriceWithCurrency(0 - Convert.ToDecimal(Model.CSRDiscountAmount), Model.CultureCode)</div>
            </div>
        </div>
    }
    <div class="form-group total receipt-total">
        <div class="row no-gutters">
            <div class="col-6"><h2>@WebStore_Resources.ColumnOrderTotal</h2></div>
            <div class="col-6 pr-3 pr-md-5"><h2>@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.Total), Model.CultureCode)</h2></div>
        </div>
    </div>
</div>
