﻿@model AutoComplete
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x => x.AttributeCode == "LoginRequired").Select(x => x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
}
<div class="quick-order-container quickordercontainer">
    <i class="f-size zf-quick-order order-link"></i><a data-hover="dropdown" class="quickOrder dropdown-toggle" data-test-selector="linkQuickOrder">@WebStore_Resources.HeaderQuickOrder</a>
                                                    <form id="addtocart-form" method="post" action="/Product/AddToCartProduct">

                                                        <input type="hidden" id="hdnQuickOrderProductId" name="ProductId" />
                                                        <input type="hidden" id="hdnQuickOrderProductName" name="ProductName" />
                                                        <input type="hidden" id="hdnQuickOrderSku" name="SKU" />
                                                        <input type="hidden" id="hdnInvetoryCode" name="InventoryCode" />
                                                        <input type="hidden" id="hdnQuickOrderProductType" name="ProductType" />
                                                        <input type="hidden" id="hdnQuickOrderCartQuantity" name="CartQuantity" />
                                                        <input type="hidden" id="hdnQuickOrderQuantityOnHand" name="QuantityOnHand" />
                                                        <input type="hidden" id="hdnQuickOrderInStockMessage" name="InStockMessage" />
                                                        <input type="hidden" id="hdnQuickOrderOutOfStockMessage" name="OutOfStockMessage" />
                                                        <input type="hidden" id="hdnQuickOrderInventoryMessage" name="InventoryMessage" />
                                                        <input type="hidden" id="hdnQuickOrderInventoryTracking" name="TrackInventory" />
                                                        <input type="hidden" id="hdnQuickOrderMinQty" name="MinQty" />
                                                        <input type="hidden" id="hdnQuickOrderMaxQty" name="MinQty" />
                                                        <input type="hidden" id="hdnQuickOrderCallForPricing" name="CallForPricing" />
                                                        <input type="hidden" id="hdnRetailPrice" name="RetailPrice" />
                                                        <input type="hidden" id="hdnIsPersonisable" name="IsPersonisable" />
                                                        <input type="hidden" id="hdnConfigurableProductSKUs" name="ConfigurableProductSKUs" />
                                                        <input type="hidden" id="hdnGroupProductSKUs" name="GroupProductSKUs" />
                                                        <input type="hidden" id="hdnGroupProductsQuantity" name="GroupProductsQuantity" />
                                                        <input type="hidden" id="hdnAutoAddonSKUs" name="AutoAddonSKUs" />
                                                        <input type="hidden" id="hdnIsObsolete" name="IsObsolete" />
                                                        @if (isLoginAuthorization == false || IsLoginUser == true)
                                                        {
                                                            <div class="dropdown-menu quick-order divQuickOrder">
                                                                <div class="close-quick-order-popup close"><i class="zf-close" data-test-selector="linkZfClose"></i></div>
                                                                <div class="col-xs-12">
                                                                    <div class="col-xs-10 col-sm-10 nopadding">
                                                                        @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetProductListBySKU", "Product", "QuickOrder.prototype.OnItemSelect", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.TextEnterSku, @class = "txtQuickOrderSku", @id = "hdnttxtSKU", @data_test_selector = "txtSKU" } })
                                                                    </div>
                                                                    <div class="col-xs-2 nopadding">
                                                                        @Html.TextBox("Quantity", null, new { @id = "txtQuickOrderQuantity", @class = "quantity txtQuickOrderQuantity", @placeholder = WebStore_Resources.ColumnTitleQty, @maxlength = 4, @onchange = "QuickOrder.prototype.OnQuantityChange(this)", @data_test_selector = "txtQuantityQuickOrder" })
                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-12">
                                                                    <div class="col-xs-6 nopadding">
                                                                        @Html.ActionLink(WebStore_Resources.LabelQuickOrderMultiplePartSku, "QuickOrderPad", "Product", null, new { @class = "multiple-sku", @data_test_selector = "linkMultipleSKU" })
                                                                    </div>
                                                                    <div class="col-xs-6 nopadding">
                                                                        <button class="btn-card btn-add-cart btn-bg-primary pull-right quickOrderAddToCart" id=btnQuickOrder onchange="QuickOrder.prototype.OnQuantityChange(this)" disabled="disabled" data-test-selector="btnQuickOrder"><i class="zf-cart"></i>@WebStore_Resources.ButtonAddToCart</button>
                                                                    </div>
                                                                    <p id="inventorymsg" class="error-msg"></p>
                                                                </div>
                                                            </div>
                                                        }
                                                    </form>
</div>
