﻿@using Znode.Engine.Admin.ViewModels
@model RobotsTxtViewModel
@{
    ViewBag.Title = Admin_Resources.TitleStoreAndReps + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = "SaveRobotsTxt", Controller = "Store", CancelUrl = "/Store/List", FormId = "formRobotsTxt", IsSaveCloseEnable = true };
    string storeName = @Model?.StoreName;
}

<div class="col-sm-12 title-container">
    <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelStore)<i class="z-minus"></i><span>@storeName</span></h1>
    <div class="pull-right">
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel)
        </div>
    </div>
</div>

<!--Main Container-->
<div id="TextWidgetConfigurationDiv" class="main-wrapper robot-section">
    <!--Left Panel-->
    @Html.Partial("~/views/store/_asidestoremanagepanel.cshtml")
    <!--Main Container-->
    <section class="main-container">
        @using (Html.BeginForm("SaveRobotsTxt", "Store", FormMethod.Post, new { id = "formRobotsTxt" }))
        {
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.RobotsTxtContent, new { @data_test_selector = "lblRobotsTxtContent" })
                    </div>
                    <div class="control-md">
                        @Html.TextAreaFor(model => model.RobotsTxtContent, new { @rows = "20", @data_test_selector = "txtRobotsTxtContent" })
                        @Html.ValidationMessageFor(model => model.RobotsTxtContent, "", new { @data_test_selector = "valRobotsTxtContent" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.DefaultRobotTag, new { @data_test_selector = "lblDefaultRobotTagValue" })
                    </div>
                    <div class="control-md">
                        @Html.EnumDropDownListFor(model => model.DefaultRobotTag, new { @data_test_selector = "drpDefaultRobotTagValue" })
                        @Html.ValidationMessageFor(model => model.DefaultRobotTag, "", new { @data_test_selector = "valDefaultRobotTagValue" })
                    </div>
                    @Html.Partial("_HelpText", Admin_Resources.DefaultRobotTagHelpText)
                </div>
            </div>
            @Html.HiddenFor(model => model.PortalId)
            @Html.HiddenFor(model => model.RobotsTxtId)
            @Html.HiddenFor(model => model.DefaultRobotTag)
        }
    </section>
</div>
