﻿@model Znode.Engine.WebStore.ViewModels.ECertificateListViewModel
<div class="col-xs-12 list-container margin-top nopadding">
    <div class="col-xs-12 nopadding">
        @if (Model.List?.Count > 0)
        {
            int rowNum = 1;
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>From</th>
                            <th>eCertificate Number</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ctfk in Model.List)
                        {
                            <tr>
                                <th>@(rowNum++)</th>
                                <th></th>
                                <th>@ctfk.CertificateKey</th>
                                <th>@ctfk.Balance</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @*@Html.Partial("_DynamicGrid", Model.GridModel)*@
    </div>
</div>