﻿@using Znode.Engine.WebStore.Agents

@{
 bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
    bool IsRequestValid = Request.IsAuthenticated;
    string _category = ViewBag.category;
    int _categoryId = ViewBag.categoryId;
    bool _viewAll = ViewBag.viewAll;
    bool _fromSearch = ViewBag.fromSearch;
    bool _bindBreadcrumb = false;
    string _FacetGroup = HttpUtility.UrlEncode(ViewBag.facetGroup);
    string _listSort = ViewBag.sortList;
    int pageSize = Convert.ToInt32(Request.QueryString["pagesize"]);
    int pageNumber = Convert.ToInt32(Request.QueryString["pagenumber"]);
<label id="IsLoginUser" hidden>@IsLoginUser</label>
 <label id="Request" hidden>@IsRequestValid</label>
    Html.RenderAction("CategoryContent", "Category", new { category = _category, categoryId = _categoryId, viewAll = _viewAll, fromSearch = _fromSearch, publishState = PortalAgent.CurrentPortal.PublishState, bindBreadcrumb = _bindBreadcrumb , facetGroup = _FacetGroup, sort = _listSort, pageSize = pageSize, pageNumber = pageNumber });

    ViewBag.Title = TempData["Title"];
    ViewBag.Keywords = TempData["Keywords"];
    ViewBag.Description = TempData["Description"];
    ViewBag.CanonicalURL = TempData["CanonicalURL"];
    ViewBag.RobotTag = TempData["RobotTag"];

    }

    @section scripts{
        <script src="~/Scripts/lib/infiniteScroll.js" async></script>
    }
<script>
   $(document).ready(function () {
       var isLoginUser = $("#IsLoginUser").text();
       var isRequestValid = $("#Request").text();
      // alert("IsLoginUser=" + $("#IsLoginUser").val());
      // alert(isLoginUser);
       if (isLoginUser == 'False' || isRequestValid == 'False') {
           $(".price").each(function () {
               $(this).html('');
           });

       }
     
   });
</script>