﻿@using Znode.Engine.WebStore.ViewModels
@model IEnumerable<CategorySubHeaderViewModel>
@foreach (var subCategory in Model)
{
<li>      
<a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" itemprop="url"> @WebUtility.HtmlDecode(subCategory.CategoryName)</a>
@if (subCategory.ChildCategoryItems.Count > 0)//!Equals(subCategory.ChildCategoryItems, null) && 
{<ul class="sub-menu-child">@Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)</ul>}
</li>
}      
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" itemprop="url">Dropdown</a>
<ul class="dropdown-menu"><li><a href="#">Action</a></li></ul>
</li>                                     