﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model OrdersViewModel

@if (!Equals(Model, null))
{
    <div class="main-wrapper">
        <div class="container">
            <div class="row checkout-reciept">
                <div class="col-sm-12 nopadding">
                    <h4>Thank You For Your Purchase</h4>

                    <p>
                        <i class="zf-caret-right"></i>&nbsp; Your order number is <strong>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId">#@Model.OrderNumber</a>
                            }
                            else
                            {
                                <span>#@Model.OrderNumber</span>
                            }
                        </strong>
                    </p>

                    <p>
                        <i class="zf-caret-right"></i>&nbsp; An email receipt has been sent to <strong>@Model.EmailAddress</strong>, please keep this email for your records.
                    </p>
                    <div><a href="/CaseRequest/customerfeedback">@WebStore_Resources.TextCustomerFeedback</a></div>

                    <div class="margin-top-bottom">
                        <a href="/" class="btn-text btn-bg-primary pull-right">Continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.TrackingPixelHtml(ZnodePortalTrackingPixelEnum.CJ.ToString(), new object[] { Guid.NewGuid().ToString(), Helper.GetPixelId(ZnodePortalTrackingPixelEnum.CJ.ToString())?.Split(',')?.First(), Helper.GetPixelId(ZnodePortalTrackingPixelEnum.CJ.ToString())?.Split(',')?.Last(), Model.CurrencyCode, Model.OmsOrderId, Model.OrderLineItemQueryString }, Model.OrderLineItemQueryString)
}

@* To DO - Need to move in checkout.ts *@
<script>
    $(document).ready(function () {
        $(window).scrollTop(0);
    })
</script>
