﻿@using Znode.Engine.WebStore.ViewModels;
@model  SearchRequestViewModel
@{
    //Check if category ID is present or not
    if (Model.CategoryId <= 0)
    {
        ViewBag.Title = "Search";
    }
}
<div id="layout-category" data-category="@Model.SearchTerm" data-categoryId="@Model.CategoryId" class="main-wrapper">
    <div class="container">
        <div class="row">
            <aside class="col-xs-12 col-sm-3 side-bar">
                 @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <div class="col-xs-12 col-sm-9 category-landing-container search-page">
                <div data-test-selector="divSearchResult">
                        @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);} 
                </div>
            </div>
            <div class="col-xs-12 nopadding">
                <z-widget class="category-recent-view-list">@Html.WidgetPartial("RecentlyViewProduct", "Recently View Product", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
            </div>
        </div>
    </div>
</div>

