﻿@using Znode.Engine.Admin.Helpers
@using Znode.Engine.Admin.ViewModels
@model LogMessageListViewModel

@{
    var selectedValue = @Model.GridModel.FilterColumn.FilterColumnList.FirstOrDefault(x => x.ColumnName == AdminConstants.DateTimeRange)?.Value;
}

<div id="dateTimeRangePicker" class="col-xs-8 nopadding date-timepicker-section" data-test-selector="divDateTimeRangePicker">
    <input type="text" id="hdnDateTimeRange" name="" form="searchform" value="" selected-filter-value= "@selectedValue" default-date-format="@HelperMethods.GetStringDateFormat()" default-time-format="@HelperMethods.GetStringTimeFormat()" hidden />
    <div class="col-xs-12 nopadding time-picker-date"><input type="text" id="dateTimeRange" data-test-selector="txtDateTimeRangePicker" disabled /></div>
    <div class="col-xs-12 nopadding time-picker-range">
        <div id="reportrange" class="total-date-range">
            <i class="z-calendar"></i><span></span><i class="z-down"></i>
        </div>
    </div>   
</div>

@Scripts.Render("~/bundles/DateTimeRangeFilter")
