﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
@{
    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();
    string pageno = Request.QueryString["pagenumber"]?.ToString();
    if (pageno == null)
    {
        pageno = "1";
    }
    string productCount = "";
    string searchResult = "";
    if (searchTerm != null)
    {
        string s = Model.SearchResultCountText.ToString();
        productCount = s.Split(new string[] { "for" }, StringSplitOptions.None)[0];
        searchResult = "We found " + s + " in SEARCH";
    }
    else
    {
        productCount = Model.SearchResultCountText.ToString();
    }
}
<div id="layout-paging">
    <div class="search-paging col-xs-12 col-sm-12 nopadding">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 nopadding search-pagination">
            <ul>
                <li class="search-more-nav arrow-left"><a data-test-selector="linkArrowLeftBottom" class="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Previous"><i class='zf-arrow-left-big'></i></a></li>
                <li class="search-more-nav AWCT_paging"><span>  @pageno </span> </li>
                <li class="search-more-nav arrow-right"><a data-test-selector="linkArrowRightBottom" class="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button" title="Next"><i class='zf-arrow-right-big'></i></a></li>
                <li class="AWCT_paging_outof">of @Model.TotalPages</li>
            </ul>

            @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 nopadding pull-right">
            @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
        </div>
        <div class="col-xs-4 nopadding">
            @Html.Partial("../Search/_FooterPaging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
        </div>
    </div>
</div>
 @*<div id="layout-search">
    <div class="search-sorting col-lg-3 col-md-3 col-sm-3 col-xs-4 text-right nopadding pull-right">
           @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2", @class = "pull-right" }))
    </div>
</div>*@